[2013-02-25 11:11] icy opened #1 "input engine"
- Compare input engine (scim, ibus, xvnkb, bogo)
- Suggest the best engine
- Suggest the features needed to be improved

[2013-02-25 14:36] NgoHuy commented on #1
#### Compare input engine
- **Ibus**:
  - **Advantage**: easy to install, configure and support multi-languages
  - **Disadvantage**: no configure for different windows ( share the same input engine as default ). Making user annoy because of preedit feature.
  - **Engine**:
    - _Ibus-unikey_: preedit feature, checking non-Vietnamese words. Stable and Avaiable on Arch community repo.
    - _Ibus-

[2013-02-25 14:57] lewtds commented on #1
IBus and SCIM are input method managers/multiplexers and they come with unikey flavors and BoGo for IBus. xvnkb wouldn't be so hard to install if it comes pre-installed by default.

I think ibus-bogo is the way to go (please feel free to ignore my opinions as I'm the main developer) for being relatively fresh, actively developed, easy to install/configure and open to changes. The obvious downside

[2013-02-25 15:24] NgoHuy commented on #1
Xvnkb requires ld-preload. And it's difficult for users to change input method ( vni,telex) or remove from the system. We will build PySide on our server and provide binary if neccessary ( installed as default package). If Ibus-bogo has checking non-Vietnamese feature, it shoud be default feature as unikey returns English if not Vietnamese words.
_Preediting's not disabled_  I will remember this :

[2013-02-25 15:56] lewtds commented on #1
I think it's best to make the original keystrokes an optional selectable choice shown when typing non-VNmese as it would be impossible for users to determine whether a keystroke sequence like `s+y+s+t+e+m` would yield "system" or "sýtem" after they press the spacebar as in the current ibus-unikey's implementation.

[2013-02-25 16:11] NgoHuy commented on #1
I see :-)

[2013-03-01 17:44] NgoHuy opened #2 "[UEFI] Efi ia32 hung on boot in virtualbox"
I built iso file successfully, it works fine with x64 system but hangs on i686 virtual machine.

[2013-03-02 15:35] NgoHuy commented on #2
I built gummiboot on i686 machine. It boots fine. Done make iso image !

[2013-03-03 03:25] icy commented on #1
Huy có thể viết bằng tiếng Việt cho khỏe. Huy cần so sánh tốt hơn, về
nguyên lý thiết kế, lập trình, lý do,...

Tất nhiên mình sẽ chọn bộ gõ nào cũng được đứng từ phía người dùng. Các
bộ gõ chỉ nên đề xuất và cho phép người dùng lựa chọn. Ví dụ kiểu gõ
Telex trên nhiều bộ gõ rất bất tiện khi định nghĩa lại [ và ] hoặc w
(thành ư). Điều này KHÔNG NÊN làm từ bộ gõ, mà nên làm từ phía người
dùng.

Cũ

[2013-03-03 04:43] icy commented on #2
UEFI  ssẽ là một `experimental feature`. Anh muốn chắc là kiểu boot
bình thường sẽ không ảnh hưởng gì và `stable` ngay cả khi có thể có
kiểu `UEFI`. Mình sẽ thiên về `syslinux` (có thể dùng bản beta của nó)
hơn là `grub2`.

Huy chuẩn bị các tài liệu kỹ thuật và yêu cầu phân vùng,...; A sẽ có
repo riêng để e gửi tài liệu tạm thời Huy cứ chuẩn bị tài liệu và giữ ở
máy cá nhân (nhớ backup:D). Có thể

[2013-03-03 05:21] lewtds commented on #1
Vào 10:25 Ngày 03 tháng 3 năm 2013, icy notifications@github.com đã viết:

Các bộ gõ đều có các chế độ TELEX khác nhau. VD trong Unikey thì Simple Telex
là TELEX gốc, Simple Telex 2 là TELEX có thêm chữ w -> ư, Telex thì có thêm ][.

Nhưng em cũng thấy ý kiến này của bác rất hay. Chỉ nên có một Telex và
các tính năng
kia ở dạng optional. Tuy nhiên, do quá trình sử dụng Telex có tính
năng phụ trợ c

[2013-03-03 05:28] lewtds commented on #1
Những vấn đề về BoGo mong các bác bàn trên issue của BoGo để nhóm phát triển BoGo dễ theo dõi hơn.

[2013-03-03 06:43] NgoHuy commented on #2
On 03/03/2013 11:43 AM, icy wrote:

[2013-03-03 19:36] icy opened #3 "Thiết kế logo"
Tạo một logo đơn giản cho dòng G1

[2013-03-03 19:41] icy commented on #3
M ơi e coi giúp anh được không :) Hoặc giới thiệu cho anh cách!

[2013-03-03 20:34] mitsukiAR commented on #3
là sao ạ? em ko hiểu gì hết anh ơi @___@!!!

2013/3/4 icy notifications@github.com

[2013-03-04 00:51] icy commented on #3
Ah a nhờ em làm cái logo cho Slinux đó mà :) Để khi gặp em trên kênh
irc a sẽ nói rõ hơn

On Sun, 03 Mar 2013 12:34:36 -0800
Mitsuki Rainde notifications@github.com wrote:

##

I am ... 5 dog years old.

[2013-03-04 13:20] icy opened #4 "detect the extra unused space on disk"
When using `dd` to transfer iso image to a flash disk, there may be some extra unused space on the disk bc the disk's size is greater than image's size

[code]

We need to detect that case, and create a new partition if possible

[2013-03-04 13:20] icy opened #5 "detect the extra unused space on disk"
When using `dd` to transfer iso image to a flash disk, there may be some extra unused space on the disk bc the disk's size is greater than image's size

[code]

We need to detect that case, and create a new partition if possible

[2013-03-04 13:21] icy commented on #4
duplicated #5

[2013-03-04 13:21] #4 closed, assigned to NgoHuy

[2013-03-06 06:27] NgoHuy commented on #2
UEFI chỉ hỗ trợ đúng kiến trúc của nó, tức là nếu máy là 64bit thì chỉ chạy được UEFI file 64bit không thể chạy được 32 nữa. Nếu chỉ hỗ trợ i686 thì tạm thời chỉ hỗ trợ UEFI cho i686 (nhưng phần lớn UEFI mới đều là 64bit- xu thế từ bỏ dần 32bit).

[2013-03-06 06:32] NgoHuy commented on #5
We can use bs and count options to dd image.

[2013-03-06 14:18] NgoHuy opened #6 "TODO for G1"
- Packages list
- EFI: support i686 or x64
- Configure file for E17, bashrc, profile, ibus.
- dd or other method makes usb/cd image.

[2013-03-06 15:02] icy commented on #6
On Wed, 06 Mar 2013 06:18:11 -0800
Ngô Huy notifications@github.com wrote:

Em có thể dùng phần wiki của github để sọan phần TODO, tuy nhiên TODO
này có tính cá nhân nhiều hơn. Hệ thống ticket thì dùng để đưa ra các
vấn đề cụ thể cần giải quyết, và _không nên gộp chung_ nhiều cái vào
một chủ để thế này (off-topic)

##

I am ... 5 dog years old.

[2013-03-06 15:07] icy commented on #2
On Tue, 05 Mar 2013 22:27:49 -0800
Ngô Huy notifications@github.com wrote:

Bộ cài 32 bít vẫn có thể cài đựoc trên máy 64 bit, trong khi ngược lại
thì không. Do đó tạm thời chưa tính tới bản 64 bít. Nếu gặp trục trặc
với UEFI thì tạm thời bỏ UEFI qua một bên.

[2013-03-10 10:32] icy opened #7 "bootstrap script"
- Write the bootstrap script

[2013-03-10 10:33] icy opened #8 "Build system"
Prepare the build system

[2013-03-10 10:33] icy opened #9 "Filesystem layout"
Fix filesystem layout & Write documentation

[2013-03-10 10:34] icy opened #10 "Package and Repository system"
Create repository system and package system

[2013-03-10 10:34] icy opened #11 "Request project's mirror at FPT"
Create mirror at FPT repository

[2013-03-10 10:35] icy opened #12 "SSL certificate"
- Request for some donation
- Buy SSL certificate for the main domain https://security.theslinux.org/

[2013-03-10 10:37] icy opened #13 "LUKS bootstrap script"
Write a script to create LUKS partition in the first boot

[2013-03-10 10:40] icy commented on #6
Dùng wiki thay vì ticket system Huy nhé.

[2013-03-10 10:40] #6 closed, assigned to nobody

[2013-03-11 12:06] icy opened #14 "e17-svn build script"
*Write script to build e17 from svn

[2013-03-11 12:07] icy opened #15 "auto-mount support"
Find a good tool (GUI is welcome) to mount all knơwn partitions on the system

[2013-03-11 12:29] icy commented on #14
See also http://archlinuxvn.org/s/icy/e17/build.script (this script is very out-of-date)

[2013-03-12 00:57] icy commented on #5
Huy coi thêm về `sfdisk`. Mục tiêu là tạo thêm một phân vùng mới thêm vào khoảng không gian trống tạo ra bởi lệnh `dd`.

[2013-03-12 00:58] icy commented on #5
Cứ lấy ảnh của `archlinux` rồi dùng `dd` sao qua một `usb` 2Gb sẽ thấy ngay.

[2013-03-12 14:26] NgoHuy commented on #15
file manager such as nautilus can do it

[2013-03-12 15:04] icy commented on #15
On Tue, 12 Mar 2013 07:26:17 -0700
Ngô Huy notifications@github.com wrote:

có phải bê nguyên gnome vào không em? auto-mount thì không cần mấy cái
to đùng thế đâu em, chưa kể cách cấu hình của nautilus khó mà theo ý
của em được.

check lại giúp a nhé.

##

I am ... 5 dog years old.

[2013-03-12 15:31] NgoHuy commented on #15
không phải bê nguyên Gnome đâu anh.
Em nhận xét thấy cũng cần file manager tiện dùng hơn file managfer mặc định của E17. Ngoài nautilus, ta còn có Thunar nhẹ hơn, nhanh hơn nautilus.

[2013-03-13 05:32] NgoHuy commented on #5
em chuyển qua cfdisk, dd + cfdisk, em sẽ viết một đoạn mã ngắn kiểm thử

[2013-03-13 05:58] icy commented on #5
On Tue, 12 Mar 2013 22:32:52 -0700
Ngô Huy notifications@github.com wrote:

lập trình scripting được với cfdisk và dd không em?

##

I am ... 5 dog years old.

[2013-03-13 06:00] NgoHuy commented on #5
theo thamm số của cfdisk thì được anh ah, em đang viết thử

[2013-03-13 06:07] icy commented on #5
On Tue, 12 Mar 2013 23:00:41 -0700
Ngô Huy notifications@github.com wrote:

E nên xem qua `sfdisk` trước đi. `cfdisk` thích hợp để dùng
`interactive` nhưng để kiểm soát lỗi và và lấy đầy đủ thông tin về ổ
đĩa thì `sfdisk` tốt hơn. Chữ `s` trong tên của nó chỉ mục đích của nó:
dùng để viết script.

##

I am ... 5 dog years old.

[2013-03-13 06:08] icy commented on #5
On Tue, 12 Mar 2013 23:00:41 -0700
Ngô Huy notifications@github.com wrote:

Dùng `parted` cũng ok vì hỗ trợ của nó nhiều hơn (ví dụ `gpt`)

[2013-03-13 14:42] NgoHuy commented on #14
e17 đã chuyển từ svn sang git. Hiện em đang build từ git, không hiểu sao bản svn không tìm thấy các gói cần thiết trong repo nữa.
- Svn: http://trac.enlightenment.org/e/browser/trunk?order=date
- Git: http://git.enlightenment.org/

Hiện tại cấu trúc git thay đổi khá nhiều bởi việc gom các thư viện làm một chuẩn bị chi e18.

[2013-03-14 01:33] icy commented on #14
On Wed, 13 Mar 2013 07:42:44 -0700
Ngô Huy notifications@github.com wrote:

Em coi tài liệu dành cho Developer của e17 nhé. Nếu chưa đúng thì lên
#e17 hỏi thêm.

##

I am ... 5 dog years old.

[2013-03-14 09:53] NgoHuy opened #16 "Booting fail with 2 partitions on usb"
Khi dùng dd + fdisk, việc phân vùng diễn ra đúng như mong muốn, tuy nhiên khi boot lên thì hầu hết thất bại do nhận sai phân vùng boot sang phân vùng mới tạo.
- Đề nghị giải quyết: thêm tham số vào kernel boot chỉ rõ phân vùng boot

[2013-03-14 11:27] icy commented on #16
On Thu, 14 Mar 2013 02:53:22 -0700
Ngô Huy notifications@github.com wrote:

Tham số này là là thế nào? Ai thêm vào? Huy cho thêm ví dụ cho rõ nhé.
Thanks

[2013-03-14 11:31] icy commented on #15
On Tue, 12 Mar 2013 08:31:41 -0700
Ngô Huy notifications@github.com wrote:

Cái nào ra cái đó em. Auto-mount chỉ cần một lần, khi khởi động bật máy
lên thì tát cả các phân vùng trên máy sẽ tự động kết nói vào. (Nếu có
gắn thêm USB khác vào thì hehe mình tính chuyện khác !?) Việc này không
cần làm qua Nautilus hay Thunar. Có thể viết một daemon hoặc một
cron-based job để tự kết nối các đĩa trên máy

[2013-03-14 11:48] NgoHuy commented on #15
Các hướng giải quyết thì có udev rules, ta viết một file udev chỉ định khi các usb/removal devices được gắn kết thì sẽ thực hiện một hành động/script nào đó. Một hướng khác là cài udisks. Tuy nhiên udisks có vẻ không hiệu quả bằng udev rules khi auto mounts.

[2013-03-14 11:56] NgoHuy commented on #16
Là mình tự thêm vào khi chỉnh sửa syslinux.cfg. Thay vì tham số archisolabel ( tự gắn symlink tới phân vùng có
nhãn đó) thì thêm tham số archisodevice=/dev/sdbX  để chỉ rõ root nằm ở phân vùng nào (hoặc earlymodules=loop). Vì khi boot đôi khi việc gắn nhãn bị sai (em đang tìm hiểu vì sao gắn sai)
- Boot process: https://wiki.archlinux.org/index.php/Arch_Boot_Process
- Mkinitcpio: https://wiki.arch

[2013-03-14 12:03] icy commented on #16
On Thu, 14 Mar 2013 04:56:10 -0700
Ngô Huy notifications@github.com wrote:

Em coi cách làm của các liveCD/USB. Nếu mình phải gán thêm cái tham số
cho kernel lúc khởi động thì coi như vứt, chả ma nào xài.

##

I am ... 5 dog years old.

[2013-03-14 12:04] icy commented on #15
On Thu, 14 Mar 2013 04:48:48 -0700
Ngô Huy notifications@github.com wrote:

Cần phân biệt 2 bài tóan khác nhau nhé. Các ổ cứng trên máy tính thì
không cần un-mount, Các ổ USB gắn thêm, thì sẽ phải có hỗ trợ để người
dùng unmount trước khi rút đĩa ra. Cái này hơi phức tạp :D

##

I am ... 5 dog years old.

[2013-03-14 12:46] NgoHuy commented on #16
Từ từ detect lỗi đã anh, bước phân vùng coi như tạm ổn :dancers:

[2013-03-16 03:43] NgoHuy commented on #16
Done ! cần tạo label cho phân vùng data để tránh mount nhầm vùng data, boot tốt.

[2013-03-21 08:36] #16 closed, assigned to nobody

[2013-03-21 08:37] #1 closed, assigned to NgoHuy

[2013-03-22 16:47] icy opened #17 "m17n custom + fix"
- điều chỉnh để thu gọn gói m17n
- chỉnh các gõ tắt phiền toaí

[2013-03-22 16:48] icy opened #18 "Performance test"
- Kiểm tra tốc độ đọc , ghi của USB (có LUKS)
- Kiểm tra tốc độ làm việc của firefox / office tool

[2013-03-22 16:54] NgoHuy commented on #18
Đã nhận, Luks đang tiến hành, Firefox/Office sẽ có bản record trong tuần tới.

[2013-03-25 15:56] #2 closed, assigned to nobody

[2013-03-25 16:00] NgoHuy commented on #7
It relates hooks. I will write some hooks to testing.

[2013-03-25 16:00] NgoHuy commented on #13
I wrote it on I created live usb.
https://github.com/NgoHuy/My-Project-/blob/master/parted

[2013-03-25 16:02] NgoHuy commented on #5
Em dùng fdisk phân vùng khá tốt. Với lại em cho rằng usb cũng không cần thiết phân gpt
https://github.com/NgoHuy/My-Project-/blob/master/parted

[2013-03-26 15:08] icy opened #19 "m17n clean up"
Thư viện `m17n` có quá nhiều ngôn ngữ không cần thiết. Tạo một gói con để ví dụ `m17n-data-vi` chỉ gồm các ngôn ngữ hay dùng, ví dụ tiếng Việt, tiếng ANh (en_US, en_UK)

[2013-03-26 15:09] icy commented on #19
Sau phần clean up sẽ chỉnh một số vấn đề của m17n, xem trong #17

[2013-03-26 15:13] icy commented on #17
Trong m17n thì chữ w gõ thành ư , nên khi tõ chữ swap thì rất ư là khó chịu. Việc gõ tắt như vậy khong cần thiết. Chỉ cần cung cấp bảng gõ theo đúng kiểu telex đơn giản nhất. Những vấn đề khác sẽ được xử lý theo cách khác.

[2013-03-26 15:14] icy commented on #12
Tạm thời sẽ không cần vì sẽ dùng SSL certificate của Github :D

[2013-03-26 15:17] icy commented on #18
Huy lưu trữ các số liệu kiểm tra, ghi rõ cách thực hiện các kiểm tra, khi cần sẽ dùng vào các bài trình diễn hoặc có thể tiến hành kiểm tra lại nhé. Tạm thời chỉ đánh giá sơ bộ về khả năng .

[2013-03-26 15:17] #18 closed, assigned to NgoHuy

[2013-03-26 15:18] NgoHuy commented on #17
Đã nhận và sẽ xử lý.

[2013-03-27 10:48] icy opened #20 "Thử nghiệm Google Authenticator"
http://code.google.com/p/google-authenticator/wiki/PamModuleInstructions

[2013-03-27 11:09] NgoHuy commented on #20
cách đây 1 năm, em cũng tí tởn với nó và giờ là nghiêm túc với nó :-D

[2013-03-28 10:25] NgoHuy commented on #17
Solution:
- comment dòng 61-62 file vi-telex.mim.
- Chọn ngôn ngữ gõ chỉnh sửa makefile để chọn thay vì tất cả.

[2013-03-28 12:20] icy commented on #17
Nếu dùng PKGBUILD riêng thì em bỏ lên REPOs nhé không cần report lại
đây. Nếu ok em có thể tự đóng ticket ^^

##

I am ... 5 dog years old.

[2013-03-29 00:34] icy commented on #20
Cái này làm cho biết khi cần áp dụng . Chắc không đi với LUKS được nhé Huy.

[2013-03-29 00:35] icy commented on #17
@Huy: Cần làm miếng vá chứ không chỉnh bằng tay nhé Huy. Anh nghĩ là chỉnh trong `Makefile.in` chứ không hải là `Makefile` đâu. Có gì cho biết nếu gặp khó khăn.

[2013-03-29 00:38] icy commented on #19
Tên gói `m17n-data-vi`. Có cả `m17n-lib` nhưng anh không rõ có phải dùng tới nó không.

[2013-03-29 00:41] icy commented on #7
Hiện tại quá trình `bootstrap` thực hiện từ `ArchLinux` chứ không phải `Debian` như dự kiến ban đầu. Sẽ xây dựng hệ thống `puppet` (hoặc tương tự) để quản lý cấu hình của các máy sử dụng.

[2013-03-29 02:03] NgoHuy commented on #20
Em lâu lâu nghĩ vào thứ vở vẩn thôi anh, không đi với Luks được :-D

[2013-03-29 02:04] NgoHuy commented on #17
@icy  em làm miếng vá mà, file makefile.am và cả .in nữa hai file này generate ra file Makefile.

[2013-03-29 02:12] NgoHuy commented on #19
Có anh, nó là "Multilingual text processing library (runtimes)".
m17n-lib lấy m17n-db để xác định ngôn ngữ, m17n-lib có mặc định anthy và libthai, có bản vá để loại bỏ anthy và libthai

[2013-03-29 11:41] NgoHuy commented on #19
Em đã viết patch tại đây: http://severus.no-ip.org:8080/Archlinux/m17n-vi/
Hiện tại còn Font layout của m17n-db em giữ nguyên các loại font không phải tiếng Việt và keymap.

[2013-04-05 14:27] icy commented on #19
Khkông vào đựoc em ơi. Trang web rớt lên rớt xuống thế thì đừng bỏ lên đây nhé.

A đã làm trong repo `theslinux-buildsystem` rồi, em có thể kiểm tra trong nhánh `m17n-db-vi`. Em muốn chỉnh gì thì fork về tạo nhánh riêng dựa trên nhánh đó rồi tạo miếng vá rồi gửi email cho anh (Tạm thời là vậy) hoặc gửi vào ticket này.

[2013-04-05 14:27] #19 closed, assigned to NgoHuy

[2013-04-05 14:28] icy commented on #17
Việc đổi chữ `w` này cũng chỉ khắc phục được một số trở ngại thôi, còn lại vẫn phải đau đầu với `tow`. Nếu gõ bằng `telex` thì a không rõ làm thế nào để gõ nhanh từ đó cả.

[2013-04-05 14:39] NgoHuy commented on #19
Em xin lỗi, em đã tắt server luôn rồi. Em sẽ fork repo rồi commit vào
Hiện đây là patch và PKGBUILD mới
http://www.mediafire.com/?96ub16duff2kut2

[2013-04-05 14:47] icy commented on #19
Em `clone` về rồi tạo nhánh riêng

[code]

Google thêm về `git` nhé.

[2013-04-05 14:48] icy commented on #19
Em không có quyền ghi vào `repo` chính nên phải thông qua miếng vá. Khi nào a `push` kho lên `github` thì sẽ tạo `pull request` dễ dàng hơn.

[2013-04-05 14:56] NgoHuy commented on #19
Ok anh, em đã nhận. Các gói khác em cũng sẽ xem và viết patch nếu cần gửi anh sau.

[2013-04-05 14:59] icy commented on #19
Hầu hết các gói khác a `import` đều đã chỉnh sơ em có thể dùng ngay. Cái nào cần chỉnh sẽ có ticket ở trên này truớc để khỏi làm lung tung dẫm chân nhau. Em cần làm gì cũng để `ticket` trên này trước để a theo dõi.

[2013-04-05 14:59] icy commented on #19
Khi `pull` về em nhớ dùng `rebase`. Chạy lệnh `git pull --rebase`

[2013-04-05 15:02] icy opened #21 "Find the best mailing list provider"
Description: We need to use some mailing list for the project. Google is the first option but there are some other options (yahoo, nabble, freelists.org). Please take a look and suggest the best service for our mailing lists.

Expectation:
- free list
- no avertising
- there is a way to manage users (ban, block, add, remove)
- (optional) can support  our own domain (foobar@theslinux.org)

[2013-04-05 15:08] NgoHuy commented on #19
em có quyền commit vào repo đâu anh sợ em làm bậy :D. Với lại, muốn thay đổi thì em sẽ luôn tạo issue phân tích trước mà :-)

[2013-04-05 15:17] icy commented on #19
On Fri, 05 Apr 2013 08:08:45 -0700
Ngô Huy notifications@github.com wrote:

không sợ e `commit` lên nhưng nếu dùng không đúng quen tật khó chữa.

##

I am ... 5 dog years old.

[2013-04-05 15:19] NgoHuy commented on #19
éc :+1:

[2013-04-06 18:07] xiongchiamiov commented on #21
You may also consider [Librelist](http://librelist.com/) - I haven't used it myself, but it's a very simple hosted list solution run by Zed Shaw.

[2013-04-07 04:23] icy commented on #21
On Sat, 06 Apr 2013 11:07:24 -0700
James Pearson notifications@github.com wrote:

Cool :) That really helps I will take a look.

Fyi, my first try was to use Nabble (simple and elegant). Unfortunately
it requires us to pay to remove banner(s). Payment is acceptable, but
Nabble doesn't support SSL and has quite unclear description in the
homepage (Actually I though I was trapped)

##

I am ... 5 do

[2013-04-07 04:24] icy commented on #19
On Fri, 05 Apr 2013 08:19:10 -0700
Ngô Huy notifications@github.com wrote:

Bớt `éc` đi em . Tốn điện nóng trái đất quá :))

##

I am ... 5 dog years old.

[2013-04-09 11:15] icy opened #22 "Clean hotkey + provide good hotkey support for uim-vi"
I've pushed a new patch for `uim-vi` at https://github.com/TheSLinux/buildsystem/tree/uim-vi/uim-vi

Please compile and install this package on your computer, and configure it in the best way that you want to use `uim`.

All user's configuration is stored in `~/.uim.d/`, so you need to remove/backup your old configuration before starting brand new configuration for `uim-vi`. After that you use the

[2013-04-09 11:20] icy opened #23 "g1 to be moved to gs"
Because github doesn't support `issue moving` (between projects) we need common name/project for all generations. So we need to move this project `g1` to `gs` (here `s` means there would be many generations). We will use `Milestone` in Github to specify generation then.

This is only a notification. When you're ready please let me know I will move the project.

Some old links (for example, links f

[2013-04-09 12:44] NgoHuy commented on #23
Okay. I'm ready

[2013-04-09 14:57] #23 closed, assigned to NgoHuy

[2013-04-12 14:05] icy commented on #21
- google group: advertising in main page, no downloadable archive, bad support (real experience)
- yahoo group:advertising
- librelist:good, using the very new mail server http://lamsonproject.org/
- freelists.org: stable, no adv., using Ecartis http://www.freelists.org/about.html

[2013-04-12 14:09] icy commented on #17
Chuyển qua dòng 2 vì cần tìm hiểu kỹ hơn về các kiểu gõ tiếng Việt cũng như các hỗ trợ hiện có trong #uim-vi

[2013-04-12 14:14] icy commented on #3
Phông đề nghị http://www.1001fonts.com/blackchancery-font.html#styles

[2013-04-12 14:27] icy commented on #21
I'd really like the name `theslinux-questions` but `librelist` doesn't allow that name ;)

[code]

[2013-04-12 14:58] icy commented on #3
Anh làm thử ở đây rồi @mitsukiAR  xem thử nhé https://github.com/theslinux/media

[2013-04-12 15:32] icy commented on #21
`librelist.com` is simple and (so simple). It doesnt' have advanced features of mailman or ecartis.

[2013-04-12 15:39] icy commented on #20
Dời qua #G2 vì cần kiểm tra kỹ các điểm hay - dở của tính năng này.

[2013-04-12 15:40] icy commented on #10
Đã tạo ra ở repository https://github.com/theslinux/buildsystem (cần cung cấp thông tin về chuẩn làm việc,...)

[2013-04-12 15:40] #10 closed, assigned to icy

[2013-04-12 15:46] icy opened #24 "Export, backup and mirror all issues on Github"
- Find a way to export issues from github, to
- Backup them
- Push them to any mirror on the internet (nabble ?)

[2013-04-13 07:39] icy commented on #21
We will use lists provided by http://www.freelists.org

[2013-04-13 07:39] #21 closed, assigned to icy

[2013-04-14 00:07] icy opened #25 "Configure mailing list, + documentation"
Related to #21 .
- Configure the lists (security, bugs, questions, hackers)
- Add English page for http://theslinux.org/lists/
- Prepare documentation
- Check if list archives are working

[2013-04-14 00:55] icy opened #26 "telex/uim: không gõ được từ English"
Huy kiểm tra lại giúp anh xem. Khôn gõ được từ đó :)

Ngoài ra cách phản ứng của w cũng khá lạ. Ví dụ khi gõ các từ **walker**, **w**, **woh** và **tow**

[2013-04-14 00:56] icy commented on #26
Trong các bộ gõ khác anh nhớ khi dùng phím nào đó thì sẽ tạm thời chấp nhận từ . Không rõ tính năng này trong `uim` là gì

[2013-04-14 02:40] NgoHuy commented on #26
anh phải bỏ check cái annotation dict server đi sẽ ổn

[2013-04-14 03:32] icy commented on #26
On Sat, 13 Apr 2013 19:40:55 -0700
Ngô Huy notifications@github.com wrote:

Anh không xài nó mà. Bộ em không bị sao hả !?

Gõ E.n.g.l.i.s.h (Kiểu xtelex) sẽ bị , chỉ còn `ish` thôi hehe

[2013-04-14 03:34] icy commented on #26
Xác nhận là anh vẫn bị với `UIM/xtelex` nhé, bất kể cài đặt của Annotation thế nào.

[2013-04-14 04:03] NgoHuy commented on #26
xác nhận là em cũng bị với nhiều từ vơi xtelex.

[2013-04-14 04:32] icy commented on #26
Cái này chắc để từ từ tìm hiểu xem, vì anh chỉ chuyển 1-1 từ bảng của `scim` qua. Tạm thời cứ dùng và đánh giá nó xem nhé. Nếu cần mình có thể chỉnh lại trong bản gốc thôi.

[2013-04-14 04:36] icy commented on #22
Huy đề nghị một số phím tắt cho tốt nhé. Mình sẽ ít thay đổi các phím tắt này.

Hiện anh đang dùng
- **Control Alt Blackslash**: để chuyển giữa các kiểu gõ (nhưng không bao gồm gõ Direct)
- **Super Escape**: để bật / tắt các bộ gõ (global setting)

[2013-04-14 04:37] icy commented on #26
Lưu ý là khi dùng `xtelex` thì gõ dấu thường là cuối từ. Đây là bộ tự điển riêng nên cũng có nhiều điểu không thống nhất, cần cải tiến nhiều.

[2013-04-14 04:38] icy commented on #24
Question: is there any way to add an external email to follow the discussion on Github?

[2013-04-14 10:39] NgoHuy commented on #26
có vẻ lỗi này cần remove các phím commit trong phần `global keybinding 1` để trống thì ổn. Em đang gõ xtelex và thấy ổn anh ah.
Vài chỗ là cần để dấu ngay sau nguyên âm thay vì tự do cần định nghĩa lại các từ không anh ?

[2013-04-14 10:50] icy commented on #26
Định nghĩa lại cũng dễ thôi nếu e thấy cần thiết và có ích. Đổi gì thì làm từ bản gốc

https://github.com/icy/myquartz-scim2uim/blob/master/src/Telex.txt.in

(anh không rõ bản này còn dùng trong Scim được không nhưng cách đổi bảng này thì rất đơn giản, sau đó dùng kịch bản anh viết để đổi qua bảng của `UIM`.)

[2013-04-14 10:53] icy opened #27 "uim: Thêm tuỳ chọn cho kiểu gõ xtelex, xvni"
Giống như hỗ trợ  `m17nlib` có thiết lập để lựa chọn chế độ mặc định là `on` hoặc `off`, nên thêm tuỳ chọn tương tự đối với hai kiểu gõ `xtelex` và `xvni`.

[2013-04-14 11:20] icy opened #28 "Git training"
Help developers to use Git effectively

[2013-04-17 04:38] vothailam commented on #28
Chưa thấy có lịch cụ thể nhỉ?

[2013-04-17 06:47] icy commented on #28
On Tue, 16 Apr 2013 21:38:38 -0700
vothailam notifications@github.com wrote:

Hi Lâm đang chuẩn bị tài liệu và có thể dời lại, mình sẽ thông báo sớm.
Do Huy đang bận thi nữa nên chưa vội :D

##

I am ... 5 dog years old.

[2013-04-17 07:17] icy commented on #28
(Mình định tuần này mà quên mất tuần này với tuần sau đều trúng dịp lễ nên thôi :D)

[2013-04-17 10:25] icy commented on #26
Có thể đã tìm ra nguyên nhân và sẽ khắc phục sớm.

[2013-04-17 10:52] icy commented on #26
Ví dụ, với bản điều chỉnh đã có thể gõ được từ Apache (ache, acht, ..) nhưng trong bản cũ không thể gõ được các từ này.

[2013-04-17 12:32] icy commented on #25
English page can be found at http://theslinux.org/lists/en/ . I don't know how to add link to other page (`other` means the Vietnamese page.) Possibly need a nginx module and/or some javascript tricks on client side.

[2013-04-17 12:33] #25 closed, assigned to icy

[2013-04-17 16:03] icy commented on #26
Anh đã fix được lỗi :D kết quả rất khả quan, bây giờ có thể gõ các từ English, Apache, ... bình thường. Em coi trong kịch bản `/bin/find_missing.rb`.

Kết quả để trên repo chính https://raw.github.com/TheSLinux-forks/myquartz-scim2uim . Để sử dụng cần
- Lấy gói `uim-vi` mới nhất
- Xóa đi các tập tin `Telex.txt.in`, `VNI.txt.in` và `scim2uim.rb` do `makepkg` tải về từ lần đóng gói trước đây.

(Đây

[2013-04-17 16:05] icy commented on #26
Các thử nghiệm trực tiếp: Walker, wow, tow, how, english, ache, apache, memory, markdown

[2013-04-17 16:25] icy commented on #26
Vài hướng dẫn cho Hacker https://github.com/TheSLinux-forks/myquartz-scim2uim/blob/master/src/README.md

[2013-04-18 03:54] icy commented on #26
Gõ **Muốn** phải bỏ dấu sau. Kiểu này chưa thống nhất vì nhiều từ bỏ dấu sau và trước đều được. Ví dụ **Trước** có thể gõ cả dấu sau hoặc trước.

[2013-04-18 06:11] icy commented on #26
Lỗi với chữ **Muốn** đã khắc phục trong https://github.com/TheSLinux-forks/myquartz-scim2uim/commit/137419ca841c2c1fe1b88cab2cc8135525741e22

[2013-04-18 08:37] icy commented on #26
Gõ **software** hơi khó, sẽ ra **softưare** vì sử dụng định nghĩa cho **wa**. Đây là cách gõ nhanh, nhưng việc sử dụng **w => ư** là điều nên tránh vì sẽ làm việc gõ nhiều từ tiếng Anh khó khăn hơn.

[2013-04-18 09:34] icy commented on #26
Đã gõ nhanh được **software** nhờ bỏ đi định nghĩa gõ tắt **wa**. Xem trong https://github.com/TheSLinux-forks/myquartz-scim2uim/commit/5fc168b910b2e5eceede7276a4612d6f9904e8e9

[2013-04-18 09:45] NgoHuy commented on #26
Em đã lọc và bỏ hết từ có w thành ư. Hiện tại, cần lọc lại những từ không có hoặc không bao giờ đúng như Uốc =>> chữ Uốc viết hoa chữ U đứng riêng không có nghĩa hay Ãch,... ưỡp. Đồng thời em cũng bỏ inputpad trong toolbar của uim.

[2013-04-18 10:33] icy commented on #26
Nhớ pull về chỉnh rồi tạo pull request nhé . A mới push thêm nhiều đó.

[2013-04-18 14:30] NgoHuy commented on #22
Hiện tại em đang dùng:
- On/off: _Control_space
- Chuyển bô gõ: Alt+n

Các phím tắt khác hầu như không quan trọng nên giữ nguyên hoặc xoá sạch.

[2013-04-18 14:48] icy commented on #22
Bỏ **^Space** vì nó thường được dùng cho **autocompletion**. Em có thể
làm điều tra nho nhỏ với các bạn khác xem.

##

I am ... 5 dog years old.

[2013-04-19 11:54] icy commented on #22
Bộ phím tắt không cần chọn theo thói theo của em, mà chọn
- sao cho có thể dùng lâu dài, tới năm 2023 nếu có thể :)
- không đụng với bộ phím tắt của e17 (trong e17 sẽ có rất nhiều tổ hợp sẽ xây dựng lại)

[2013-04-19 12:01] icy opened #29 "e18 pre-defined profile"
E17 has a great and complex set of settings. We need to define some common aspects of our GUI, that
- is stable and won't be changed in a near future
- good and flexible
- support 8 virtual desktop by defaults
- has no border for some common applications
- remember the virtual desktop for some common applications

The common applications are some sample roups
- browser
- instant messenger (pidgin,

[2013-04-19 12:04] icy commented on #26
Không gõ từ **groups** tiếng Anh được. Gõ sẽ ra **groúps**. Cách khắc phục: Thêm định nghĩa **upss => ups**. Huy xem và chỉnh nhé

[2013-04-19 12:24] NgoHuy commented on #26
em chỉnh là oups -> oups như thế gõ sẽ không bị nhập 2 lần chữ s mà tiện gõ luôn .

[2013-04-19 12:28] NgoHuy commented on #22
đã nhận.

[2013-04-19 12:32] icy commented on #26
cái này không liên qua tới _o_, nên chỉ cần chỉnh cho **úps** thôi (nếu không sẽ không gõ được tên công ty **UPS**). Theo cách bỏ dấu ở sau (mình sẽ gần như hỗ trợ cả hai kiểu bỏ dấu phải không !?),  thì **ups** sẽ thành **úp** nên không hiểu cái Huy nói là gì !?

[2013-04-19 12:53] icy opened #30 "Chỉnh uim/xtelex theo các quy tắc thẩm mỹ"
1. Đọc các gợi ý về dấu thẩm mỹ trong bài viết http://sgtt.vn/Khoa-giao/135799/Viet-i-hay-viet-y.html (các bài khác có ở http://sgtt.vn/Chu-de/287/Index.html )
2. Triển khai các quy tắc về thẩm mỹ trong **uim/xtelex** nếu được

Đây là chủ đề sẽ làm lâu dài , có thể xét trong G2.

[2013-04-19 13:07] NgoHuy commented on #26
Em đã hiểu :+1:

[2013-04-21 10:32] icy commented on #26
Không gõ được **u a a j t**, nhưng gõ được **u a a t j**. Dạng bỏ dấu phía trước có thể có bằng cách thêm ánh xạ **uaaj => uậ** .

[2013-04-21 17:27] icy commented on #29
Mấy cái nào đánh dấu **_high** Huy coi làm trước nhé.

[2013-04-24 07:09] icy commented on #26
Gõ từ **u y e n** không được.

[2013-04-24 14:29] icy commented on #26
Huy đang làm trên mấy cái này không có `fix` được cái nào chưa?

[2013-04-24 15:02] NgoHuy commented on #26
Hiện tại, em đang làm thì thấy rằng cách gõ nhiều người khác nhau, bỏ dấu sau trước, cách fix thì chỉ có thể định nghĩa lại từ đó hoặc sửa cách gõ, em đang làm là sửa cách gõ, bỏ dấu sau nguyên âm là phỏ biến nhất trong bảng định nghĩa của Telex.

Hiện em fix được những từ đó bằng cách định nghĩa lại file Telex.in. Tuy nhiên những chữ như *uân, *uôt hay *uật thì việc bỏ dấu trước phụ âm  như n hay

[2013-04-24 16:52] NgoHuy commented on #14
Em đã hoàn tất việc build e17 trên git với 5 gói thư viện chính bao gồm: EFL, Elementary, Enlightenment, evas_generic_loaders và emotion_generic_loaders. Buildscripts có thể xem tại link sau, có hướng dẫn :
- https://github.com/NgoHuy/buildsystem/tree/e17/e17

[2013-04-24 16:58] NgoHuy opened #31 "Firefox profiles"
Em đề xuất 5 addon sau cho profile của Firefox:
- Noscripts ( https://addons.mozilla.org/en-US/firefox/addon/noscript/ )
- Https-everywhere ( https://www.eff.org/https-everywhere )
- Flagfox ( https://addons.mozilla.org/en-US/firefox/addon/flagfox/ )
- Adblock plus ( https://addons.mozilla.org/en-US/firefox/addon/adblock-plus/ )
- Flashgot ( https://addons.mozilla.org/en-US/firefox/addon/flashgot/

[2013-04-24 17:11] NgoHuy commented on #29
Vấn đề lưu lại thuộc tính thì đã có phân vùng `Persistent` lưu lại khi tạo usb boot.

[2013-04-25 00:56] icy commented on #26
A đã `fix` cho tất cả các chữ cuối (ups, uyen, luật) trong bản mới nhất . Em có thể tham khảo cách làm. Và kể cả tập tin `Makefile` a mới tạo ra trong đó.

https://github.com/TheSLinux-forks/myquartz-scim2uim/commit/1350951bc0c9c0e2c6ec647e0542a447b054ef60

Do bản gốc chỉ định nghĩa kiểu gõ sau, nên để hỗ trợ cả kiểu gõ trước thì sẽ có xu hướng phình ngày càng to, có thể lên trên 50% bảng hiện tại

[2013-04-25 00:57] icy commented on #14
Tạo pull request  giúp anh. Thanks

[2013-04-25 01:00] icy commented on #31
Em coi xem có cơ chế gì quản lý các `add-ons` của Firefox thông qua dòng lệnh hay các file cấu hình không. Hoặc chỉ cần `trigger` để `firefox` cài các `add-ons` trên là được. Việc dùng các `add-ons` gì thì cũng cần có lý do và cũng không cần chọn nhiều quá. Cái này sẽ trao đổi sau.

[2013-04-25 01:04] icy opened #32 "Bảng candidate trong uim"
Dùng các tùy chọn để tắt bảng `candidate` đi, thì bảng này chỉ thật sự tắt khi dùng `uim/xtelex`, còn `uim/scim-telex` vẫn còn hiện ra.

Huy kiểm tra xem tại sao và có thể thêm tùy chọn để tắt bảng đó đi nhé.

[2013-04-25 01:35] NgoHuy commented on #31
Em đã xem qua cách dùng dòng lệnh tuy nhiên không có cách nào cài cài qua dòng lệnh mà không dùng GUI cả, cách cấu hình là nó để tất cả các config addon trong thư mục .mozilla/firefox/<tên profile.defalt>
Em đề xuất 5 addons trên trên để gia tăng bảo mật cho firefox khi lướt web, trừ flashgot để tải tập tin thì còn lại cho mục đích đó.

[2013-04-25 02:59] icy commented on #32
Mình đã có tùy chọn tắt bảng `candidate` rồi mà nó vẫn hiện ra. Em xem thử cách mà `scim-telex` sinh ra bản popup đó và tắt đi. Có thể `scim-*.scm` ghi đè cấu hình nào đó.

[2013-04-25 04:56] NgoHuy commented on #32
Không anh, em vừa hack code thì thấy nó dính liền với gtk và qt luôn ,e đang patch thử. Cái này bị ở chỗ là xtelex hay xvni đều không có cấu hình trên uim chuẩn (generic nên chịu kiểm sóat của (other input method) còn lại bị dính với uim source nên chịu kiểm sóat của lib-uim.so (dính vào gtk và qt)

[2013-04-25 06:16] icy commented on #32
Có tùy chọn để tắt bảng `candidate` đi, em coi tùy chọn đó được dùng thế nào , chắc là không phức tạp lắm đâu.

[2013-04-25 06:34] icy commented on #26
làm thế nào để tránh tổ hợp này ta **âợ** :)

[2013-04-25 06:36] icy opened #33 "Chế độ mặc định cho uim/xtelex"
Khi chuyển qua bộ gõ **uim/xtelex** cần bật bộ gõ này mặc định (hiện giờ khi chuyển qua bộ gõ này thì nó sẽ tự động tắt, phải mất công bật lên lại).

[2013-04-25 06:41] NgoHuy commented on #14
anh tạo một nhánh là e17 hộ em với em tạo pull request qua ah

[2013-04-25 06:57] icy commented on #14
ok để a coi

[2013-04-25 14:45] icy commented on #26
Đã thu gọn bản `telex.txt.in` về còn khoảng 1000 dòng, fix vài lỗi và bỏ đi các tổ hợp vô nghĩa. Xem thêm trong bản `v1.0.0` https://github.com/TheSLinux-forks/myquartz-scim2uim/tree/v1.0.0 .

[2013-04-25 14:46] icy commented on #3
Tạm thời chọn logo và màu như trong kho `media` đã chỉ ra. Sau này sẽ điều chỉnh lại cho đẹp hơn.

[2013-04-26 08:45] icy commented on #26
Bảng Telex còn 929 định nghĩa. Bảng VNI cũng đã được tuốt lại .

[2013-04-26 10:10] icy commented on #31
Huy biết cơ chế xác thực các **add-ons** của Firefox không? Làm thế nào để đảm bảo rằng **add-ons** nào đó đã được xác thực / kiểm tra / đáng tin ?

[2013-04-26 11:36] NgoHuy commented on #31
Mọi addons có trong bộ sưu tập addons của mozilla ( https://addons.mozilla.org/en-US/firefox/) đều được nhóm Mozilla addons kiểm duyệt trước khi được chấp nhận ( https://addons.mozilla.org/en-US/developers/docs/policies/reviews )
Các addon không có trong bộ sưu tập cần xem xét trước khi cài đặt. Ở trên, chí có https-everywhere là ngoài bộ sưu tập nhưng có review khá cao từ người dùng (https://www.

[2013-04-26 14:09] icy commented on #31
Nằm ngoài thì chịu em ơi.

[2013-04-26 14:17] NgoHuy commented on #31
Dự án Tor cũng dùng https-everywhere nên em cho rằng đây cũng là một chứng minh rằng https-everywhere an toàn để cài đặt anh ah :-)

[2013-04-26 17:50] icy commented on #31
Em chứng minh kiểu này thì làm một chặp trái đất sẽ có hình vuông đó em.

[2013-04-26 18:09] NgoHuy commented on #31
Vậy tạm thời không lấy addons từ bên thứ 3, nằm ngoài bộ sưu tập của Mozilla cho chắc chắn :-)

[2013-04-26 18:41] NgoHuy commented on #31
một số lý do không đưa vào bộ sưu tập của Mozilla:

[2013-04-26 18:44] icy commented on #31
Chỉ là một "feeling" mà . Nhưng đó là quyết định của họ, không phải của Mozilla.

[2013-04-26 18:50] NgoHuy commented on #31
tạm thời bỏ qua hết các addons không nằm trong bộ sưu tập của Mozilla tập trung vào các issue đựơc đánh dấu high nhé anh :-)

[2013-04-26 18:55] icy commented on #31
Em nói gì a không hiểu.

[2013-04-26 19:41] icy commented on #32
Anh đang coi cái này Huy có thể tập trung vào các vấn đề khác.

[2013-04-26 21:14] icy commented on #32
Đã fix (xem nhánh **p_uim-vi@fix-candidate-option**), xem trong https://github.com/TheSLinux/buildsystem/commit/9f4b8c3c07b4c6a24f93ea51a57a2c227e6dd699

[2013-04-26 21:14] #32 closed, assigned to icy

[2013-04-27 03:20] NgoHuy commented on #32
wao, good job :+1:

[2013-04-27 06:44] icy commented on #26
Các lỗi cơ bản đã fix, nhưng cần dùng và kiểm tra kỹ hơn kể cả hai bảng mã VNI và Telex. Đặc biệt là VNI hiện không có người kiểm tra.

Tạm đóng chủ đề này lại. Nếu có vấn đề mới vui lòng mở ticket mới. Cảm ơn.

[2013-04-27 06:45] icy commented on #27
Cái này lặp lại với #33 .

[2013-04-27 06:45] #27 closed, assigned to NgoHuy

[2013-04-27 06:50] icy commented on #17
Thư viện `m17n-db` được thu gọn lại trong gói `m17n-db-vi`. Hiện tạicác hỗ trợ so với định nghĩa gốc (https://vi.wikipedia.org/wiki/VNI) bị loại bỏ; bao gồm
1. Các định nghĩa sử dụng chữ **w** thay cho **ư** trong kiểu gõ Telex
2. Các định nghĩa dùng số **7** thay cho chữ **ư** trong kiểu gõ VNI

Chủ đề này được đóng lại. Nếu có vấn đề phát sinh khác vui lòng mở ticket mới.

[2013-04-27 06:50] #17 closed, assigned to NgoHuy

[2013-04-27 07:39] icy commented on #28
Lâm theo dõi trang này và trang Doodle http://theslinux.org/events/2013/05-git-training/ khi nào có ngày tháng thì Lâm sắp xếp giúp phòng ốc và thiết bị nhé (chỉ cần một máy chiếu để làm demo). Cảm ơn Lâm.

[2013-04-27 07:40] icy commented on #28
(Trang Doodle có cho ở địa chỉ của Event ở trên)

[2013-04-27 12:23] icy commented on #29
Anh nhớ lâu rồi `e17` có một tiện ích để `dump` các cấu hình của nó ra dạng `text`. Không rõ là nó có thể làm ngược lại không. Em kiểm tra xem nhé. Nếu chỉ công bóo dạng `binary` như em làm ở nhánh `e17_config` thì a hơi ngại !!!

[2013-04-27 12:27] NgoHuy commented on #29
:+1:
Em cũng đang tìm cách dump ra text thay vì binary, tạm thời em config theo README.md của e17_config :-)

[2013-04-27 12:58] xluffy opened #34 "Báo lỗi cú pháp khi sử dụng bộ gõ uim"
Hiện tại mình bị với các từ này:

sứong -> suowngs
voíw  -> voisw
suớwng -> suowwngs

-> thường thì những từ có vần ư và vần ơ đi liền nhau trong các bộ gõ trước đây mình sử dụng thường sẽ gõ như sau:
- Gõ chứ "u" tiếp đến là chữ "o" rồi mới gõ chứ "w" thì tự động nó sẽ thành "ươ" nhưng với uim nó sẽ ra "uơ"
- hoặc nếu gõ chữ "u", "o" rồi gõ 2 lần chữ ww thì sẽ ra được chữ "ươ" nhưng với uim nó sẽ

[2013-04-27 23:09] icy commented on #29
Dump ra rồi dịch ngược trở lại chắc là có cách e hỏi đội `e17` kỹ hơn về cách làm nhé.

[2013-04-27 23:34] icy commented on #34
Cảm ơn Quang. Những cái Quang báo có thể gọi là `bug`, có thể gọi là `feature`. Cũng như nhiều kiểu gõ khác, `m17n-db-telex` đặt ra các quy tắc gõ ở dạng **lập trình được**, sau đó thêm vào các ngoại lệ. Mình sẽ xem qua và sẽ trả lời liệu sẽ thêm các tính năng đó như thế nào.

Điều lưu ý là các hỗ trợ của `m17n-db-telex` gần với bảng chính thống https://vi.wikipedia.org/wiki/VNI  trong đó đặt ra c

[2013-04-28 01:24] icy commented on #33
Đã chỉnh trong miếng vá mới nhất https://github.com/TheSLinux/buildsystem/commit/6317b4b2cbbd4f9b8e503d5659ac309494919849

[2013-04-28 01:28] icy commented on #33
Hiệu ứng phụ: Khi cho phép kiểu gõ thay đổi theo từng khu vực gõ (`text-area`) thì sẽ rất phiền toái, vì các kiểu gõ mặc định sẽ được kích hoạt. Khi đặc chế độ mặc định ON cho các kiểu gõ Generic, thì cách tốt nhất là cho phép kiểu gõ thay đổi ở mức ứng dụng .

Có một điều hơi "lạ" khác: Nếu tắt kiểu gõ cho một ứng dụng, thì khi `focus` không nằm trong khu vực gõ chữ nào thì biểu tượng sẽ vấn hiện

[2013-04-28 01:29] icy commented on #33
@Huy kiểm tra xem miếng vá mới có tốt như mong đợi không nhé. Nếu không sẽ dùng phương án khác, đó là thêm một tuỳ chọn cho phép người dùng chọn chế độ mặc định cho các kiểu gõ Generic.

[2013-04-28 02:42] NgoHuy commented on #29
Hôm qua em lên #e hỏi thì có 2 lệnh đã dump và dịch ngược thành công là `eet`

`eet -d /path/to/*.cfg config > out_file` (dump file)
`eet -e out_file.cfg config out_file 1` (biên dịch ngược lại, 1 để chỉ nén file hoặc 0 là bỏ qua nén)

Tuy nhiên một số dile bị lỗi `ERR<889>:eet_main bin/eet/eet_main.c:233 do_eet_decode() cannot write to standard output` do kích thước file quá nhỏ hoặc file rỗng. C

[2013-04-28 12:06] NgoHuy commented on #33
Em dùng và thấy tốt, như mong đợi.

[2013-04-28 12:06] icy opened #35 "Chỉnh thông tin về bản quyền cho trang web"
Ngoài ra, thêm các liên kết ở phần _footer_ để tiện theo dõi.

[2013-04-29 00:16] icy commented on #29
Ok có tiến bộ rồi, cố gắng lên nhé :) Chắc chắc phải có cách, thậm chí có thể phải viết chương trình `C` nữa :D Nhưng như thế sẽ tiện cho việc bảo trì hơn nhiều.

[2013-04-29 01:02] icy commented on #30
Đang liên hệ để tìm tài liệu về cách gõ tiếng Việt.

[2013-04-29 06:21] ghost commented on #28
+1
Cái này rất cần thiết, trong khi dev ở VN chưa quen với git lắm :)

[2013-04-29 22:59] icy commented on #28
Cảm ơn _rhacker_ :)

[2013-04-30 01:03] icy commented on #35
Xong. Nội dung trên trang web được công bố theo giấy phép CC BY-NC-ND

[2013-04-30 01:03] #35 closed, assigned to icy

[2013-04-30 08:11] icy commented on #33
Đang thêm miếng vá khác ngon hơn. Việc đặt cứng thiết lập mặc định là không nên.

[2013-04-30 09:56] icy commented on #33
Xem trong https://github.com/TheSLinux/buildsystem/commit/151d404b9cfe780c16dd7ade0d015a8c9864e1a0

[2013-04-30 09:57] #33 closed, assigned to icy

[2013-04-30 10:55] icy commented on #28
Sẽ tiến hành vào 9h sáng ngày 5/5/2013

[2013-04-30 12:54] icy commented on #14
Huy ơi em có biết e17 có sắp ra phiên bản nào mới không!?

[2013-04-30 13:11] NgoHuy commented on #14
e17 hiện đang là 0.17.2. Trên git hiện là bản 0.17.99 chuẩn bị cho bản 0.18 vào cuối năm anh ah

[2013-05-03 00:18] icy opened #36 "Bộ kiểm tra chính tả cho các phần mềm tiếng Việt"
Huy xem có thể dùng bộ kiểm tra chính tả nào không?

[2013-05-03 10:09] NgoHuy commented on #36
Em so sánh hai  bản
- aspell ( http://aspell.net/ )
- hunspell-vietnamese (https://code.google.com/p/hunspell-spellcheck-vi/)

thì hunspell tốt hơn, có kiểm tra kiểu bỏ dấu cũ và bỏ dấu mới, trong khi aspell thì không.

[2013-05-04 06:08] xluffy commented on #31
Mấy cái này nghĩ là FF sẽ mặc định (ở phiên bản nào đó) với các add-on này sau khi cài TheSLinux xong phải không. Có Flashgot mà không có DTA thì kì quá. Còn cái Flagfox mình thấy chả cần thiết.

[2013-05-04 08:55] icy commented on #31
Vẫn chưa kết thúc danh sách cuối Quang ơi. Về cái profile này a đã tính tới nhưng chưa ra tới "mã" triển khai thôi. Danh sách ở trên chỉ là đề nghị, tạm gọi là "mặc định". Nhưng a cũng không chắc là sẽ có ngay trong dòng g1 hay không vì còn nhiều vấn đề lắm.

##

I am ... 5 dog years old.

[2013-05-04 14:27] ghost commented on #28
hình ảnh update về sự kiện sẽ được update ở đâu @icy

[2013-05-04 14:55] icy commented on #28
Cảm ơn _rhacker_ đã quan tâm. Hiện giờ chưa có ảnh nào :D Sáng mai mình mang máy theo chụp, có gì sẽ update lên trang FB của dự án https://facebook.com/theslinux/

[2013-05-04 14:57] icy commented on #30
Hiện giờ phiên bản mới nhất của `uim-vi-xtelex` tạm ổn định, nhưng không rõ một số quy tắc thẩm mỹ giới thiệu trong bài báo có được đảm bảo (và ở mức độ nào). Có thời gian Huy chú ý kiểm tra giúp nhé. Cái này ở dòng G2, không cần làm gấp.

[2013-05-04 15:36] ghost commented on #28
nice :)
looking forward to it.

[2013-05-05 11:14] icy commented on #31
Một bài rất hay http://askubuntu.com/questions/73474/how-to-install-firefox-addon-from-command-line-in-scripts

[2013-05-07 23:21] icy commented on #28
Mình đã viết vài dòng trên SaigogLUG và ArchLinuxVn. Hình chỉ chụp hai cái cũng giống nhau nên úp lên một :P
https://www.facebook.com/photo.php?fbid=514602428587068

Buổi tập huấn này không tốt như mong đợi :) Nhiều bạn đăng ký mà không đi, đi trễ . Hy vọng lần sau sẽ khá hơn.

[2013-05-07 23:21] #28 closed, assigned to icy

[2013-05-08 08:31] ghost commented on #28
[code]

Love this :D

[2013-05-08 12:57] icy commented on #28
haha, chủ yếu giới thiệu ý tưởng , cách làm việc thôi. Nhiều khi cứ cắm đầu làm không để ý tưởng thiết kế của `git` thế nào ấy mà. Nên yêu cầu vậy là hợp lý rồi :P

[2013-05-10 14:07] icy commented on #14
Theo anh biết, viện biên dịch bộ `e17` khá phức tạp, thể hiện ít nhất ở các điểm sau

1/ Phải biên dịch các thư viện đi kèm
2/ Phải biên dịch đúng thứ tự các thư viện (em xem kịch bản mà anh gửi ở trên)

Ngoài ra, nếu em gộp chung các `PKGBUILD-*` vào một gói thế này cũng là ý hay, nhưng a thấy vẫn chưa đủ tất cả các thư viện đi kèm của `e17`.

[2013-05-10 14:09] icy commented on #14
A đã `push` lên nhánh `enlightenment17` gần nguyên từ `PKGBUILD` của ArchLinux, có điều chỉnh tí ti thôi. Em có thể chỉnh lại

[2013-05-10 14:43] NgoHuy commented on #14
Đoạn kịch bản của em là em build từ git, đã sắp xếp thứ tự thư viện.  Bản 0.17.99 thư viện đã gom khá nhiều lại vơi nhau, thực chất là build 5 gói core trong 1 đoạn kịch bản từ 5 bản PKGBUILD (trong đó có enlightenment17).
Anh có thể xem thêm ở đây
http://git.enlightenment.org/

[2013-05-11 02:39] icy commented on #14
Các gói nên tách nhỏ ra, vì sẽ dễ maintain hơn là gộp chung lại. Ví dụ chỉ chỉ có thay đổi nhỏ trong một phần của thư viện, không phải biên dịch _(và đánh số phiên bản)_ cho trọn bộ. Cái gì ra cái đó.

[2013-05-11 03:39] NgoHuy commented on #14
ah, em hiểu nhầm ý của anh bảo thiếu thư viện không biên dịch được  :D

[2013-05-11 09:29] icy commented on #22
Huy em thử dùng `profile` này xem https://github.com/TheSLinux-forks/126-uim-vi . Có gì gửi feedback để anh hoàn thiện.

[2013-05-11 14:24] NgoHuy commented on #22
Dạ đầu tiên em gặp phải là phím super em không rõ là phím gì, có lẽ là phím windows nhưng vẫn không bật tắt bộ gõ được, các phím còn lại đều không mấy khó khăn để quen và nhớ.

[2013-05-11 14:35] icy commented on #22
Để a viết cái hướng dẫn tiếng Việt. Trong `126-uim-vi`  a đã ghi rõ cách làm. Khi bật lên thì mặc định sẽ không có bộ gõ tiếng Việt, em dùng `^ Alt \` để chuyển qua bộ gõ e cần. Khi bộ gõ đã bật thì sẽ có trạng thái của nó là `on` hay `off`, khi đó mới dùng `Super Escape` để chuyển. Hoặc có thể tạm thời chuyển về kiểu `direct` bằng phím `^ Alt Space`.

[2013-05-11 14:36] icy commented on #22
Anh đã `push` gói riêng tên là `126-uim-vi` trong hệ thống `buildsystem`, sau khi cài vào thì các profile mặc định sẽ có trong `/usr/share/theslinux/126/uim.d/` . Hiện vẫn chưa có cách nào dùng `profile` này hiệu quả :D

[2013-05-11 14:52] NgoHuy commented on #22
ah, cái path thì có trong file `uim/uim-custom.c` có đoạn mã sau:

[code]

[2013-05-11 14:58] icy commented on #22
Gợi ý hay, nhưng tạm thời dùng cách khác không phải "xử" đẹp như vậy đâu =))

##

I am ... 5 dog years old.

[2013-05-11 15:07] NgoHuy commented on #22
ah, cũng có biến môi trường `LIBUIM_SCM_FILES` hiện em chưa rõ nó dùng như thế nào :D

[2013-05-11 15:17] icy commented on #22
Ghi chú lại sau tìm em, làm cái khác đi :D

[2013-05-12 01:12] icy commented on #22
Huy xem trong http://theslinux.org/doc/uim-vi/126-uim-vi/

[2013-05-12 01:13] icy opened #37 "Đọc và kiểm tra lại tài liệu cho uim-vi"
Anh cần Huy đọc qua và góp ý về tài liệu cho `uim-vi`

http://theslinux.org/doc/uim-vi/

Có nhiều thứ có lẽ là a đã viết quá nhiều thứ không cần thiết :D

[2013-05-12 02:27] icy commented on #14
Huy coi tách ra các gói nhỏ nhé. Nếu cần tạo ra các gói mới thì em có thể bắt đầu từ nhánh `TheBigBang` hoặc `TheSmallBang`. Có thể nói a tạo ra các nhánh trước. Có thể đặt tên `e17-foobar` cho gọn. Nếu không dùng nhánh `enlightenment17` thì nói anh đặt cờ bỏ qua nhánh này.

[2013-05-12 07:08] icy commented on #14
Để ý trong `enligtenment17` có miếng vá dành riêng cho `systemd`.

[2013-05-12 08:03] NgoHuy commented on #14
Dùng để thay poweroff của  gói sysvinit đó anh :P

2013/5/12 Ky-Anh Huynh notifications@github.com

##

'_Tình yêu là sự cố gắng của một người để *_chỉ yêu thương một người mà thô*
i.'

[2013-05-12 16:57] thuandt commented on #36
+1 hunspell

Có cần kiểm tra kiểu Anh-Việt lẫn lộn hem nhỉ? (với những người như em chẳng hạn thì việc viết lẫn lộn Anh-Việt là rất thường xuyên).

Nếu đã mặc định có bộ kiểm tra chính tả thì những trình khác như Firefox, Chrome có cần tùy chỉnh gì thêm không?

[2013-05-12 17:00] thuandt commented on #31
Đống addons của Firefox cũng chỉ là file zip được sign thôi mà, một số cái khi cài nó extract ra để chạy một số không (với các phiên bản hiện tại).

Có thể đóng gói các addons này lại để người dùng có thể lựa chọn sẽ dùng addons nào.

[2013-05-12 17:06] thuandt commented on #20
Thật ra thì mục đích của việc này là gì hả @NgoHuy ?

[2013-05-12 17:10] thuandt commented on #15
@NgoHuy dùng udev rules là một hướng hơi dở. Hardcore mà chưa chắc đã hiểu quả bằng việc sử dụng udisk và viết rules mount cho policykit
@icy em vote dùng udisk. Automount khi người dùng cắm USB hoặc HDD vào là cần thiết. Udisk nó support việc này. Chuyện umount bằng Nautilus, Thunar hay Filemanager là chuyện của filemanager.

[2013-05-12 17:11] thuandt commented on #3
:+1:
Logo đẹp rồi

[2013-05-12 17:29] NgoHuy commented on #36
Nếu bật hunspell thì chỉ cần bật kiểm tra chính tả ở ứng dụng, nó sẽ tự kiểm tra nếu không phải tiếng Việt thì sẽ báo.  Ngoại lệ Firefox phải thêm từ điển tiếng Việt (https://addons.mozilla.org/en-US/firefox/language-tools/)

[2013-05-12 17:38] NgoHuy commented on #15
udisks được yêu cầu bởi gói e17, vấn đề filemanager muốn mount/umount phải thông qua polkit để xác thực và udisks hoặc một gói tương tự để tiến hành, việc dùng filemanager sẽ dễ dàng hơn cho việc phát triển mà không cần quan tâm bên dưới, tất nhiên viết rules cho udisk em đã thử, mặc định người dùng nhóm storage có quyền mount/umount các thiết bị ngoại vi.
Với yêu cầu chạy trên usb thì xem như ổ c

[2013-05-12 17:42] thuandt commented on #36
Vậy thì nếu có hunspell thì nên đi kèm cả từ điển chính tả cho Firefox nữa.
LibreOffice thì sao?

[2013-05-12 17:43] NgoHuy commented on #20
Để thử vài tính năng mà em nghĩ là sẽ cần lúc nào đó ;)

[2013-05-12 17:45] NgoHuy commented on #31
Vì TheSlinux là phiên bản pre-define, nên em tạm thời thêm một số addons vào, nếu không thích người dùng có thể gỡ ra, Những addons trên em đang dùng, vấn đề addons tạm gác lại sau những vấn đề được đánh dấu high.

[2013-05-12 17:46] thuandt commented on #5
Mình thắc mắc là tại sao phải làm việc này?
Đằng nào thì cũng chỉ tạo usb cài đặt, sau đó có dùng USB đó nữa đâu.
Việc này có thật sự cần thiết?

[2013-05-12 17:49] thuandt commented on #15
Everything is done?

[2013-05-12 17:55] thuandt commented on #20
Những tính năng nào, chia sẻ được không ?
Google Authenticator anh thấy áp dụng cho xác thực WebApp, hay xác thực từ mạng vào thì ổn hơn.

[2013-05-12 17:56] NgoHuy commented on #36
LibreOffice chỉ cần bật check my spell lên ( hunspell là engine cần có từ điển đi kèm nên cần cài hunspell-vi như link ở trên )

[2013-05-12 18:05] NgoHuy commented on #5
hãy tiết kiệm phần vùng đó, biết đâu nó có thể chứa vài điều bí mật không thể tách khỏi người dùng ;)

[2013-05-12 23:22] icy opened #38 "Profile switching"
Như đã trao đổi trên kênh Irch `#archlinuxvn`, ta cần tìm một phương án chung để đóng gói và triển khai các `profile`, và chuyển qua lại giữa các `profile` tương đối dễ.

Một số `profile` đang chuẩn bị
- e17: https://github.com/TheSLinux/gs/issues/29
- uim-vi: https://github.com/TheSLinux/gs/issues/22 (đã gần xong)
- firefox: https://github.com/TheSLinux/gs/issues/31

Đây là vấn đề lâu dài, đặt ở

[2013-05-12 23:25] icy commented on #31
Có hai vấn đề khác nhau, do Huy mở chủ đề này chưa rõ ràng. Nhưng tạm thời chủ đề này bàn về danh sách các `add-ons` chọn ra làm mặc định, trong một `profile` mẫu mà người dùng có thể bỏ qua sau này. Về cơ chế chuyển thì xem ở #38.

@NgoHuy Do các bạn khác đã bắt đầu `join` vào nên vấn đề gì đang làm hoặc trễ lại thì e chịu khó update status để mọi người theo dõi cho tiện. Vấn đề nào khá nhằn hoặc

[2013-05-12 23:28] icy commented on #31
Liên quan tới các `add-ons` được chọn, @NgoHuy có thể kết lại vài tiêu chí cơ bản, ví dụ
- `add-ons` được chứng thực thế nào
- làm thế nào để `add-ons` được đánh dấu là đáng tin (và đáng tin tới mức nào, tức là có cơ chế nào phá vỡ niềm tin đó không?)
- v.v...

Các vấn đề này sẽ được cụ thể hóa thành tài liệu chính thức, ở dạng tiếng Việt để theo dõi cho tiện.

[2013-05-12 23:37] icy commented on #20
Dùng để tạo `password` sinh một lần cho để đăng nhập và `ssh` server được đó @mrtuxhdb . Vấn đề mình băn khăn là cơ chế này vẫn có một số hạn chế nhất định. @NgoHuy  đã nghịch có thể chia sẻ thêm. Phần tích hợp với `LUKS` thì không thể rồi.

[2013-05-12 23:39] icy commented on #15
Mình nghĩa là chưa. Do @NgoHuy lâu ngày không cập nhật `status` nên chưa rõ tiến độ thế nào :)

@NgoHuy "Cảm ơn anh đã cho ý kiến" viết cho đúng nhé :D

[2013-05-12 23:41] icy commented on #3
Thanks @mrtuxhdb :)

Ý @mrtuxhdb nói cái này phải không https://www.facebook.com/photo.php?fbid=515067735207204&set=a.511112808936030.1073741825.488531607860817&type=1&theater ?

Hiện có hai bản, một bản ngắn chỉ gồm hai chữ `T` và `S` ghép lại. Bản dài có nguyên dòng chữ `TheSLinux`. Hai bản này đều chỉ dùng một màu `primary` trong bảng màu `scheme0` (mình có chỉ ra trong repo `media`), mà không

[2013-05-12 23:47] icy commented on #5
@mrtuxhdb  Thiết kế ban đầu là sẽ tách ra hai vùng dành cho `tập tin hệ thốgn`, và phần `dữ liệu người dùng`. Tách ra hai phân vùng để phân vùng `/home/` có thể dùng được một số hệ thống tập tin đặc biệt thích hợp hơn với người dùng thẻ nhớ. Phần mồi ban đầu sẽ được đánh vào đĩa bằng lệnh `dd`, sau đó hệ thống khởi động sẽ tự động nhận diện phần khoảng trống dư thừa và mồi tiếp phần mã hóa dữ liệu

[2013-05-12 23:49] icy commented on #5
Link: thông tin về dòng  1 http://theslinux.org/versions/

[2013-05-13 15:11] NgoHuy commented on #37
Anh chia ra hơi nhiều
phần `Profile` và `vấn đề thường gặp` nên gộp chung.
Mô tả về kiểu gõ nên gộp vào chi tiết kĩ thuật uim.

[OTT]: Phần website nên chỉnh lại cho bề rộng màn hình ra sẽ viết nhiều hơn và thiện cảm muốn đọc hơn

[2013-05-13 15:32] icy commented on #37
Profile là cái mô tả các đặc điểm của Profile mặc định, sau này có người phát triển Profile khác thì sẽ tài liệu khác tương ứng, ví dụ `126-uim-vi@foobar`. Phần vấn đề thường gặp chủ yếu mô tả về uim/vi, còn đúng ra phần

   http://theslinux.org/doc/uim-vi/faq/#126

phải nằm trong bài về `126-uim-vi` (đang phân vân có nên chuyển lại không). Phần về `uim` thì chủ yếu liên quan tới cài đặt và cấu hì

[2013-05-13 16:30] icy opened #39 "Prepare background images (with our camera)"
Take some pictures to use as background images :)

[2013-05-13 16:33] icy commented on #22
Tạm ổn. Đóng lại :)

[2013-05-13 16:33] #22 closed, assigned to NgoHuy

[2013-05-13 16:35] icy commented on #34
Ghi chú thêm: sẽ dùng `xtelex` và `xvni` mặc định. Anh sẽ thêm vào định nghĩa `uoww` để tránh tường hợp gõ nhầm như trao đổi trên kênh `irc`. Cảm ơn Quang nhiều.

[2013-05-13 20:02] thuandt commented on #20
@icy Nếu dùng **password** đơn thuần thì mặc định cái **pam module** của **google authenticator** nó support rồi. Vấn đề này thì em đã nghiên cứu khá kĩ. Khả thi và đã có nhiều người làm rồi.

Mặc định **pam module** nó chỉ support 2-step khi xác thực bằng password, còn khi xác thực bằng **public key** thì vẫn không cần mã HTOP. Tất nhiên, việc bắt người dùng xác thực bằng public key vẫn phải nhập

[2013-05-13 20:08] thuandt commented on #5
Với cái flashdisk thì FAT32 còn nhanh hơn NTFS hay những định dạng của Linux. Vì vậy sẽ dùng những định dạng của Linux hay dùng dịnh dạng FAT32, với một số phân vùng là file ảnh đĩa ext4?

Nếu cài đặt TheSLinux chỉ đơn giản là copy một số tệp tin sang USB và active nó thì sẽ đơn giản hơn nhiều cho người dùng hơn là việc dd. Sẽ có script để tạo phân vùng ext4 to bao nhiêu tùy thích, rootfs có thể l

[2013-05-13 23:48] icy commented on #5
Trừ phân vùng cho / ra, thì có thể dùng `FAT32` hay nhiều `fs` khác, nhưng cần chú ý hai cái là khả năng nén dữ liệu và khả năng `chịu lửa` để khỏi  mất dữ liệu bất chợt. `btrfs` chẳng hạn rất tốt nhưng tiếc là chưa có nằm trong `production` ngay được, và lại đòi hỏi dùng `kernel` mới nhất

`dd` chỉ là cách mô tả kỹ thuật, còn đối với bộ cài `usb` thì làm như @mrtuxhdb  nói, làm sao cho đơn giản n

[2013-05-13 23:51] icy commented on #20
Thông tin @mrtuxhdb  rất bổ ích. Cái ý tưởng liên quan tới `Google` chỉ bất chợt nảy ra, tạm để đây khi nào cần sẽ dùng. Hy vọng là đồ của `Google` rất có ích trong tương lai. Ví dụ trong một số hệ thống bắt buộc phải dùng `password authentication` thì việc sinh ra `password` rất thích hợp với những người dùng **chẳng bao giờ nhớ được password** (ví dụ ... thầy hiệu trưởng của mình :D)

[2013-05-14 00:16] #7 closed, assigned to icy

[2013-05-14 04:02] NgoHuy commented on #5
nếu chỉ copy tập tin và active  thì usb sẽ không chịu nổi. Em đã từng thử cp toàn bộ hệ thống sang usb (ext4) và usb chịu không nổi phải bung bug trước khi lên được X.

Nếu dùng unetbootin thì có vẻ đơn giản hơn nhưng filesystem dễ bị tổn thương (dễ bi xóa, thay đổi hơn readonly do dd tạo ra. )

Em cũng tính tới dùng FAT32 cho phân vùng lưu giữ settings(persistent) nhưng nếu có sự cố (mất điện chẳ

[2013-05-14 07:47] icy commented on #34
Anh đã thêm vào dạng `chỉnh lỗi` https://github.com/TheSLinux-forks/myquartz-scim2uim/commit/60613918364f83368e1de1db4d827e3b4ca763f6

Chưa có trong gói mới, nhưng em có thể lấy mã nguồn về và `make install` thôi

[code]

Em cần có `ruby` trên hệ thống, với `locale` đặt đúng (`en_US.utf-8`).

[2013-05-14 10:30] icy commented on #5
@Huy: em học cách dùng Github nhé. Chịu khó đọc tài liệu, viết bài `format` tùy tiện quá.

PS: Anh đã chỉnh bài lại cho em, em vô phần `edit` xem lại là được.

[2013-05-14 10:31] icy commented on #38
Mình sẽ viết sơ phần mô tả cho cái này (dành riêng cho Firefox) và sau đó gửi thông tin lại cho @mrtuxhdb  sau nhé.

[2013-05-14 10:32] icy commented on #30
Tạm thời không gán cho ai chủ đề này.

[2013-05-14 10:33] icy commented on #14
Vấn đề là em phải thể hiện cái đó trong kịch bản `build` của em, còn nó làm gì thì a cũng có thể đọc được .

[2013-05-14 10:34] icy commented on #3
Xong phần logo . Trên kho `media` vừa có cả kịch bản để tạo ra `favicon.ico` dùng cho các trình duyệt. File sinh ra đã được thêm vào trong khoa `home` để thể hiện trên trang chủ.

[2013-05-14 10:34] #3 closed, assigned to icy

[2013-05-14 12:02] xluffy commented on #34
Okie, em sẽ thử.

Vào 07:47 Ngày 14 tháng 5 năm 2013, Ky-Anh Huynh
notifications@github.comđã viết:

##

_Quang Nguyễn_

[2013-05-14 16:14] thuandt commented on #38
:ok:

[2013-05-14 16:29] thuandt commented on #5
Có vẻ mọi người chưa hiểu ý mình nhỉ?

Ý mình là sẽ dùng `FAT32` cho USB Flash disk, nhưng các phân vùng `root`, `data`, `persistent` sẽ là những file `img` được lưu trên ổ USB và được format theo định dạng của Linux. Những phân vùng này sẽ được chỉ định và mount lên khi boot. Kích cỡ của những phân vùng này sẽ do một `script` quyết định khi đưa bộ cài ra USB.

Chứ ý mình không phải là sẽ dùng `FA

[2013-05-16 14:29] icy commented on #36
Trong `repo` của `Arch`, kể cả trong `AUR` chỉ thấy các hỗ trợ `hunspell` cho tiếng nước ngoài , không có tiếng Việt.

[2013-05-16 14:40] NgoHuy commented on #36
Hiện tại, sau khi so sánh em đề xuất `aspell` với lý do sau
- `AUR` có `aspell` cho tiếng Việt [1], tuy nhiên bản `PKGBUILD` này lỗi, cần viết lại, em đã `build` thử và dùng tốt trên `gedit/abiword`. Bản `aspell` này cũng không kiểm tra bỏ dấu theo kiểu mới hay cũ.
- Dùng gói `enchant` có trong `extra repo` để làm `generic spell checking` cho `aspell`
  [1] : https://aur.archlinux.org/packages/asp

[2013-05-17 04:20] NgoHuy commented on #5
Em chưa hiểu ý anh lắm :D

[2013-05-17 04:25] NgoHuy commented on #37
Em vẫn thấy chia ra hỏi nhiều :D

Phần kiểu gõ ta có thể gộp lại `kiểu gõ` + `sử dụng uim` vì nó là một phần của nhau sẽ dễ hơn là chia ra nhiều phần và em đọc có cảm giác vẫn trùng lặp nhiều điểm.

[2013-05-17 04:27] NgoHuy commented on #14
Em đã tạo pull request.

[2013-05-18 14:53] NgoHuy opened #40 "Web content filtering"
Một vài lý do như `parent control` hoặc kiểm sóat băng thông sẽ cần tới một công cụ lọc nội dung web.

Em đề xuất `dansguardian` :
- Cho phép chặn các website có nội dung người lớn, các site chứa công cụ hack, mã độc,..
- Cho phép tùy chỉnh chặn theo từ khóa, định dạng tập tin, Urls, `regular expression`,...
- Mặc định hợp với nhu cầu cơ bản.

[2013-05-20 12:51] icy commented on #40
Đối với cá nhân cái này hơi `overkill`. Trong các trường học hay cơ quan lớn thì nên triển khai ở cách thức khác. Không thấy được lợi ích thật sự của việc dùng lọc này.

[2013-05-20 13:13] NgoHuy commented on #40
Em nhận thấy hỗ trợ một gói như vậy trên `TheSLinux` sẽ có ích sau này. Phiên bản `G1` và có thể `G2` chưa hỗ trợ, lợi ích cho việc dùng lọc sẽ tùy vào cá nhân nhưng khi triển khai ở mức rộng hơn sẽ cần thiết.

Em đang tìm hiểu một số gói `privacy` và `secure` như `dnscrypt` hay `tor`, `dansguardian`

[2013-05-20 13:30] icy commented on #40
Đối với cá nhân cái này hơi overkill. Trong các trường học hay cơ quan lớn thì nên triển khai ở cách thức khác. Không thấy được lợi ích thật sự của việc dùng lọc này ngoài việc gây khó khăn cho người dùng cá nhân.

[2013-05-20 14:33] icy commented on #40
A đặt lại `label` để Huy có thời gian coi thêm.

[2013-05-20 14:40] NgoHuy commented on #40
vâng, em sẽ coi thêm :-)

[2013-05-20 15:33] icy commented on #36
A thấy không ổn lắm, lúc đầu em đề xuất cái khác, giờ lại cái khác, giờ biết tính sao đây? Nên đặt ra các tiêu chí tìm kiếm trước, ví dụ:
1. Có thể dùng tốt trong `abiword` và `libreoffice`  và có thể trong một số chương trình hay gặp khác
2. Được cập nhật hoặc có thể được cập nhật (bảo trì, bổ sung, phát triển) dễ dàng (hay ít ra là không khó khăn như những bộ kiểm tra chính tả khác.)
3. Không nh

[2013-05-20 15:35] icy commented on #37
Để a đọc lại lần cuối, chỉnh lại vài thứ rồi trả lại cho cộng đồng. Bạn nào muốn chỉnh gì thì tạo `pull request` vào trong kho `homepage`. A chỉ muốn tách ra cho dễ điều chỉnh sau này thôi.

[2013-05-20 15:38] icy commented on #29
Huy phải khẳng định hay phủ định là có thể dùng công cụ `dump` để quản lý cấu hình của `e17` ở dạng `plain text` không. Tạm thời không chấp nhận phân phối cấu hình `e17` ở dạng `binary` nên cần tìm cách giải quyết triệt để vấn đề này.

[2013-05-20 16:03] NgoHuy commented on #36
Ban đầu em đề xuất hunspell vì bản vi do người Việt Nam làm và có bổ sung kiểu bỏ dấu hiện đại.

Tuy nhiên sau khi xem xét :
- Mỗi ứng dụng sẽ có một trình kiểm tra chính tả xác định mà nó hỗ trợ, vd: `abiword` hỗ trợ `aspell`, em dùng `hunspell` lại không được trong khi `LibreOffice` hỗ trợ `hunspell`
- Các bản kiểm tra chính tả hiện tại đều không được cập nhật nữa,  mới nhất chỉ có hunspell-vi,

[2013-05-20 16:04] NgoHuy commented on #29
Em khẳng định `dump` có thể dùng để quản lý cấu hình của `e17`. Tạm thời không có `công cụ` nào làm được việc `dump` `binary` của `e17` ra `plain text` cả.

[2013-05-21 00:14] icy commented on #29
1. Khi có tập tin cấu hình, làm thế nào để chuyển thành dạng nhị phân cho `e17`?
2. Các tập tin nhị phân cuối cùng có phụ thuộc vào kiến trúc máy tính hay không?
3. E để tạm các tập tin cấu hình trên `repo` nào đó a sẽ chuyển vào kho `Theslinux-folks` sau.

[2013-05-21 00:23] icy commented on #36
Kiểu bỏ dấu `IPA` không nên nói là kiểu "hiện đại" dễ gây nhầm lẫn. Hiện nay các báo chí đã quay trở lại cách gõ truyền thống.

Nếu chỉ có phương án duy nhất thì chắc phải hỗ trợ mỗi ứng dụng một bộ kiểm tra chính tả thôi. Khi nào đụng đến `libreoffice` sẽ tính sau. Câu hỏi là tại sao `hunspell` lại không dùng với `abiword`?

Việc bộ kiểm tra nào đó không cập nhật thì cần tìm hiểu lý do. Em tìm gi

[2013-05-21 00:24] icy commented on #36
Huy nên làm cái bảng, mô tả chi tiết hơn, tổng kết lại giúp anh. Trình bày ở tài liệu `google doc` cho nó tiện cũng được. Thanks

[2013-05-21 00:29] icy opened #41 "Kịch bản tạo file `.iso`"
Huy đặt các kịch bản tạo file `.iso` cùng với các chỉ dẫn trên kho tạm nào đó để a đưa vào `theslinux-forlks`. Quá trình tạo file `.iso` sẽ được tự động hóa và sẽ làm từ máy `phantom3`

[2013-05-21 05:56] icy commented on #36
Anh mới coi qua, thấy `hunspell` hỗ trợ các từ ghép trong tự điển. Mặc dù `aspell` cũng có nhưng `hunspell` có vẻ tự nhiên hơn. Em kiểm tra lại. Ví dụ về từ ghép thì a đã đưa ở trên.

[2013-05-21 12:48] xluffy commented on #40
Cá nhân mình thấy gói dansguardian cũng ko cần thiết, đồng ý với anh icy, món này chỉ nên triển khai ở mức doanh nghiệp, cá nhân ko nên tự trói chân mình.

[2013-05-23 14:31] NgoHuy commented on #29
[code]

Các tập tin không phụ thuộc vào kiến trúc máy tính.

[2013-05-23 14:39] NgoHuy commented on #36
Em mô tả như sau
- Một chương trình muốn có `spell checking` cần hỗ trợ ở mức mã nguồn và xác định rõ chương trình [1], [2].
- `Hunspell` hỗ trợ thiết lập dưới dạng `plain text` tốt hơn `aspell` ( xem cụ thể file `.dic` và file `.aff` của `hunspell-language` )
- `aspell` đã không cập nhật từ năm 2004, còn `hunspell` do tác giả người Việt làm, dễ dàng liên hệ và viết `PKGBUILD`

Về mặt lợi thì rõ r

[2013-05-24 10:14] icy commented on #40
Có cái này ngon hơn @NgoHuy  nè http://www.privoxy.org/user-manual/filter-file.html

[2013-05-24 12:52] NgoHuy commented on #40
em đang dùng privoxy và dansguardian. Có vẻ privoxy đơn lẻ không có tính năng khóa nội dung người lớn anh ah :-D

Privoxy rất tốt cho lọc nội dung html để làm việc chặn theo từ khóa hehe

[2013-05-24 13:14] xluffy commented on #40
Thú thực là khi đọc topic này mình cực tò mò và thắc mắc. Tại sao lại phải tìm cách tự trói chân mình lại, tại sao lại phải chặn web có nội dung người lớn. TheSLinux là một distro hướng tới trẻ em chăng? Bản thân việc cản lọc nội dung trong môi trường enterprise là do ý thức của nhân viên, và để bảo vệ các dữ liệu và hệ thống quan trọng. Việc một cá nhân muốn xem gì kể cả nội dung người lớn ở nhà

[2013-05-24 13:19] NgoHuy commented on #40
tùy mỗi người nghĩ thôi, máy tính nếu chỉ có 1 người dùng thì sẽ không có gì, nếu muốn giới hạn tải tập tin và giới hạn định dạng tải tập tin, hay gì gì đó để tiết kiệm băng thông,... thì cần một công cụ nào đó.
Anh không dùng và em muốn đề xuất hỗ trợ đâu phải bắt cài mà nhỉ haha

[2013-05-24 16:31] icy commented on #40
A chỉ muốn tiếp tục hướng tới đề tài này bởi vì Huy đã
gợi ý , nên a muốn tiếp tục phát triển xem có ra được gì.
Còn chuyện khóa, thì như a đã nói làm ở mức thấp hơn tí
sẽ hiệu quả và đơn giản hơn.

On Fri, 24 May 2013 06:19:11 -0700
Ngô Huy notifications@github.com wrote:

##

I am ... 5 dog years old.

[2013-05-24 22:26] icy opened #42 "Tạo mirror cho trang web"

[2013-05-24 23:34] icy commented on #42
Mirror http://theslinux.berlios.de/

[2013-05-24 23:34] #42 closed, assigned to icy

[2013-05-28 11:47] NgoHuy opened #43 "TheSLinux default terminal"
Em đề nghị dùng `tilda` thay cho `uxrvt` vì
- Linh động trong chỉnh sửa
- Không nặng nề như `gnome-terminal`
- Thân thiện với người dùng mới

[2013-05-28 14:13] icy commented on #43
mất session lấy lại được không em?

[2013-05-28 14:18] NgoHuy commented on #43
em chưa hiểu ý anh lắm

[2013-06-02 17:20] icy opened #44 "Thử nghiệm WindowMaker"
Xem nó có gì hay so với E17 =)

[2013-06-02 17:21] #9 closed, assigned to icy

[2013-06-02 17:23] icy commented on #13
Một bài đáng đọc http://www.debian-administration.org/article/692/Look_before_you_leap_into_Disk_Encryption

[2013-06-02 17:24] icy opened #45 "Danh sách những việc phải làm để chuẩn bị cho offline tháng 7"
Danh sách này em có thể làm riêng và trao đổi với các bạn trên kênh IRC. Nếu có tài liệu luôn thì càng tốt, nhưng chưa cần thiết vào lúc nào.

[2013-06-02 17:28] icy commented on #43
Các `terminal` mà e đề cập khi bị tắt đi (vô tình  hay cố ý) thì thông tin về các phiên làm việc sẽ mất. Đã dùng tới `terminal` thì cách tốt nhất là nên dùng kèm với `tmux` hoặc `screen`. Vấn đề là e có thể chuẩn bị một tài liệu thật tốt, đơn giản, với các thiết lập mặc định của `tmux` (hay `screen`) cho người dùng. Sử dụng `tmux` không phải là vấn đề, vì những người dùng `shell` hay `terminal` th

[2013-06-02 17:29] icy commented on #43
TODO:
- viết tài liệu dùng (cơ bản) `urxvt` (bật, tắt, sao , chép,...)
- viết tài liệu dùng (cơ bản) `tmux` (với các thiết lập mặc định của `tmux`)

[2013-06-02 23:03] thuandt commented on #43
Phần viết tài liệu dùng cơ bản về tmux em sẽ đảm nhận. Nhưng em chưa rõ sẽ viết document như nào. Có template gì không ạ?

[2013-06-02 23:18] icy commented on #43
@mrtuxhdb Mình dùng `nanoc`, em có thể `fork` kho này ra https://github.com/TheSLinux/homepage rồi viết . Hiện chưa có tài liệu để viết, nhưng hầu hết các ý có thể lấy từ trang `Author Guide` của nhóm ArchLinuxVn http://archlinuxvn.org/vn/author-guide/ .

Các bài viết ví dụ: https://github.com/TheSLinux/homepage/tree/master/content/doc

Khi nào viết ổn thì tạo `pull request`. Khi nào quen mình sẽ

[2013-06-02 23:27] thuandt commented on #43
OK anh :)

[2013-06-03 02:49] NgoHuy commented on #44
- Ấn tượng đầu `xấu thê thảm`
- `Windowmaker` tương đối nhẹ so với `E17` có config trực quan
- File config là text
- Tự động thay `xinitrc` khi cài

[2013-06-03 03:07] icy commented on #44
On Sun, 02 Jun 2013 19:49:59 -0700
Ngô Huy notifications@github.com wrote:

hehe vấn đề là cái `feature` của nó ổn định cả chục năm rồi đó em :D

##

I am ... 5 dog years old.

[2013-06-03 03:09] icy commented on #44
thay KDE lên KDe4 bà con bỏ chạy một số. Từ GNOME qua GNOMe3 cũng gây nhiều tranh cãi. Về các tính năng cơ bản thì `WM` còn hay hơn cả `XFCE4`, còn cách bố trí và tiếp cận thì khác với `e17`. Nói chung nên xem cho biết.

Do `Wm` không nhớ được vị trí và kích cỡ cửa sổ nên hiện a vẫn dùng `e17` hehe

[2013-06-03 03:16] NgoHuy commented on #44
nhìn giống `windows XP` -_-

[2013-06-03 03:23] icy commented on #44
On Sun, 02 Jun 2013 20:16:28 -0700
Ngô Huy notifications@github.com wrote:

Anh cần một môi trường `stable`, ít thay đổi để không yêu cầu
thay đổi `user experience`, điều này rất quan trọng đó em. Nếu xem
lại cái `e17 profile` thì a có nói tới yêu cầu này. `WindowsXP`
rất đáng học hỏi về thiết kế đó.

Ba cái lăn tăn khác không quan trọng. Ngoài ra nếu em biết dùng
thì `wm` nó đẹp đó ha. Đừng vội n

[2013-06-03 03:35] NgoHuy commented on #44
Đó mới là nhận xét ban đầu thôi anh, em chưa đi sâu vào thiết lập để tạo `profile` :-P

[2013-06-03 03:47] icy commented on #44
http://article.gmane.org/gmane.compw.window-managers.windowmaker.devel/6093

[2013-06-03 13:00] minhhieu opened #46 "Bổ sung tính năng gõ ngôn ngữ Latex cho Libreoffice"
Mặc dù Libreoffice có chức năng gõ công thức toán nhưng quá phức tạp.Kỳ Anh nên nghiên cứu phần mềm tích hợp vào bộ office này gõ giống như ngôn ngữ Tex mà mathtype đã tích hợp vào word.

[2013-06-03 13:23] icy commented on #46
Hiếu coi dùng `Lyx` hoặc dùng `LaTeX` luôn nhé.

[2013-06-03 13:23] #46 closed, assigned to icy

[2013-06-03 13:57] minhhieu commented on #46
Ý của Hiếu là không cần dùng Win nữa mà vẫn đáp ứng được việc soạn đề gởi cho những người không biết về Tex kìa. Và lôi luôn những người dùng win về với chúng ta luôn. Nếu bạn cảm thấy việc này khó khăn thì bỏ qua

[2013-06-03 14:14] icy commented on #46
Bảo Hiếu dùng `Lyx` chớ có bảo Hiếu dùng `Windows` đâu?

[2013-06-04 03:06] icy opened #47 "Thêm các rewrite rules cho Apache"
Hiện có một số `rewrite` rule để cung cấp các liên kết tiện lợi cho người dùng, nhưng những liên kết này chỉ có hiệu lực trên máy `l00s3r` (dùng `nginx`). Với các máy `mirror` cần cung cấp thêm các mẫu cấu hình và cấu hình đổi hướng thích hợp.

[2013-06-04 14:16] NgoHuy commented on #41
Hiện tại em vẫn dùng `arch iso` và chưa tạo ra kịch bản hòan chỉnh nào

[2013-06-05 15:12] icy opened #48 "pkgbuild cho linux-backports"

[2013-06-05 15:13] icy commented on #45
Anh sẽ gặp Lâm trao đổi thêm và nhắn lại cho em biết.

[2013-06-05 15:14] icy commented on #36
Rốt cuộc là chọn cái gì là tốt nhất Huy?

[2013-06-05 15:20] NgoHuy commented on #36
Em ghi rõ là nhiều ( ở đây là cả `aspell` và `hunspell` ).
Hiện giờ không có cái nào kiểm tra tòan bộ các ứng dụng.

[2013-06-05 15:32] icy commented on #36
Vậy thử với `hunspell` trước xem :D

[2013-06-05 15:37] NgoHuy commented on #36
Vậy để em viết `PKGBUILD` gói `hunspell-vi`

[2013-06-05 15:48] icy commented on #44
Cái này dời qua `G2`. Điểm rất dở của `wm` là `docking` của nó chiếm và sinh ra quá nhiều không gian thừa không cần thiết trên màn hình, nhìn vừa thiếu vừa thừa rất khó chịu. Tính năng ghi nhớ vị trí và kích cỡ cũng không thấy đâu.

Nếu có điều kiện cố thể ngó qua và điều chỉnh lại mã nguồn :)

[2013-06-05 15:51] icy commented on #11
next: viết tài liệu về cách bố trí và điều chỉnh trên `mirror`

[2013-06-05 15:52] NgoHuy commented on #44
`docking` và `terminal` hehe

[2013-06-05 15:53] icy commented on #34
Các vấn đề mà Q. báo đã điều chỉnh trong mã nguồn và giải thích trên kên #irc. Tạm thời đóng chủ đề này lại khi nào có vấn đề hãy mở lại.

[2013-06-05 15:53] #34 closed, assigned to xluffy

[2013-06-05 15:55] icy commented on #14
Bữa sau nhớ link vào luôn cho dễ tìm Huy nhé.

https://github.com/TheSLinux/buildsystem/pull/3

[2013-06-05 16:03] icy commented on #44
`terminal` thì liên quan gì đâu vẫn như các `apps` khác mà

[2013-06-05 17:34] icy opened #49 "Thử nghiệm Anything-Sync-Daemon"
- Source: https://github.com/graysky2/anything-sync-daemon
- Link: https://wiki.archlinux.org/index.php/Anything-sync-daemon

[2013-06-08 06:08] icy opened #50 "Chỉnh footer cho các nhóm thư"
Các thư từ các nhóm đều nên có thông tin ở cuối (footer) mô tả ngắn gọn về nhóm thư và liên kết đến giao diện web. Do các nhóm thư được cung cấp bởi `ecartis` nên việc điều chỉnh phải thực hiện qua dòng lệnh, và hiện giờ... không biết cách nào cả.

[2013-06-08 06:11] icy commented on #45
Trong phần offline ngoài việc giới thiệu về dự án, còn có thể nói về một số đề tài liên quan tới cách làm việc với dự án. Gợi ý ban đầu: `git`, hệ thống `buildystem`, hệ thống trang web, coding với `bash`,...

[2013-06-08 07:02] icy commented on #47
Đã thêm vào

https://github.com/TheSLinux/homepage/commit/76eedeeb2e0d2ac737712ec1fce6aa4ea6c6071f

Phần `hook` cho `git` cũng phải chỉnh lại tí để có thể tự động lấy về cấu hình trên nhánh `core` cho vào kết quả xuất.

[2013-06-08 07:02] #47 closed, assigned to icy

[2013-06-08 07:03] icy commented on #47
Ví dụ luôn http://theslinux.org/.htaccess

[2013-06-09 20:23] icy commented on #50
Sử dụng giao diện `web` của `freelists.org` đủ, nhưng `navigation` hơi tệ muốn tìm một list thì phải xoay chuột mệt nghỉ :(

[2013-06-09 20:23] #50 closed, assigned to icy

[2013-06-09 20:24] icy opened #51 "Chỉnh gmane link cho nhóm thư Phantom"
- Đăng ký nhóm thư `theslinux-phantom` vào hệ thống của `Gmane`
- Chỉnh các liên kết và địa chỉ trong cấu hình `nginx` và `apache`

[2013-06-09 20:26] icy commented on #11
Liên hệ `Cooly` để lấy thông tin

[2013-06-10 14:44] NgoHuy commented on #36
Tin vui là `Libreoffice-vi` tích hợp sẵn bộ kiểm tra từ điển

[2013-06-10 15:02] NgoHuy commented on #36
em đã viết `PKGBUILD` cho  `hunspell-vi`

https://github.com/NgoHuy/buildsystem/commit/ee45b5235ed714991fb090d677c553acbc87bccc

[2013-06-13 10:47] icy opened #52 "Tạo archive cho các nhóm thư ở mail-archive.com"
Xem thêm http://www.mail-archive.com/faq.html#newlist

[2013-06-13 15:33] icy opened #53 "Điều chỉnh giao diện trang web"
Điều chỉnh trang web theo đề nghị của @lewtds

[2013-06-13 15:36] icy commented on #11
Đã xong :) Địa chỉ http://mirror-fpt-telecom.fpt.net/theslinux/ . Cảm ơn @Cooly rất nhiều!

[2013-06-13 15:37] #11 closed, assigned to icy

[2013-06-13 15:41] icy commented on #13
1. Sẽ không mã hóa toàn bộ các phân vùng `/`
2. Chỉ mã hóa phân vùng dữ liệu, không mã hóa phân vùng `/home/` hay `/home/<user>/`
3. Sẽ sử dụng `truecrypt`  hoặc `ecryptfs` với giao diện đồ họa sẵn có
4. Không sử dụng `luks` (mặc dù tính năng `resize` của `luks` rất hay) vì thiếu giao diện đồ họa. Nếu có giao diện thân thiện thì có thể xem xét dùng, như 3.)

[2013-06-13 15:46] icy commented on #14
Đóng chủ đề này lại. Các vấn đề khác hãy trao đổi trên hệ thống `buildystem` như link vừa nêu ra ở trên.

[2013-06-13 15:46] #14 closed, assigned to NgoHuy

[2013-06-13 15:48] icy commented on #29
Các việc cần làm
1. Tạo một `repo` riêng, có tên `126-e17`, trong đó có lưu các cấu hình của `e17` dạng mẫu, ở dạng `text`
2. Đặt `repo` ở trang `github` của riêng @NgoHuy
3. Đặt ra các phím tắt . Không nhớ là @NgoHuy  đã nói ở đâu về một số phím tắt, hãy liệt kê ra lại nhé. Trao đổi ở đây hoặc trên nhóm thư đều tốt.

[2013-06-13 15:49] icy commented on #49
Đây là tính năng có ích với người dùng thẻ nhớ.

[2013-06-13 15:51] icy commented on #44
Khi nào `wm` có hỗ trợ khả năng nhớ các kích cỡ và vị trí các cửa sổ thì sẽ xem xét cho vào hệ thống.

[2013-06-13 15:53] icy commented on #20
Một bài hay về các điều hạn chế của Google Authenticator http://blog.mricon.com/2012/12/limitations-of-google-authenticator-pam.html . Đã tw. ở https://twitter.com/kyanh/status/316841540070821888

[2013-06-13 15:58] icy opened #54 "Chuẩn bị tài liệu cho developer"
1. -Tài liệu về git-
2. Tài liệu về coding style
3. Tài liệu về cách dùng và quản lý các nhóm thư
4. Tài liệu về cách thức trao đổi, báo lỗi trên github, nhóm thư, ...
5. Tài liệu về những việc cần làm với thứ tự ưu tiên
6. Giấy phép và các quyền lợi, trách nhiệm liên quan

[2013-06-14 06:44] icy commented on #13
Một bài so sánh giữa `truecrypt` và `luks`, mặc dù không có gì đặc biệt https://bbs.archlinux.org/viewtopic.php?id=85694&p=2

[2013-06-14 06:52] icy opened #55 "Đóng gói cho zuluscript"
http://code.google.com/p/zulucrypt/

[2013-06-14 07:28] NgoHuy commented on #55
Hiện gói đã có trên `AUR` gói này cần một bạn duy trì gói

[2013-06-14 07:49] icy commented on #55
Ủa rứa lúc này tìm không ra :) nếu có rồi thì để a đẩy vào kho `buildsystem`.

[2013-06-14 14:26] NgoHuy commented on #29
Done !
https://github.com/NgoHuy/buildsystem/commit/11b9a6dead16a82e759f824b3b794d329035f1c0

[2013-06-14 14:54] icy commented on #53
Đổi qua phông mặc định là `Tahoma` https://github.com/TheSLinux/homepage/commit/41fa0902d86d0e47f9ec547d8c211c173a28f7dd

[2013-06-14 14:54] #53 closed, assigned to icy

[2013-06-14 22:38] icy commented on #52
[code]

[2013-06-14 22:39] icy commented on #51
Đây là nhóm thư lưu trữ các hoạt động khác nhau từ Github. Tuy nhiên, hiện chưa có cách hiệu quả để cho phép nhóm nhận thư từ trang này.

[2013-06-19 03:37] icy opened #56 "webmail URI"
Cung cấp địa chỉ ngắn để vào trang `webmail` của zoho

[2013-06-19 13:16] icy opened #57 "Tài liệu hướng dẫn đăng ký vào nhóm thư"
Hiện cách đăng ký vào các nhóm thư khá phức tạp và không quen thuộc với người dùng Google. Cần đưa ra các hỗ trợ đơn giản hơn, tài liệu chi tiết hoặc kênh hỗ trợ nhanh hơn.

[2013-06-19 17:02] icy commented on #56
http://mail.theslinux.org/

[2013-06-19 17:02] #56 closed, assigned to icy

[2013-06-19 17:09] icy commented on #56
Thông báo cho @xluffy  biết.

[2013-06-19 17:19] icy commented on #54
Tài liệu về cách thêm tin tức, sự kiện mới vào trang chủ: http://theslinux.org/doc/homepage/add_new_event/ . @xluffy

[2013-06-19 17:23] icy commented on #54
Lớp hướng dẫn dùng Git vào tháng 6/2013: http://theslinux.org/events/2013/06-git-training/

[2013-06-20 11:33] xluffy commented on #57
Chà, không rõ em có hiểu nhầm ý anh ko ta, em thấy việc đăng ký cũng khá dễ dàng mà.

[2013-06-20 18:19] NgoHuy commented on #55
có thể đóng `issue` được chưa anh :)

[2013-06-20 18:21] NgoHuy commented on #57
Khó khăn khi đăng bài, hay yêu cầu `moderator` xác nhận nhưng em không tìm ra cách xác nhận

[2013-06-20 22:45] icy commented on #55
Còn ở `backlog` em. Khi nào đã có `commit` vào hệ `bs` mới đóng. Chuyện đóng mở này này em không cần log.

[2013-06-20 22:47] icy commented on #57
Vừa rồi có một số email đăng ký đẩy ngược về email của anh, và dường như sau đó người dùng không đăng ký được luôn. Hệ thống của `freelists` rất mạnh ở các dòng lệnh qua email, nhưng hơi khó gặm vì nó chẳng để liên kết nào để thay thế lệnh cả.

Nhiều phần hướng dẫn có thể làm ngắn lại. Có điều kiện a sẽ giới thiệu với các bạn nhiều hơn. Tạm thời để cái này đây đã.

[2013-06-20 23:15] icy commented on #54
Chú ý về cách sử dụng và thông tin cung cấp bởi hệ thống `ticket` trên `Github`: Khi thay đổi các nhãn sẽ không còn thông tin về thời gian. Tạm khắc phục bằng cách sử dụng các `comment` để theo dõi.

[2013-06-21 10:21] icy commented on #44
Trong bài này http://article.gmane.org/gmane.compw.window-managers.windowmaker.devel/6192 có gợi ý là dùng tính năng `lưu session` của `wm` để lưu vị trí và kích thước các cửa sổ

[2013-06-23 04:19] icy opened #58 "Cài đặt mailing list"
- Cài đặt trình quản lý `mailing list`
- Cài đặt một số `cron job` để tạo `arhive` cho một số dự án

[2013-06-23 11:09] icy opened #59 "public key support"
Cho phép dùng `key-based` login để tải file lên `mirror`. Xem `key` bên dưới (nhớ ghép lại thành  1 dòng)

[code]

[2013-06-23 11:12] icy commented on #59
(key đã update đừng dùng key trong email trước)

[2013-06-23 16:05] icy commented on #45
@xluffy và @NgoHuy  thích làm cái gì cho tháng 7 đây =)

[2013-06-23 23:22] icy commented on #29
A coi mãi không hiểu vì sao @NgoHuy  để số `127`, giờ mới phát hiện ra a ghi nhầm ngay từ ban đầu. A sẽ tự chỉnh lại hihi . Thanks @NgoHuy

[2013-06-23 23:23] icy commented on #58
Chi tiết cài đặt `Mailman` và `exim4` cùng nhau http://www.exim.org/howto/mailman21.html

[2013-06-24 02:11] icy commented on #45
À trước tiên cần chuẩn bị cho `barcamp saigon` vào ngày 7/7/ :)

[2013-06-25 03:21] icy opened #60 "Thêm robots.txt cho trang web"
Sử dụng các công cụ phát sinh `online` để tạo tập tin `robots.txt`

[2013-06-25 04:06] icy commented on #59
Xong. Thanks @lokiheero

[2013-06-25 04:06] #59 closed, assigned to lokiheero

[2013-06-25 04:07] icy commented on #11
Hỗ trợ public key xem ở #59

[2013-06-25 08:07] icy opened #61 "Tìm hiểu về cách gõ tốc ký và phương án hỗ trợ trong uim"
Các bộ phận gõ tốc ký thường có những quy tắc gõ riêng, liệu có thể hỗ trợ các quy tắc này không? Và trước mắt, các quy tắc này có thể tìm thấy ở đâu?

CC: @NgoHuy  @xluffy  @mrtuxhdb @lewtds

[2013-06-25 08:33] ghost commented on #57
em đăng ký nhóm thư tới 2 lần mà không được. sao không dùng nhóm thư của gmail anh icy?

[2013-06-25 09:13] icy commented on #57
@xclarke  dùng cái này thử chưa em http://theslinux.org/lists/#fastoption ? Nó sẽ gửi email và em theo hướng dẫn làm theo thôi. Không dùng nhóm thư google do một số bất tiện.

[2013-06-25 13:40] icy commented on #60
Xem trong
- https://github.com/TheSLinux/homepage/commit/b35ab620876e38e5a776a9c7a0cd3b464a9f714c
- https://github.com/TheSLinux/homepage/commit/1ec0f2abc1f5d2098d9f36ae29dc46cb7c20e904
- https://github.com/TheSLinux/homepage/commit/2c418a0ae5403e87f0aa13173b610701154a8bf9

[2013-06-25 13:43] #60 closed, assigned to icy

[2013-06-25 13:48] icy opened #62 "Tạo githook gửi email thông báo khi có commit vào các kho chính"
Khi có thành viên `commit` vào trong các kho của dự án, một email sẽ được gửi để thông báo đến các thành viên (có thể dùng nhóm thư `phantom`) biết và kiểm tra khi cần thiết.

Chủ để của thư thông báo cần phải có các thông tin cơ bản
- Tên dự án, tên khoa
- Tên tác giả (cuối cùng)
- Dòng chủ đề của (của `commit` cuối cùng)

Nội dung thư phải / nên gồm các thay đổi mới nhất _(so với lần cuối)_

[2013-06-25 15:06] icy opened #63 "Security review / auditing the systems"
Nodes: l00s3r, l00s4r, phant4m

[2013-06-25 15:07] icy commented on #43
Chú ý các vấn đề của _n0bawk_ khi dùng `emacs` (`vi`) với `urxvt`.

[2013-06-25 15:19] NgoHuy commented on #43
Cụ thể là vấn đề thế nào vậy anh ?

[2013-06-25 15:43] lewtds commented on #61
Em google sơ sơ thì không thấy. Có lẽ đơn giản nhất là đi hỏi một cách lịch sự. Chắc người ta cũng không có vấn đề gì mà không chia sẻ cho mình đâu.

[2013-06-25 15:49] icy commented on #61
Mình đặt vấn đề này vì hồi xưa mình có nghe nói có các hỗ trợ gõ tốc ký và các kiểu tương tự. Đi tìm mà cũng không thấy :D Cái này chắc cũng phải là kinh nghiệm và khoa học.

Trên mạng tìm cũng thấy có một số bác đề xuất kiểu gõ tốc ký, mà cách gõ nhìn quá phức tạp và với người đã bắt đầu từ lâu như mình khó mà học lại.

[2013-06-25 15:58] icy commented on #52
Vẫn còn vài trở ngại với http://freelists.org/

[2013-06-25 16:27] icy commented on #26
Tiếp: không gõ được `moosefs.org` một cách dễ dàng được :D  (bản 1.4.1 của `uim-vi-telex`)

[2013-06-25 17:18] icy opened #64 "Check if the irc bot supports `auto-join` feature"
Con bot đang dùng (sử dụng https://github.com/icyfork/pyirclogs/ ) không tự động `join` sau khi bị rớt ra ngoài. Cần phải điều chỉnh mã nguồn lại, hoặc sử dụng một con `bot` khác. Lưu ý rằng con bot phải cực kỳ đơn giản (nhưng phải hỗ trợ `ssl`) để có thể cài đặt trên máy chủ `berlios`

[2013-06-26 13:29] xluffy commented on #61
Em thấy tốc ký thì mấy cha nhà báo hay xài vì phỏng vấn nói nhanh, mền dư thời gian cứ thong thả gõ :v:

[2013-06-27 14:03] icy commented on #61
Haha, anh muốn có hỗ trợ cho cánh nhà báo đó em :D Anh cũng quen vài người làm phóng viên, để a hỏi họ xem thử.

[2013-06-28 06:46] icy commented on #63
cập nhật các bản Ruby do dính lỗi
- CVE-2013-4073
- Link: http://www.ruby-lang.org/en/news/2013/06/27/hostname-check-bypassing-vulnerability-in-openssl-client-cve-2013-4073/

[2013-06-30 05:24] icy opened #65 "Cập nhật uim 1.8.6"
Phiên bản uim-1.8.6 vừa ra lò https://groups.google.com/forum/#!topic/uim-en/5RP1zwqX2hU

[2013-06-30 11:11] icy commented on #62
Xem thêm https://github.com/git/git/blob/master/contrib/hooks/post-receive-email

[2013-06-30 11:20] icy commented on #24
Xem thêm
- https://github.com/afresh1/rt-ticket-import-export
- https://npmjs.org/package/github-issues-export

[2013-06-30 15:34] lewtds commented on #62
Cái này hình như mỗi repo lại một hook thì phải bác ah @@

[2013-06-30 22:00] icy commented on #62
Đúng rồi @lewtds . Hiện giờ mình xài `hook` riêng, không có tính năng phát sinh và gửi email như trong cái liên kết ở trên. Việc có `hook` này là cần thiết để biết các thay đổi đang diễn ra. Việc dùng hệ thống theo dõi của `github` chỉ là một phần, còn kho chính thì mình chạy trên máy chủ riêng.

[2013-06-30 22:06] icy commented on #8
Đang làm việc trên hệ thống cảnh báo.
Vấn đề cần giải quyết (minor): feature package không có tag riêng!?

[2013-07-01 10:42] thuandt commented on #52
Hệ thống mailing list của `theslinux` khó đăng kí và sử dụng.
Cứ dùng kiểu như github này còn hay hơn

[2013-07-01 10:44] thuandt commented on #43
Trước giờ em thay nhiều `terminal emulator` rồi nhưng sau chốt thì vẫn dùng `gnome-terminal` hoặc `lxterminal`.

[2013-07-01 11:46] icy commented on #52
Mình sẽ có máy chủ mail riêng trong thời gian tới, nên tạm thời các list vẫn dùng như vậy (dịch vụ của `freelists.org`)

Thuận có thể quản lý email server không, kiểu cái này #58 ? Có bạn nào có khả năng thì giới thiệu nhé.

[2013-07-01 23:26] icy commented on #43
Nếu mà lựa chọn thì sẽ rất nhiều khả năng, gây tranh cãi cả ngày ấy chứ. Mình chỉ cần chọn một cái có thể sống "lâu" nhất, làm việc ở nhiều môi trường nhất có thể. Với `tmux` và `screen` thì có thể dùng ở cả máy cá nhân và trên các máy ở xa (`remote`), còn các công cụ đồ họa là hỗ trợ. (`xterm`, `lxterminal`, là để mồi; tất nhiên chúng có các ưu thế riêng).

Nếu có đông thành viên mình sẽ làm phần

[2013-07-02 10:09] icy opened #66 "Biên dịch các gói uim-vi cho máy 32-bit"

[2013-07-02 12:41] icy opened #67 "l00s5r: nâng cấp hệ thống Debian 6 -> Debian 7"

[2013-07-02 12:58] icy commented on #67
## Nội dung tập tin /etc/apt/sources.list

[code]

## Các lệnh cần thiết

[code]

[2013-07-02 12:58] #67 closed, assigned to icy

[2013-07-02 13:01] icy commented on #65
Phiên bản 1.8.6 có nhiều thay đổi gây xung đột với các miếng vá hiện có trong `uim-vi`, do đó, trong khi một số vấn đề đã báo chưa thấy có hướng giải quyết. Do dó, tạm thời vẫn dùng bản `uim-1.8.5`

[2013-07-02 14:25] thuandt commented on #67
Lỗi typos anh @icy ơi.
`dist-upgrade` chứ không phải `distr-upgrade`

[2013-07-02 14:56] lewtds commented on #67
Hở, sao trong cùng hệ thống lại lai được pacman và apt hả anh?

[2013-07-02 15:24] thuandt commented on #67
@lewtds nó là package manager thôi mà. Có source thì cài ở đâu chẳng được :3

[2013-07-02 15:26] lewtds commented on #67
Nhưng mà dùng 2 cái một lúc thì nó quản lý file ntn anh? conflict thì sao? `pacman` có chơi được với deb package không?

[2013-07-02 15:32] icy commented on #67
@mrtuxhdb Cảm ơn e, anh đã chỉnh lại lỗi.
@lewtds http://github.com/icy/pacapt dùng mọi lúc mọi nơi, riêng cái `dist-upgrade` thì chịu chết :D

[2013-07-02 15:33] icy commented on #67
Server này do một cty tài trợ, dùng để quản lý nhóm thư, xem thêm ở http://theslinux.org/l00s/5r/

[2013-07-02 15:50] lewtds commented on #67
Thanks bác @icy, hóa ra đây không phải pacman mà chỉ là một wrapper. :D

[2013-07-02 15:55] icy commented on #67
haha, mình phải làm việc với rất nhiều `distro` khác nhau, nên tiện tay viết luôn cái đó. Mỗi cái mỗi nhớ rất là phiền đấy : ^^

[2013-07-03 01:30] icy commented on #66
Đã làm xong và công bố tại `mirror` http://theslinux.org/mirror/fpt/testing/

[2013-07-03 01:30] #66 closed, assigned to icy

[2013-07-03 01:46] icy opened #68 "Chậm mởi kết nối tới Mirror (FPT)"
Rất khó mở một kết nối mới tới trang http://mirror-fpt-telecom.fpt.net/theslinux/ , vì một số lý do nào đó mà phải chờ rất lâu, thậm chí có khi kết quả trả về là ... không có gì. Khi đã mở được kết nối rồi thì lại truy xuất hơn, không có vấn đề gì về tốc độ tải tập tin xuống.

[2013-07-03 03:56] Narga commented on #36
Kiểm chính tả hiện giờ kể cả `aspell` hay `hunspell` kiểm tra tiếng việt đều chỉ là ở mức kiểm tra từ đơn viết sai chứ chưa kiểm được về mặt từ ghép, ngữ nghĩa, ngữ pháp. Để làm được thì cần một thuật toán riêng biệt. Trên Windows có một số soft kiểm tiếng việt tuy nhiên đều là các bản thương mại hoặc closed source.
Đây là một trang có tập hợp các tài liệu về tiếng Việt, nếu @NgoHuy làm kiểm chính

[2013-07-03 08:41] icy commented on #36
Cảm ơn @Narga . Việc có một bộ kiểm tra chính tả, ngữ pháp chắc là một chuyện xa vời. Tuy nhiên, trong `hunspell` có cho phép kiểm tra các từ ghép (ví dụ, phải dùng _hoang tàn_ chứ không được viết _hoang tàng_), có thể giải quyết được phần nào bài toán. Nhưng cái này cần nghiên cứu và viết thêm. Việc hỗ trợ từ ghép cho `aspell` thì mình không chắc lắm.

[2013-07-03 23:26] icy opened #69 "l00s3r: nâng cấp gitolite v2 => gitolite v3"

[2013-07-03 23:27] icy commented on #65
@NgoHuy  đã chỉ ra trong bản `1.8.6` có xuất hiện phần mã dành riêng cho Qt5 (Thank you very much, @NgoHuy ). Phần này có thể `back-port` để hỗ trợ cho phiên bản `1.8.5` khi cần thiết.

[2013-07-04 05:08] NgoHuy commented on #65
Em đã nhầm anh ah,

Hiện tại `uim` mới hỗ trợ trên `git` nhánh `master` và hỗ trợ 1 năm nay tuy nhiên em vẫn chưa hiểu lý do vì sao không đưa vào bản ổn định.

Tạm thời bản ổn định nhất vẫn là `1.8.5`

https://github.com/uim/uim/tree/master

[2013-07-04 05:14] icy commented on #65
Lần sau cẩn thận nhé, thông tin kiểu này dễ chết nhầm lắm . Thanks :)

[2013-07-05 00:28] icy opened #70 "Chọn giấy phép mới cho hệ thống tài liệu"
Xem chi tiết http://article.gmane.org/gmane.linux.distributions.theslinux.devel/63

[2013-07-05 01:35] icy opened #71 "Thử nghiệm hệ thống log-structured File System"
@NgoHuy  chú ý các vấn đề với nhiệt độ nhé.

Sau đó viết các tài liệu hướng dẫn cơ bản (dạng nội bộ, sau đó a sẽ giúp chuyển qua trang chủ sau.)

[2013-07-05 04:24] NgoHuy commented on #71
Nhiệt độ máy (`cpu`) hay `usb` anh ơi ?

Hiện tại em không có cách gì đo nhiệt độ `usb` ngoài cách sờ

`hddtemp` không hỗ trợ `usb` anh ah

[2013-07-05 04:28] icy opened #72 "Viết cronjob lọc tin từ mail-listing"
Viết một cronjob để lọc tin từ các nhóm thư, báo biết các chủ đề mới nhất và thể hiện trên trang web.

[2013-07-05 04:32] icy commented on #71
ok bằng cách sờ thôi em :D Hoặc tìm trên mạng xem. Cần thì mua cái nhiệt kế về thử. Tại a thấy hình như nó hơi nóng mặc dù chả truy xuất gì. Không biết có phải vấn đề chung không.

[2013-07-05 13:40] thuandt commented on #71
@NgoHuy Với HDD chỉ những device có support S.M.A.R.T thì mới lấy được nhiệt độ kiểu đó thôi, còn USB theo anh biết là không có cách nào để biết cả :3

[2013-07-05 14:18] NgoHuy commented on #71
@mrtuxhdb vì `usb` bình thường không có cảm biến nhiệt anh ah :D

@icy em xác nhận không làm gì cũng nóng với cái `usb` của em :D

[2013-07-05 14:24] icy commented on #71
Sao kỳ vậy ta. Không làm gì mà nó cũng nóng. Lâu nay đúng là không để ý. `usb` chỉ cần `mount` vào thôi cũng nóng sôi. tại sao?

[2013-07-05 14:34] NgoHuy commented on #71
Em dự đóan do `usb` thường xuyên phải `khai báo` với `subsystem` của hệ thống nên dù không đọc ghi dữ liệu nhưng vẫn phải ở chế độ thường trực ( có thể điều chỉnh được  để tắt khi không làm gì )

[2013-07-05 14:43] thuandt commented on #71
Chip nhớ của USB nó bé tí chạy hoài tất nhiên là phải nóng roài ;)

@NgoHuy HDD có cảm biến nhiệt mà smarttools nó hem support cũng như nhau mà

[2013-07-05 15:02] icy commented on #69
Followed http://gitolite.com/gitolite/migr.html

[code]

[2013-07-05 15:02] #69 closed, assigned to icy

[2013-07-05 15:06] icy commented on #71
@NgoHuy làm tới mức này rồi, đoán không ăn thua. Phải có bằng chứng và cơ chế rõ ràng em. Đừng đoán già đoán non nữa. Chả prof. tí nào.

[2013-07-05 15:08] icy commented on #70
http://creativecommons.org/licenses/by-sa/3.0/

[2013-07-05 15:31] icy commented on #64
Con bot hiện tại không hỗ trợ `auto-join`. Không biết mần sao đây. Phải cài trên ... `berlios` mà :)

[2013-07-05 15:45] icy commented on #71
@mrtuxhdb Vậy vấn đề 'nóng' là vấn đề chung rồi, không tránh khỏi. Cũng lạ thật, mình không đủ các thông tin kỹ thuật giải thích việc này. Chẳng qua là lâu  nay không để ý, nên khi đụng tới `FS` mới lại bất ngờ :D

@NgoHuy yên tâm kiểm tra tiếp về độ bề, khả năng tải của `FS` mới =)

[2013-07-05 15:45] NgoHuy commented on #71
@icy theo cách họat động của `usb` mà em hiểu thỉ khi hệ thống không nằm trong chế độ tiết kiệm điện thì nó sẽ nằm trong chế độ thường trực nhận môt nguồn là 5V nên sinh nhiệt là bình thường :)

[2013-07-05 15:47] icy opened #73 "Liên hệ Gmane về việc đổi địa chỉ nhóm thư"

[2013-07-05 15:55] icy opened #74 "cronjob to compress bot logs"
all on servers of the project

[2013-07-05 23:16] icy commented on #45
Barcamp 7/7, Vĩnh Long 14/7 :)

[2013-07-05 23:28] icy commented on #58
Xem thêm https://github.com/Exim/exim/wiki/MailmanConfiguration

[2013-07-06 01:01] icy commented on #70
TODO: thay đổi giấy phép cho hệ thống tài liệu của các dự án.

[2013-07-06 02:46] icy commented on #70
https://github.com/TheSLinux/homepage/commit/6a1ad613a46099e2215e0db06a6bd3ef0d0bf639

[2013-07-06 02:46] #70 closed, assigned to nobody

[2013-07-06 15:39] icy opened #75 "Tài liệu dành cho Sponsor và Partner"
Lâm coi chuẩn bị giúp các thông tin và tài liệu cho phần này nhé. Mình sẽ công bố chính thức trên trang chủ. Các thông tin mình sẽ giúp Lâm chuyển qua định dạng riêng của trang web sau.

Many thanks.

[2013-07-06 15:41] vothailam commented on #75
Okie a.
lam.

On Saturday, July 6, 2013, Ky-Anh Huynh notifications@github.com wrote:

##

_Vo Thai Lam (Mr) | *_CEO**
**Mobile: (84) 90 38 39 390**
*
_Lac Tien Computing Joint Stock Company_*
Address:\* KC52/1/18 Huynh Tan Phat, Ward Tan Thuan Tay, Dist 7, Ho Chi Minh
City, Vietnam*
*_Phone:_ (84-8) 22 11 50 70 - Fax: (84-8) 6262 1286*
*
- Email:\* lienhe@lactien.com; contact@lactien.com*
  Websi

[2013-07-06 15:42] icy commented on #54
Xem thêm #75

[2013-07-06 15:43] icy commented on #71
@NgoHuy Nhớ cập nhật `status` nhé.

[2013-07-06 15:54] icy commented on #75
Các câu hỏi cần trả lời (cho cả Sponsor và Partner)
1. S/P là gì?
2. Ai và đơn vị nào có thể thành S/P? (Điều kiện, tư cách)
3. Các vấn đề có thể phát sinh?
4. Quyền lợi và nghĩa vụ cơ bản?
5. (bla bla)

[2013-07-06 15:55] icy commented on #54
Working on this

[2013-07-06 15:58] icy commented on #57
High -> Low priority

[2013-07-06 16:28] NgoHuy commented on #71
Đây là bản theo dõi em ghi lại trong mây ngày qua trong quá trình sử dụng
- Xóa tập tin bằng tổ hợp lệnh “Shift + Delete” dung lượng trống không được trả lại
- Không ghi đè được dữ liệu khi thiếu chỗ trống ( dung lượng trống không được trả lại )
- Ghi lại tòan bộ các thay đổi trên filesystem có ngày giờ, chế độ, …
- Bất tiện phải tự xóa các thời điểm `checkpoint` ( cần một `cron job` xóa định kì h

[2013-07-06 23:43] icy commented on #71
Cảm ơn @NgoHuy . Cái chỗ `mát hơn` này cũng hơi kỳ, nhưng cũng không quan trọng vì cả hai đều nóng :D

Hệ thống `LFS` sẽ không tự trả về khoảng trống, mà người dùng tự xử lý bằng tay. Em tìm thêm có giao diện nào phù hợp không. Nếu không có thể thử bắt đâu viết một ứng dụng nhỏ bằng `python-gtk` hoặc `ruby-gtk` anh nghĩ là đơn giản đấy :)

[2013-07-07 06:25] ck196 commented on #54
anh icy up slide về training Git lên trang chủ cho mọi người đi ạ.

[2013-07-07 08:16] icy commented on #54
Do phong cách viết `slide` của anh không giống ai, nên có lẽ anh sẽ chia sẻ về cách dùng `git` trong các tài liệu riêng, chứ không thông qua `slide` được. Stay tuned!

[2013-07-07 12:20] icy opened #76 "In áo/sticker #TheSLinux"
Bạn nào muốn in áo thì cho biết kich cỡ nhé . Tạm thời lấy số lượng đã :) Thiết kế tính sau ^^

[2013-07-07 12:43] ck196 commented on #76
+1&nbsp;

-- Sent from my Palm Pixi
On Jul 7, 2013 7:20 PM, Ky-Anh Huynh &lt;notifications@github.com&gt; wrote:

Bạn nào muốn in áo thì cho biết kich cỡ nhé . Tạm thời lấy số lượng đã :) Thiết kế tính sau ^^

---

Reply to this email directly or view it on GitHub:
https://github.com/TheSLinux/gs/issues/76

[2013-07-08 15:04] NgoHuy commented on #65
Em đã vá cho `uim-1.8.5` để chạy trên `Qt5` có `candidate window` [1]

[1] : https://github.com/NgoHuy/buildsystem/commit/aba4457c5ebce1ba408af85e79c47bb26879581a

[2013-07-09 01:57] icy commented on #65
Thanks @NgoHuy  a sẽ coi và kiểm tra sau nhé. Be patient!

[2013-07-09 04:20] icy commented on #58
@vanhonit coi tài liệu trong liên kết trên, cài đặt thử nghiệm (nếu cần máy chủ thì mình có thể cung cấp theo giờ), sau đó chuẩn bị tài liệu (viết theo định dạng `markdown` hoặc `kramdown`). Mình sẽ có khoảng 3 server sử dụng chung cấu hình này.

Sau khi có tài liệu và các chỉ dẫn cần thiết, sẽ có một bạn chuyên làm để chuyển vào `puppet`.

[2013-07-09 04:25] vanhonit commented on #58
Okay ! Có gì cho mình mượn server vào buổi tối để thử !

[2013-07-09 04:28] icy opened #77 "Vân đề an toàn của các máy build"
Hệ thống đóng gói sẽ có nhiều máy biên dịch (tạm gọi tên như vậy). Các máy này ban đầu sẽ dùng `ArchLinux` (ý định ban đầu sử dụng `Debian` không thành công do vướng nhiều vấn đề về thư viện liên kết). Một số máy thì có thể dùng `distro` khác (chỉ để cung cấp máy cho dãy `distcc`).

Các máy biên dịch sẽ ảnh hưởng tới toàn bộ bản phân phối `theslinux`. Nếu một trong các máy biên dịch gặp phải các v

[2013-07-09 04:32] icy commented on #58
@vanhonit Cách làm việc là thế này
1. Bạn kiểm tra lại các cấu hình trên máy ảo
2. Ghi chú các tài liệu và chuẩn bị các tài liệu cần thiết
3. Nếu được, chuẩn bị một kịch bản cài đặt tự động viết bằng `#bash`. Ví dụ, với `exim4` hoàn toàn có thể dùng cấu hình của máy này cho máy khác, nhưng chỉ phải thay đổi các thông tin về `hostname` chẳng hạn
4. Các tài liệu và kịch bản cài đặt sẽ được xem qua (

[2013-07-09 04:44] icy opened #78 "web of trust!"
Tài liệu và cơ chế để xây dựng `web of trust` + `buildsystem`

Tham khảo:
1. https://www.archlinux.org/master-keys/
2. http://en.wikipedia.org/wiki/Web_of_trust

[2013-07-09 16:02] vanhonit commented on #58
Cho mình biết server đang sử dụng distro nào vậy ?

[2013-07-10 02:50] icy commented on #58
Khi tối mình trả lời rồi mà sau không lên được?

Server đang dùng là `Debian 7`. Một số con dùng `Arch`. Cấu hình của `exim4` và `mailman` thường giống nhau, có thể dùng chung giữa các máy sau một số thay đổi cơ bản.

[2013-07-10 02:58] vanhonit commented on #58
Ok ! Để mình cài máy ảo giống cùng distro luôn cho dễ.

[2013-07-10 04:12] icy commented on #68
Khi `client` mở kết nối tới máy chủ của `FPT`,  mã trả về (HTTP return code) là `0`, không hợp lệ (đúng là một trong các mã thông thường như `200`, `301`, `404`. Xem thêm [1]). Do mã trả về không đúng, nên trình duyệt sẽ tiếp tục chờ đợi mã trả về hợp lệ, khiến cho thời gian chờ đợi tăng lên cho đến khi `timeout`. Một số trường hợp khi dùng qua `squid`, sẽ thấy nội dung trả về trước, nhưng mà `squ

[2013-07-10 05:34] icy commented on #58
Mình mới viết xong, @vanhonit  xem qua có gì góp ý nhé http://theslinux.org/devs/guidelines/sysadmin/

[2013-07-10 05:35] icy commented on #54
CC: @lokiheero  @vanhonit

Chỉ dẫn dành cho `sysadmin`: http://theslinux.org/devs/guidelines/sysadmin/

[2013-07-10 10:51] icy opened #79 "dựng puppet master cho các máy con"

[2013-07-10 13:07] icy commented on #54
@monkeykju Có vài quy tắc cơ bản, xài tạm http://theslinux.org/doc/git/basic_rules/ :)

[2013-07-10 13:18] icy opened #80 "Tạo file `sitemap` cho trang chủ"
1. Tạo ra `sitemap` từ cấu trúc thư mục của kho https://github.com/theslinux/homepage
2. Sinh ra tập tin (phiên bản) `.xml` của `sitemap`
3. Lệnh sed

[code]

[2013-07-10 15:33] NgoHuy commented on #71
Em không thấy giao diện nào phù hợp và đang viết ứng dụng nhỏ bằng `ruby-qt`  (hãy vui sông và chờ đợi :D )

[2013-07-10 16:21] vanhonit commented on #58
@icy và mọi người thông cảm hiện giờ đang xài mạng FPT không biết bị vấn đề gì không thể truy cập hay download từ nước ngoài nên tốc độ làm việc hơi chậm. Chắc phải đợi vài hôm nữa xem khả quan hơn ko ? Giờ lên github mà còn phải lên bằng fakeip.org nữa.

[2013-07-10 16:35] vanhonit commented on #58
Mình tìm được link này hướng dẫn khá chi tiết về cài đặt EXIM4 http://www.unixmen.com/howto-install-exim4-mail-server-in-ubuntu-and-linuxmint/

[2013-07-11 02:57] icy commented on #58
@vanhonit  Cứ thong thả, cần hỗ trợ gì thì kêu mọi người (có thể nói trên nhóm thư `hacker`), ví dụ về đường mạng, bla bla. Chỉ cần `update` tiến độ đều đặn để mọi người biết tiện theo dõi thôi.

Cần cài đặt `exim4` thì cần chú ý cài đặt `hostname` máy cho đúng đã (chạy `hostname` và `hostname -f` để xem), sau đó chạy `dpkg-reconfigure exim4-config` rồi làm theo hướng dẫn là được rồi. Cấu hình sin

[2013-07-11 11:34] thuandt commented on #58
Sao không dùng postfix mà dùng exim hả anh @icy

[2013-07-11 11:59] icy commented on #58
@mrtuxhdb  A dùng nhiều thứ thấy về cách tiếp cận từ phía `sysadmin` thì `exim4` đơn giản và tiện lợi hơi nhiều. Sẽ còn dùng `exim4` cho nhiều việc khác nữa nên bây giờ chọn luôn. Việc tích hợp `mailman` với `postfix` hay `exim4` thì cũng khó ngang nhau.

@mrtuxhdb có cao kiến gì không?

[2013-07-11 13:57] icy commented on #58
Cấu hình cho `exim4` trên hệ thống `Debian` thật ra rất đơn giản, chỉ việc chạy theo cái `wizard` (nhờ lệnh mình đã chỉ ra ở trên) là xong thôi. Có thể chọn `split-configuration` để tiện chỉnh sửa sau này.

[2013-07-12 05:02] thuandt commented on #58
Hệ thống work là được, cũng không quan trọng lắm. Em chưa setup mailman bao giờ nên không dám khẳng định gì :)

[2013-07-14 08:35] trung-ng commented on #68
Đã xử lý xong

Lỗi ngx-fancyindex module

Solution: Rebuild nginx với cách fix lỗi ngx-fancyindex từ đây http://serverfault.com/questions/507375/nginx-not-finishing-fancyindex

[2013-07-14 11:30] icy commented on #68
Cảm ơn @lokiheero  rất nhiều :)

[2013-07-14 11:30] #68 closed, assigned to lokiheero

[2013-07-15 16:49] vanhonit commented on #58
Tình hình là mình cấu hình y như hướng dẫn mà mail gửi không đi. Thử bằng câu lệnh echo “This is test mail from my machine .” | mail -s Testing honnguyen@honnguyen.com không được, thử bằng exim -v honnguyen@honnguyen.com cũng không luôn.

[2013-07-15 20:37] icy commented on #58
@vanhonit Dùng lệnh `sendmail -bt foobar@example.com` để kiểm tra xem, sau đó kiểm tra `log` của hệ thống email. Nếu bị lỗi do bị chặn thì mình sẽ có hướng kiểm tra khác.

[2013-07-16 09:40] vanhonit commented on #58
Mail gửi ra gmail được rồi có xem là thành công chưa nhỉ ? Hôm qua gửi mà hôm nay mail nó mới đến không hiểu nổi !

[2013-07-16 09:49] icy commented on #58
Kiểm tra log trong `/var/log/exim4` nhé @vanhonit . Mail vào, mail ra. Không cần phải kiểm tra ở mức `internet` đâu, chỉ cần kiểm tra ở các máy `local` là tốt rồi, vì ra ngoài có khi bị chặn bởi các hệ thống `spam` nữa đó :D

Cấu hình `exim4` xong thì tới phần `mailman` nhé :D

Từ từ làm, hy vọng là @vanhonit  học thêm được nhiều điều mới :D

[2013-07-16 09:53] vanhonit commented on #58
log thì báo thành công ! Vấn đề mình gặp là gửi trong local cũng báo thì không nó không hiểu domain mặc dù đã thử add domain vô hosts files. rồi thử tạo files /etc/mailip luôn rồi ! Gửi bằng ip thì nó bị lỗi !

[2013-07-17 03:34] icy commented on #58
Có gì trao đổi thêm trên kênh `irc` sẽ tiện hơn và nhanh hơn nhé @vanhonit

[2013-07-17 04:34] icy commented on #72
Một số dịch vụ lưu trữ như `Gmane` cho phép xuất ra ngoài các thông tin cơ bản,như danh sách các chủ đề mới nhất, số bài trao đổi trong các chủ đề ,,,. Có thể dùng một `cronjob`  để lọc tin và tóm tắt trên trang chủ.

[2013-07-17 09:57] icy commented on #71
:D Có cập nhật gì không @NgoHuy  lâu ngày biến đâu mất thế.

[2013-07-17 09:59] icy commented on #78
Link
3. http://www.rubin.ch/pgp/weboftrust.en.html
4. http://www.gnupg.org/gph/en/manual.html#AEN554

[2013-07-17 10:16] #37 closed, assigned to icy

[2013-07-17 10:17] icy commented on #44
`windowmaker` còn phải cải tiến nhiều :)

[2013-07-17 10:17] #44 closed, assigned to NgoHuy

[2013-07-18 08:04] xluffy commented on #24
Backup ra dạng gì vậy anh, có nhất thiết là phải đọc lại không?

Cái này thì sao anh: https://api.github.com/repos/TheSLinux/gs/issues

[2013-07-18 08:19] icy commented on #24
Em xem thử các `tool` mà a chỉ ra ở trên nó hỗ trợ thế nào. Nói chung là ra dạng gì cũng được, miễn là có thể `parse` lại sau này (ví dụ, ra dạng `HTML` thì mình có thể dùng `Nokogiri`, bla bla).

Một lưu ý nhỏ, là do các thông tin trên ticket có thể điều chỉnh lại được, nên có thể phải chạy đều đặn thường xuyên để xuất ra.

Cái `api` ở trên thì hay thật, nhưng chưa rõ `spec` của nó thế nào, có xu

[2013-07-18 08:45] icy commented on #75
@vothailam  ơi có update gì không, a thêm vào comment này kẻo em nhiều việc quá quên mất. Thanks ^^

[2013-07-18 09:36] vothailam commented on #75
Chắc cuối tuần này xong đó anh. Em cần tham khảo thêm vài mô hình nữa trước
khi đề xuát với mọi người.

[2013-07-18 16:39] icy commented on #76
Có thể đặt làm mấy cái sticker dán linh tinh thay cho áo không nhỉ?

[2013-07-18 16:39] icy commented on #76
Có thể đặt làm mấy cái sticker dán linh tinh thay cho áo không nhỉ?

[2013-07-18 16:42] icy opened #81 "kịch bản để cập nhật m4.theslinux.org"
Mirror của trang chủ http://m4.theslinux.org/ (cung cấp bởi Tuxfamily), có thể dùng chung cách với dự án `ArchLinuxVn / homepage`, nhưng cần điều chỉnh để chia sẻ khóa công cộng (không cần nhiều key cho nhiều dự án)

[2013-07-18 16:44] icy commented on #62
Các `hook` có thể dùng sẵn , và sẽ làm sau khi hoàn thành #58

[2013-07-18 16:44] #62 closed, assigned to icy

[2013-07-18 16:47] icy commented on #58
Priority Low -> High

[2013-07-19 02:56] icy commented on #64
Mã nguồn thư viện chính https://github.com/icyfork/pyirclogs/blob/theslinux/irclib.py

[2013-07-19 02:57] #71 closed, assigned to NgoHuy

[2013-07-19 02:59] icy opened #82 "Viết tài liệu / chương trình (GUI) giao diện cho nilfs"
`nilfs` không có giao diện đồ họa, có thể viết một chương trình đơn giản, ví dụ bằng `qt` hoặc `libncurses` để quản lý các `check-points`.

Nhưng đầu tiên là phải chuẩn bị một tài liệu thật tốt cho `nilfs`

[2013-07-19 03:00] icy commented on #82
cc @NgoHuy . Phần thử nghiệm có ở #71

[2013-07-19 03:16] icy opened #83 "Giảm log level cho các con bot IRC (logger)"
Các con bot đã sinh ra log riêng (sẽ được nén lại như trong #74), nhưng ngoài ra, bản thân chương trình `logger` cũng cần giảm đi  các log phát sinh (lượng thông tin này rất nhiều)

[2013-07-19 03:16] icy commented on #83
Không rõ cách tắt bằng cấu hình, tạm thời khi bật `bot` thì dùng `1>/dev/null  2>log_file`

[2013-07-19 03:16] #83 closed, assigned to nobody

[2013-07-19 04:52] vanhonit commented on #58
- Mình làm theo hướng dẫn ở đây http://www.debian-administration.org/article/617/Mailman_and_Exim4 và kết quả như thế này
  ![mailman](https://f.cloud.github.com/assets/1215676/824009/e539b85c-f02e-11e2-8b9c-4643801a63af.png) không biết được chưa ? Nào giờ mình chưa từng sử dụng và cấu hình cái này nên không rõ sử dụng như thế nào.

[2013-07-19 11:26] NgoHuy commented on #82
Em đã viết bằng `qtruby` tuy nhiên gặp phải vấn đề với `signal` và `slot` nên đã `port` lại sang `gtk` đã được 1/3 tính năng là `format` còn `view` nữa. Sẽ xong trong tháng này !

[2013-07-20 07:01] icy opened #84 "Chuẩn bị lại môi trường build"
Liên quan: #77 , #8
CC: @xluffy

Cần chuẩn bị lại môi trường build dựa trên Debian. Câu hỏi đầu tiên là có thể tạo môi trường `chroot` để build hệ thống `Arch` hay không. Các bước kiểm tra
1. cài debian 7
2. cài arch vào (dạng chroot)
3. build một số lib của arch (glibc chẳng hạn)

Mục tiêu là có thể đi tới được bước thứ 3, biên dịch thành công `glibc` (xem thêm các bước trong https://github.com/T

[2013-07-20 07:04] icy commented on #84
A cần @xluffy  giúp các bước kiểm tra. Việc chuẩn bị môi trường `build` thật sự sẽ tiến hành sau, với các tài liệu chi tiết hơn. Nếu có máy thật thì sẽ làm nhanh. Trong quá trình `bootstrap` có thắc mắc gì thì hỏi anh có thể giúp (do a đã làm cái này nhiều lần :D). Về `mirror` có thể sử dụng FPT do đã chỉnh xong lỗi kết nối chậm (#68)

[2013-07-20 07:06] icy commented on #82
Mất công thế =)

Cần chuẩn bị tài liệu nữa nha, việc này hơi khó và mất công. Em có thể viết sơ lược a giúp chuyển qua hệ thống `homepage`.

[2013-07-20 11:10] icy opened #85 "Cơ chế hỗ trợ static-file (cỡ trung) cho trang web"
Hiện tại, trang web không hỗ trợ lưu trữ / tải các tập tin tĩnh cỡ trung trở lên (các hình ảnh, tập tin media). Lý do là các máy chủ không phục vụ hiệu quả những tập tin này, và chúng còn khiến kho mã nguồn (`homepage`) phình to một cách không đáng có.

Có một cách khác, là dùng dịch vụ thứ ba để hỗ trợ tập tin tĩnh (Ví dụ: `dropbox`, `tuxfamily`, ...). Cơ chế (ví dụ) như sau:
- Trong bài viết sẽ

[2013-07-20 13:25] icy commented on #85
Một `tool` hay viết bằng `bash` https://github.com/andreafabrizi/Dropbox-Uploader (không sử dụng `user/password`, mà sử dụng `api` của `dropbox` trong quá trình `authentication`)

[2013-07-20 13:30] icy commented on #85
Lấy `token` cho `dropbox` ở đây https://www.dropbox.com/developers/apps/create

[2013-07-20 13:55] icy commented on #85
`dropbox` có thể tạo riêng một `application`, cùng với `api token` chỉ dành riêng cho ứng dụng đó. `application` này được phép truy xuất các `folder` đã có, hoặc chỉ riêng `folder` của ứng dụng _(trả lời cho các thắc mắc ở trên về chia sẻ tài khoản)_. Tuy nhiên, do `dropbox` đã  hạn chế dùng thư mục `Public` (xem [1]), và trong thư mục ứng dụng thì liên kết đến các tập tin lại sử dụng các `token`

[2013-07-20 14:29] icy commented on #85
Do cơ chế sử dụng `dropbox` _(đơn giản nhất trong các dịch vụ `cdn` đã thử)_ quá rắc rối, quá mức cần thiết, nên sẽ tạm dùng `tuxfamily` với cơ chế `pull`.

[2013-07-20 17:55] icy commented on #85
Priroty -> LowImportant.

Kho tải về ở `Tuxfamily` http://download.tuxfamily.org/theslinux/

[2013-07-21 13:45] thuandt commented on #82
signal và slot thì có gì đâu mà phải xoắn đến mức xài GTK+ ta :3

[2013-07-21 14:47] icy commented on #45
Xong tháng 7, chẳng kịp làm gì :)

[2013-07-21 14:47] #45 closed, assigned to icy

[2013-07-21 14:49] icy commented on #81
Fixed trong
- https://github.com/TheSLinux/homepage/commit/5b55a5cf2380b4bc5e2a64ca6d0e6bf862ca16ca
- https://github.com/TheSLinux/homepage/commit/b240cf68713eb1bbd494399c606051ba39bc48a4

[2013-07-21 14:49] #81 closed, assigned to nobody

[2013-07-21 17:44] thuandt commented on #84
@icy Với Ubuntu 13.04 thì em khẳng định là `bootstrap` được vào `Arch` vì em đã làm cách đây mấy tháng rồi.

[2013-07-21 17:46] thuandt commented on #76
Mấy cái sticker thì làm nhanh thôi mà. Có mẫu đem ra hàng đánh roẹt cái là xong.

[2013-07-22 00:59] icy commented on #84
Cảm ơn @thuandt mình sẽ coi xem có nên dùng Ubuntu được không :)

[2013-07-22 01:01] icy commented on #76
Mấy trò này thì không rành. Chắc in áo sẽ hoãn lại hoặc dời qua đợt khác vì chi phí hơi cao, trong khi số lượng ít. Làm mấy cái sticker vui nhộn để dán linh tinh cũng được, mình cũng thích vậy hơn. Dán trên áo thì không biết có loại nào không. Để nhờ thêm mấy bạn giúp chứ mình nhiều việc quá :D

[2013-07-22 08:10] icy commented on #76
@mitsukiAR Em làm giúp  nha như đã nói nha. Từ đây tới tháng 11 nên cũng không vội gì, nhưng nhớ sắp xếp làm kẻo quên. Làm cái `sticker` có kèm hình con gì với cái logo cho vui. Lưu ý là `logo` có hai bản khác nhau. Tông màu và các `logo` thì có ở `repo` riêng https://github.com/TheSLinux/media .

[2013-07-22 13:40] thuandt commented on #76
Vote logo TheSLinux trên quả mít =]]

[2013-07-22 13:44] icy commented on #76
Giống ... HIV quá vậy =))

[2013-07-22 15:25] icy commented on #79
CC @lokiheero @xluffy

Tạm thời tạo `puppet master` ở máy `tiny` [1]. Máy này quá yếu :D nên sẽ  phải cân nhắc chuyển qua máy khác khi cần.

Cấu hình https://github.com/icy/puppet.ng/tree/theslinux.data

[1] http://www.lucidatech.com/product/lt2600.htm

[2013-07-22 15:45] NgoHuy commented on #82
Qua cái này mới thấy mình tệ thế nào, đọc một `framework` không xong :(

Đây là sơ bộ cho tính nằng `format`  [1]

`TODO` `view, create, delete checkpoint`

[1] : https://github.com/NgoHuy/buildsystem/commit/c481ceba5e6c9ae9ce5b4237bb7f9eccee264b38

[2013-07-22 15:57] icy commented on #82
Về kết quả thì mới nhìn qua a thấy tương đối, nhưng chưa rõ các ý đồ
và hỗ trợ của chương trình này thế nào. Té ra em vẫn dùng `gtk` binding
trong `ruby`, a tưởng em dùng `c/gtk` luôn chứ hihi. Anh nghĩ e viết
các mô tả của chương trình trước, ví dụ nó sẽ làm gì, các bước nhập
thế nào, v.v...

Bữa nào Huy với các bạn họp lại mình hướng dẫn về `buildsystem` và `nanoc`
và các thứ khác. Làm việc tốt

[2013-07-23 04:17] icy opened #86 "Chỉnh rerverse DNS cho các server"
CC @vanhonit

Chỉnh reverse DNS cho các máy chủ để có thể gửi email tới toàn thế giới =) Sau khi chỉnh thế này mới thiết lập được hệ thống thư như ở #58

[2013-07-23 04:18] icy commented on #86
[code]

[2013-07-24 13:33] icy opened #87 "favicon.ico trang chủ rất xấu trên firefox 23"
Không hiểu vì lý do gì mà biểu tượng của trang web (http://theslinux.org/favicon.ico) hiển thị rất xấu trên firefox 23. Biểu tượng này khá nhỏ, thể hiện trang thanh địa chỉ, được tạo bởi kịch bản

https://github.com/TheSLinux/media/blob/master/bin/favicon-ico-creator.sh

Có thể chỉ cần một phiên bản chứ không gộp nhiều bản như trong cách hiện tại.

[2013-07-24 13:37] icy commented on #86
[code]

[2013-07-24 16:02] icy commented on #62
Xem thêm: #58, #86

Đã làm xong. Chủ đề này không nên đóng lại quá sớm thế này ;)
- Xem kho lưu trữ http://news.gmane.org/gmane.linux.distributions.theslinux.phantom
- Hook: https://github.com/TheSLinux/homepage/blob/core/bin/git.hook.post-receive-email.sh

[2013-07-27 02:58] vanhonit commented on #58
- Khi nào có thể gì @icy cho mình thông tin host để mình cài đặt thử.

[2013-07-27 07:07] icy commented on #58
Minh sẽ cung cấp thông tin  lại sớm. @vanhonit có hay lên kênh #irc mình trao đổi dễ hơn nhé. !

[2013-07-27 07:12] icy commented on #87
Tài liệu về định dạng của `.ico` https://en.wikipedia.org/wiki/ICO_%28file_format%29

[2013-07-27 07:36] #79 closed, assigned to icy

[2013-07-27 08:02] icy commented on #87
Fix in https://github.com/TheSLinux/media/commit/4a71dc2a8e8abc000771658d4054e2d50be1d7e8

[2013-07-27 08:02] #87 closed, assigned to nobody

[2013-07-28 16:14] icy commented on #85
Đã thêm chú ý trong phần chỉ dẫn về nội dung http://theslinux.org/doc/homepage/author_guide/#chi-dan-ve-noi-dung

[2013-07-28 16:14] #85 closed, assigned to icy

[2013-07-28 16:22] #51 closed, assigned to icy

[2013-07-28 16:27] icy commented on #26
Từ này khó gõ là do định nghĩa `ooos` thành `oó` để gõ một số từ đặc biệt như `moóc-phin`, `quần soóc`, .... nhưng lại không đi kèm `cancel form` cho nó. :)

[2013-07-28 16:38] icy commented on #26
Fix in https://github.com/TheSLinux-forks/myquartz-scim2uim/commit/3204bdb011d9bf77ba4dda53d4e9e79878bf4880

[2013-07-28 16:38] #26 closed, assigned to icy

[2013-07-31 00:37] icy opened #88 "tiny: nâng cấp hệ thống Debian 6 -> Debian 7"
Xem thêm #67

[2013-07-31 23:06] icy commented on #88
Làm lại từ đầu http://www.enlightenment.org/ss/e-51f998541bdc01.46381768.jpg

[2013-08-01 01:49] icy commented on #88
Lần nâng cấp khủng khiếp nhất với hệ thống Debian. Mất cả đêm và buổi sáng mấy tiếng vừa trông con vừa fix lỗi :)

[code]

[2013-08-01 01:49] #88 closed, assigned to nobody

[2013-08-01 02:01] icy opened #89 "tiny, l00s5r: clean up"
Xem #67 và #88 .

Hai máy `debian` này sau khi nâng cấp lên bản `7.1` thì có rất nhiều gói trời ơi đất hỡi được cài vào, ví dụ các gói ứng dụng `X`, giờ phải mày mò gỡ bỏ hết ra cho có thêm nhiều khoảng trống.

[2013-08-01 02:02] icy commented on #89
Trên `tiny` còn có cả thư viện xử lý tiếng Thái Lan. Hết chịu nổi!

[2013-08-01 10:53] NgoHuy commented on #82
Xác nhận em không thể xử lý đươc mục `view` để xem các `checkpoint` trong chương trình các tính năng khác vẫn làm được.

[2013-08-01 17:39] icy commented on #82
... tài liệu :D

[2013-08-01 17:57] NgoHuy commented on #84
Em đã `bootrap` và `build` thành công gói `glibc` và có những ghi chú sau
- Phải `mount devpts` để tránh lỗi `GPGME error: Inappropriate ioctl for device`
- Thêm các gói sau vào `base packages`
  - gcc
  - fakeroot
  - patch
  - make
  - diffutils

[2013-08-03 02:19] thuandt commented on #89
x11-common thì khi cài một số fonts vào nó cũng kéo theo mà.
Tụi này chiếm không nhiều space đâu, đống locale/docs/man chiếm mới nhiều

[2013-08-03 02:30] icy commented on #89
Mấy chú `doc`, `man`, `locales` a ngồi vặt bằng tay hết rồi. Có cái `localpurge` mà cũng chưa bao giờ cài thử keke

[2013-08-03 09:38] thuandt commented on #89
`localepurge` xài nhanh hơn mà, config một lát. Chạy lệnh là có clean sạch.
Như em là mỗi lần cài cái gì localepurge nó tự clean luôn.

[2013-08-03 15:17] icy commented on #89
Anh biết gói này đã lâu mà trên Arch hay Debian không có sẵn gói nên chả xài :D Giờ a không dùng `AUR` nữa keke

[2013-08-03 15:19] icy commented on #89
Anh đang nghĩ tới cách `purge` từ lúc `build` ra các gói luôn (có thể thay vì dọn sạch thì tách ra từng gói nhỏ). Câu hỏi là (1) làm thế có phát sinh các vấn đề bản quyền không (nếu có thì cũng không phải là không làm được, nhưng cần biết để xử lý sự cố), (2) làm thế có bất tiện gì không?

[2013-08-03 15:21] icy commented on #84
Okay, việc chạy một bộ `arch` (chroot) bên trong `Debian` không phải là vấn đề quá khó khăn. Một vấn đề khác là biên dịch một số gói cơ bản ngay bên trong `Debian` luôn mới điên đầu. Cái này sẽ thử làm trong tương lai gần, tạm thời chưa quan tâm.

[2013-08-03 23:57] icy commented on #82
Huy làm cái khác còn nhiều việc, cái gì khó tạm gác qua bên từ từ sẽ giải quyết được.

[2013-08-04 12:59] NgoHuy commented on #84
Việc tốt nhất em có thể làm cho dự án vẫn là đóng gói và kiểm tra môi trường build, em sẽ chịu trách nhiệm vấn đề này tốt hơn và thường xuyên cập nhật trạng thái trên github :-)

[2013-08-04 15:47] icy opened #90 "The Keysigning Party"
CC: @lokiheero @NgoHuy  @gialachoanglong @xluffy @mitsukiAR

Thời gian dự kiến: 11/8 hoặc 18/8 . Trao đổi thêm trên #theslinux và #archlinuxvn.

Tham khảo http://www.cryptnet.net/fdp/crypto/keysigning_party/en/keysigning_party.html

Bài liên quan: #78

[2013-08-04 15:47] icy commented on #90
Tài liệu về GPG http://archlinuxvn.org/doc/security/gpg/

[2013-08-04 16:17] thuandt commented on #89
`localepurge` là gói có sẵn trong debian mà :)

Còn về câu hỏi `purge` lúc build thì em nghĩ không có vấn đề gì về bản quyền, còn sự bất tiện nó chỉ xảy ra khi người dùng dùng `locale` khác. Mình không purge `en_US` và `vn_VN` thì không có vấn đề gì cả.

[2013-08-05 02:12] icy commented on #89
À thấy rồi. Bên Arch thì gói `aur` cũng lấy gói của `Debian` về xử lại.

[2013-08-05 03:05] icy commented on #90
CC: @n0b0dyvn @dynamo1411 @thuandt

[2013-08-05 03:08] n0b0dyvn commented on #90
11 với 12 em bận nha :D

[2013-08-05 03:20] icy commented on #90
Chưa có ngày cụ thể @n0b0dyvn , có gì để @xluffy  làm cái chọn để bà con vào lựa thôi.

[2013-08-05 03:33] icy commented on #75
Assign => @icy để chuẩn bị và viết cái tài liệu từ các thông tin @vothailam đã giới thiệu

[2013-08-05 03:55] viethuynhvn commented on #90
:+1:  Đăng ký tham gia :)

[2013-08-05 04:41] icy commented on #90
Okay Việt, chờ các bạn chuẩn bị và thông báo về sự kiện nhé.!

[2013-08-05 10:40] icy commented on #89
- Gỡ hết mấy bộ `python` trên máy `tiny`
- Gỡ hết các bộ `python` (trừ bộ `python2.7-minimal` để chạy con `bot`

[2013-08-05 13:16] icy commented on #89
- Trên máy `tiny` (kiến trúc `i586`), khi cài `libc6-dev` vào có thư mục to cỡ 10M là `/usr/lib/i386-linux-gnu/xen/` . Xóa :)
- Không hiểu vì lý do gì trên cả `tiny` và `l00s5r` có rất nhiều bộ `python` và `ruby` khác nhau. Phần `python` đã gỡ như đã nói ở trên. Phần ruby thì điều lạ là `ruby1.9.3` khi cài vào sẽ kéo nguyên cả họ `X11-common` và ba thứ linh tinh vào nữa. Nếu cài `ruby1.9.1` sẽ khô

[2013-08-05 13:18] icy commented on #90
Tạm thời phân công việc
1. @xluffy : Chuẩn bị mô tả, `doodle`, đối tượng, mục đích tham gia, quy mô tổ chức, thời gian, địa điểm.
2. @icy vaf @xluffy : thông báo trên các kênh thư, Facebook và twitter
3. @n0b0dyvn  và @icy: chuẩn bị tài liệu, `cheatsheet` để có thể sử dụng nhanh trong `party`

[2013-08-05 13:28] icy commented on #89
Trên `tiny`, bỏ đi các thư mục `spec`, `examples`, `tests`, ... trong các thư mục `gem` (ví dụ `puppet`) cũng giải quyết được kha khá không gian đĩa :)

[2013-08-05 13:30] icy commented on #89
Trên `tiny`, gỡ bỏ `cpp-4.6`, `cpp-4.4` (cài vô làm gì đây nhỉ!?) Thật là khỏe, giờ còn được `292 MB` đĩa trống ^^

[2013-08-05 13:43] icy commented on #58
Hi @vanhonit , khi nào bạn có thể gặp trên kênh `irc` được. Một số bạn cũng sẽ tham gia vào việc này, nên cần trao đổi nhiều hơn trước khi triển khai thực tế. Cảm ơn @vanhonit

[2013-08-05 13:49] vanhonit commented on #58
Mình lên irc hoài mà không gặp ai hết !

[2013-08-05 14:20] icy commented on #58
(đang trao đổi với @vanhonit  trên #irc)

[2013-08-06 09:20] icy commented on #90
Thông báo chính thức trên trang chủ http://theslinux.org/events/2013/08-keysigning-party/

[2013-08-12 08:16] icy opened #91 "Cải tiến / thay đổi biểu tượng của `uim` trên `systray`"
Trên nhiều giao diện đồ họa, biểu tượng của `uim` trên `systray` rất khó theo dõi, do có tới hai biểu tượng (một cái dành cho trạng thái, một cái dành cho kiểu gõ).

Có cách nào để làm rõ các biểu tượng hoặc bớt đi một trong các biểu tượng không?

[2013-08-16 14:16] NgoHuy commented on #84
Sau một thời gian cài và chạy thử em có vài quan điểm như sau
- Môi trường biên dịch  phải là môi trường nguyên bản của bản phân phối, tức là TheSlinux không `chroot` hay môi trường nào khác, em đã thử chạy trực tiếp Arch bên trong Debian được nhưng không đảm bảo được sự ổn định cũng như các vấn đề biên dich, liên kết thư viện của gói sinh ra cũng như phải vá khá nhiều chỗ.
- Em chưa hiểu rõ lắm m

[2013-08-16 14:42] icy commented on #84
On Fri, 16 Aug 2013 07:16:52 -0700
Ngô Huy notifications@github.com wrote:

Cái này từ từ làm cũng được. (Anh đã đánh dấu "low priority").

Keysiging party là một phần trong quy trình. Có chủ đề riêng về vấn đề
an toàn của các máy biên dịch. Anh không rõ là chủ đề nào, em có thể tìm
trong phần gắn nhãn "Security", bàn luận ở đó nhé. Các vấn đề an toàn
cần làm từ từ, lâu dài, ổn định.

Tạm thời phầ

[2013-08-16 15:06] NgoHuy commented on #77
Vấn đề này em sẽ chịu trách nhiệm, hẹn găp tại party keysigning  :-)

[2013-08-16 15:13] icy commented on #77
On Fri, 16 Aug 2013 08:06:09 -0700
Ngô Huy notifications@github.com wrote:

Cái này a cũng để ở `low priority` (em chú ý hướng dẫn ở phần README nhé [1]). Em có thể giới thiệu, mời các bạn tham gia vào, nhất là các bạn có kinh nghiệm. Việc ai chịu trách nhiệm thì chưa cần nói tới (em không đủ sức cho phần này, a cũng thế, qua to lớn. Từ từ làm.)

[1] https://github.com/TheSLinux/gs

##

I am ... 5

[2013-08-17 11:20] icy opened #92 "uim không làm việc với emacsclient"
Nếu dùng `emacs` thì có thể gõ tiếng Việt bình thường, nhưng nếu dùng `emacsclient` để soạn tập tin thông qua `emacs --daemon` thì sẽ không thể nào gõ được tiếng Việt. Dường như các ký tự lạ được chuyển thành các `lệnh` hay `tổ hợp phím`, làm cho `Emacs` rối bời, và báo lỗi `tổ hợp phím foobar chưa được định nghĩa`.

[2013-08-18 03:33] icy commented on #78
Nên xem phần `web of trust` trong tài liệu http://www.cs.bham.ac.uk/~mdr/teaching/modules/security/lectures/PGP.html

[2013-08-18 03:38] icy commented on #78
Priority High -> Low

[2013-08-18 03:41] icy commented on #91
@NgoHuy  coi qua mã nguồn của `uim` phần dành cho `gtk2 / systray`. Anh mới nhìn thoáng sơ trong 2 ngày qua mà chưa phát hiện cách để tạm bỏ đi biểu tượng thứ hai chỉ trạng thái của bộ gõ. Để thay đổi và thử mã nguồn em `uim` sẽ sử dụng

[code]

và có thể tạm `comment` các dòng tạo miếng vá và `autogen.sh`, `configure` để đỡ mất công chờ.

[2013-08-18 08:16] icy commented on #91
Anh làm được rồi, @NgoHuy  khỏi lo :D

[2013-08-18 13:00] NgoHuy commented on #91
em tưởng anh gửi lâu chứ mới hồi sáng, em không kiểm tra thư hehe

[2013-08-18 16:03] icy commented on #91
Fix trong
- https://github.com/TheSLinux/buildsystem/commit/d6f888efc2b0b4c25283356a552e3ef8970ee1d4
- Gói dành cho máy 64 bit: [1] , chữ ký [2]

[1] http://mirror-fpt-telecom.fpt.net/theslinux/testing/uim-vi-1.8.5-41-x86_64.pkg.tar.xz
[2] http://mirror-fpt-telecom.fpt.net/theslinux/testing/uim-vi-1.8.5-41-x86_64.pkg.tar.xz

[2013-08-18 16:03] #91 closed, assigned to icy

[2013-08-19 02:30] icy commented on #90
Hôm này chỉ có 6 bạn tham gia (Long và bạn, @n0b0dyvn, @xluffy , @NgoHuy và /me). Nội dung chỉ là trao đổi. Trừ Huy và /me có dùng thường xuyên các bạn khác thì ... hầu như không dùng. Huy không mang máy tính nên cũng không `sign` gì được. Hẹn lần `signing` kế tiếp, có thể là ở `SFD` vào cuối tháng 9.

[2013-08-19 02:30] #90 closed, assigned to xluffy

[2013-08-19 02:31] icy commented on #89
Tạm thời ổn, đóng topic lại.

[2013-08-19 02:31] icy commented on #76
@mitsukiAR  Anh nhận link em gửi rồi. Chờ em online mà không thấy đâu. Khi nào tiện trao đổi thêm nhé . Cảm ơn em nhiều.

[2013-08-19 02:51] icy commented on #63
Đã cập nhật Ruby các phiên bản mới nhất trên các máy.

[2013-08-19 10:43] icy commented on #24
- Isssues: https://api.github.com/repos/rails/rails/issue
- Comments: https://api.github.com/repos/TheSLinux/gs/issues/24/comments

[2013-08-19 10:46] icy commented on #24
API usage policy http://developer.github.com/v3/#rate-limiting

[2013-08-21 03:36] icy commented on #89
- tiny: gỡ bỏ các gói `dovecot-{sqlite,mysql,pgsql,ldap,gssapi,sieve}`

[2013-08-25 21:47] icy commented on #73
Khi nào cần thì liên hệ bên đấy là xong.

[2013-08-25 21:47] #73 closed, assigned to icy

[2013-08-25 21:52] icy commented on #65
Nội dung trong miếng vá không rõ ràng lắm. @NgoHuy có thể dùng `cherry-pick` trong `git` chớ không chép ngang như vậy được không? Hoặc dùng `merge`, `pull`. Lý do là đọc vào thấy rất nhiều thay đổi, nhưng không rõ lý do chi tiết, cũng như việc gộp nhiều `commit` vào một cái là điều nên tránh.

Ngoài ra, lỗi này đã được xử lý thế nào https://github.com/uim/uim/issues/30 ?

[2013-08-25 21:53] icy commented on #65
Lưu ý: chủ đề này _không quan trọng_, và đặt ở _ưu tiên thấp_

[2013-08-26 08:06] icy commented on #92
Chạy với lệnh `emacsclient -c` sẽ không có bất cứ vấn đề gì. Cảm ơn _n0bawk_.

[2013-08-26 08:06] #92 closed, assigned to icy

[2013-08-31 05:01] icy commented on #58
Có tiến triển gì không @vanhonit . Lâu ngày không thấy bạn online. Chúc khỏe :)

[2013-08-31 05:05] icy commented on #89
- label Weekly.

[2013-08-31 05:06] icy commented on #63
- Nâng cấp máy l00s3r
- Cần khởi động lại l00s5r (đổi nhân)

[2013-08-31 05:08] icy commented on #57
Đổi chủ đề: Hỗ trợ đăng ký nhóm thư thân thiện hơn => Tài liệu hướng dẫn đăng ký vào nhóm thư.

Trong tương lai sẽ chỉ sử dụng giao diện dòng lệnh qua thư để đăng ký tham gia, rời bỏ nhóm thư.

[2013-08-31 05:09] icy commented on #58
Đổi chủ đề: Cài đặt và quản lý l00s4r => Cài đặt mailing list

[2013-08-31 05:53] vanhonit commented on #58
Có mấy lần lên mà không thấy @icy online. Tình hình là thời gian qua bận 1 số việc cá nhân nên không triển khai được gì thêm. Sorry anh em !

[2013-08-31 05:58] icy commented on #58
Không sao. Chắc lên trễ quá nên không gặp mình thôi đấy @vanhonit . Khi nào rảnh thì tham gia tiếp nhé. Nhớ update cho mọi người biết (update ở đây hoặc nhóm thư bla bla)

[2013-08-31 07:03] vanhonit commented on #58
rất xinh lỗi về sự chậm trễ của mình ! Chắc trong khoảng 1-2tháng tới không tham gia đóng góp được gì rồi. Hy vọng sau đó sẽ tiếp tục được.

[2013-08-31 08:33] icy commented on #58
Không vấn đề gì @vanhonit . Khi nào bạn có thời gian thì tham gia thôi :)

[2013-08-31 10:40] NgoHuy commented on #57
cụ thể nhóm thư nào anh ? nếu mọi nhóm thì e không tiện cho người dùng lắm

[2013-08-31 14:25] icy commented on #57
Tất cả các nhóm thư. Tài nguyên hệ thống và con người không đủ để quản lý các trang web đâu em. Việc sử dụng email thật ra rất tiện và nhanh hơn nhiều so với cách dùng trang web. Chỉ là do ... thói quen thôi.

[2013-09-03 12:12] icy opened #93 "bug: concat không chạy như thiết kế"
Thư viện `concat` để quản lý cấu hình theo đúng thiết kế sẽ được chạy mỗi khi tập tin đích được tạo ra hay thay đổi. Tuy nhiên, hiện nay, khi xóa tập tin đích để hệ thống `puppet` tạo ra tập tin mới, thì `concat` bị bỏ qua.

[2013-09-04 06:10] icy commented on #93
Ruby 1.8 với Ruby 1.9 quả là khác xa nhau :D Ruby DSL trong Puppet đúng là điên :D.

Fix trong ca343fecba1be36a96f2447e1ca209e27f4dd7e4

[2013-09-04 06:10] #93 closed, assigned to icy

[2013-09-07 15:15] icy commented on #58
status -> Testing

[2013-09-07 15:17] icy commented on #48
Status: New idea in low priority, Put in BackLog no-one takes care. An not-important feature request

[2013-09-07 15:18] icy commented on #24
assign luffy => icy

[2013-09-07 22:18] icy commented on #58
CC: @TheSLinux/developers

Đang thử nghiệm hệ thống mailing list mới. Các bạn có thể thử cho mình biết nhé. Cảm ơn các bạn.

[2013-09-08 15:29] icy commented on #58
- Đã đặt toàn bộ cấu hình hệ thống email vào puppet
- Nhóm thư mới _questions at domain_. Để đăng ký, gửi thư tới _ecartis at domain_ với chủ đề là _subscribe questions_. Thay _domain_ bằng _lists.theslinux.org_

[2013-09-08 15:58] ck196 commented on #58
[code]

Nhóm thư mới questions at domain. Để đăng ký, gửi thư tới ecartis at domain với chủ để là subscribe questions. Thay domain bằng lists.theslinux.org

—Reply to this email directly or view it on GitHub.

[2013-09-09 00:28] icy commented on #58
Sao thư trống trơn vậy @monkeykju ?

[2013-09-12 10:50] NgoHuy commented on #48
em thấy có cái này trên AUR, ta có thể viết lại theo được

https://aur.archlinux.org/packages/backports-patched/

[2013-09-12 10:56] icy commented on #48
On Thu, 12 Sep 2013 03:50:39 -0700
Ngô Huy notifications@github.com wrote:

Tạm thời bỏ qua chú backports này, không có thời gian :D

[2013-09-12 12:08] icy commented on #58
CC: @TheSLinux/developers

Đã xong, mừng quá trời :) Các việc tiếp theo
- Thông báo, và chuyển qua nhóm thư mới (XONG)
- Cập nhật tài liệu trên trang chủ (XONG)
- Đặt các archiver vào nhóm thư mới (ĐANG)
- Cài đặt chế độ sao lưu cho hệ thống nhóm thư
- Đặt các cấu hình và thông tin vào git repository

Bạn nào có thể giúp mình không?

[2013-09-13 04:23] icy commented on #48
Change G1 => G2

[2013-09-13 04:24] icy commented on #57
Đã xong. Xem thêm ở #58 và http://theslinux.org/lists/ (http://theslinux.org/lists/en/)

[2013-09-13 04:24] #57 closed, assigned to nobody

[2013-09-13 04:47] icy commented on #43
Dùng profile không cần quan tâm cái này.

[2013-09-13 04:47] #43 closed, assigned to thuandt

[2013-09-13 04:49] icy commented on #24
Sử dụng hệ thống mail để sao  lưu các thông tư kể từ ngày hôm nay.
TODO: Liên hệ github để lấy mxbox cũ, hoặc chuyển tin từ email cũ sang.

[2013-09-13 04:59] #52 closed, assigned to icy

[2013-09-13 05:18] icy commented on #72
Không cần thiết. Các nhóm thư đều có rss để theo dõi.

[2013-09-13 05:18] #72 closed, assigned to nobody

[2013-09-13 05:55] #89 closed, assigned to nobody

[2013-09-13 05:56] icy commented on #89
Cần kiểm soát lúc cài vào.

[2013-09-13 06:32] icy commented on #24
Đóng chủ đề này lại thôi :)

[2013-09-13 13:53] icy commented on #58
@xluffy  hay @NgoHuy  kiểm tra mình tính năng digest nhé. Thanks.

[2013-09-13 13:53] icy commented on #58
Tạm gán lại (@icy => @xluffy )

[2013-09-14 03:11] icy commented on #80
Không cần thiết.

[2013-09-14 03:11] #80 closed, assigned to icy

[2013-09-14 08:42] #12 closed, assigned to nobody

[2013-09-14 08:49] #74 closed, assigned to icy

[2013-09-16 07:30] icy commented on #41
@NgoHuy  xem lại nhé http://www.mail-archive.com/hackers@lists.theslinux.org/msg00000.html

[2013-09-16 14:26] icy opened #94 "Đồng bộ github với nhóm thư bugs@lists.theslinux.org"
Xem thêm #58

[2013-09-16 15:56] #54 closed, assigned to icy

[2013-09-18 11:39] icy commented on #58
Gán lại cho @icy

[2013-09-18 11:40] icy commented on #94
Xem thêm http://developer.github.com/v3/issues/

[2013-09-18 12:04] icy opened #95 "Nhóm thư không cài đúng chữ ký"
Khi thư gửi từ github tới nhóm thư bugs@, chữ ký của hệ thống Ecartis sẽ bị bỏ qua. Lý do là phần chữ ký thêm vào chưa đúng chỗ. Xem dưới đây

[code]

[2013-09-18 12:05] icy commented on #95
Trong ví dụ trên, ta thấy phần `HTML` đi theo sau phần văn bản gọn, và phần chữ ký mới thêm vào thì lại không thuộc vào phần dành cho `text/plain`.

[2013-09-18 12:16] l00s5r commented on #95
Một ví dụ để so sánh sự thay đổi của hiệu quả của _humanize-quotedprintable_

[2013-09-26 05:45] icy opened #96 "Digest mode của nhóm thư không làm việc"
Việc đăng ký digest mode thành công, nhưng thành viên không nhận thư theo chế độ `digest`.

[2013-10-04 10:00] icy commented on #84
Đang lập môi trường biên dịch mới trên máy `phant6m` http://m3.theslinux.org/l00s/6r/

[2013-10-04 17:36] icy opened #97 "homepage: drop-down menu không làm việc trên OperaMini"
Xem thêm https://github.com/TheSLinux/homepage/commit/e3b82cc9fb9df6f6666f1c262643720c2b6ec2af

[2013-10-07 04:48] icy commented on #97
This is a _featured bug_, that happens Opera Mini ;)

[2013-10-07 04:48] #97 closed, assigned to nobody

[2013-10-08 04:43] icy opened #98 "Cài đặt các máy KVM trên phant6m"
Xem thông báo http://www.mail-archive.com/hackers@lists.theslinux.org/msg00004.html

[2013-10-08 04:51] icy opened #99 "Tạo nhóm thư mới :announce hoặc :news"
Mục đích là để thông báo các tin chính, quan trọng nhất về dự án.

[2013-10-12 11:34] icy opened #100 "Mirror FPT cho ArchLinux không cập nhật"
@lokiheero  kiểm tra giúp gần đây mirror của ArchLinux ở FPT không thấy cập nhật, trong khi các kho khác có nhiều gói mới hơn. Thanks!

[2013-10-14 01:44] icy commented on #99
Đã tạo nhóm thư _news_ và _status_. Cần điều chỉnh các cấu hình của _nginx_ và tài liệu

[2013-10-14 03:51] icy commented on #100
cc @TheSLinux/developers

Mirror đã có hàng mới nhất. Cảm ơn @lokiheero  rất nhiều.

[2013-10-14 03:51] #100 closed, assigned to lokiheero

[2013-10-14 14:07] #99 closed, assigned to icy

[2013-10-14 14:08] #58 closed, assigned to icy

[2013-10-14 14:09] icy commented on #64
-> won't fix

[2013-10-14 14:09] #64 closed, assigned to icy

[2013-10-14 14:09] icy commented on #49
Gán lại cho @NgoHuy . Sẽ thử nghiệm trên phant6m2

[2013-10-14 14:19] icy opened #101 "Tắt web mirror ở Việt Nam (m3.theslinux.org)"
Do các sự cố không lường trước của máy dịch vụ `l00s5r`, web mirror trên máy này sẽ được tắt. Máy `l00s5r` sẽ được dùng để phục vụ cho cách dịch vụ thư và mấy thứ linh tinh khác.

[2013-10-15 07:26] icy opened #102 "Điều chỉnh giao diện trang web cho thiết bị mobile"
Hiện tại, cỡ chữ rất nhỏ của trang web khi xem trên iphone khiến người đọc mệt mỏi và chuyển trang không chính xác.

[2013-10-15 07:28] icy commented on #96
Tạm thời tắt chế độ `digest` trên tất cả nhóm thư.

[2013-10-15 12:52] icy commented on #48
=> won't fix

[2013-10-15 12:52] #48 closed, assigned to nobody

[2013-10-15 16:49] thuandt commented on #49
Thử nghiệm cái này là thử nghiệm như nào hả anh @icy ?
Cái này hữu ích với con SSD của em :)

[2013-10-17 14:22] icy commented on #49
@thuandt Dùng thử để biết cách cấu hình, cách thêm bớt, ... @NgoHuy  đang chuẩn bị thử thì bão tới, cúp điện, giờ máy vẫn chưa có mà thử :)

[2013-10-17 15:55] icy opened #103 "Không thể kết nối vào Mirror FPT để tải gói lên"
Mình kết nối vào FTP server để vài gói lên thì bị báo lỗi "Authentication failed". T. coi giúp nhé. Thanks.

[code]

[2013-10-18 07:51] icy commented on #103
Fixed. Thanks @lokiheero

[2013-10-21 03:23] icy commented on #101
=> in-progress

[2013-10-24 07:13] icy commented on #98
phant6m shutdown information https://github.com/TheSLinux/homepage/commit/6af97c26a49affef30c327f9a5651b149b5abfb4

[2013-10-24 07:13] #98 closed, assigned to nobody

[2013-10-24 07:14] icy commented on #76
Liên lạc với Khoa để hỗ trợ nơi in áo.

[2013-10-24 07:15] icy commented on #101
Step 1: Tắt liên kết trên trang chủ https://github.com/TheSLinux/homepage/commit/c682496e2fc95ebb575fbd2cc8535c1b615215c2

[2013-10-29 02:42] icy opened #104 "Tập tin hỏng trên ArchLinux mirror ở FPT"
Một vài tập tin bị hỏng (có kích thước = 0) nằm trên mirror của ArchLinux. Ví dụ

[code]

[2013-10-29 02:44] icy commented on #104
Xem screenshot đi kèm http://www.enlightenment.org/ss/e-526f20d47e7a23.02450174.jpg

Giải thích là do sự cố trên hệ thống tập tin ;)

[2013-10-30 04:53] icy commented on #104
Đã cập nhật. Thanks @lokiheero !

[2013-10-30 04:53] #104 closed, assigned to lokiheero

[2013-11-01 04:36] icy commented on #86
Do IP mới của `l00s5r` thay đổi nên R. DNS cho máy này chưa được cập nhật.

[code]

[2013-11-02 01:59] icy commented on #101
Step 2: Điều chỉnh tường lửa trên `l00s5r`, và trỏ http://m3.theslinux.org/ về `m0`.

[2013-11-02 02:14] icy commented on #77
Trao đổi trên nhóm thư http://www.mail-archive.com/questions@lists.theslinux.org/msg00022.html

[2013-11-02 03:41] icy commented on #86
Đã cập nhật thông tin rDNS

[code]

[2013-11-02 03:41] #86 closed, assigned to icy

[2013-11-02 03:52] icy opened #105 "Tạo mirror của hệ thống nhóm thư"
Hiện tại, các nhóm thư chỉ chạy trên máy `l00s5r` và khi máy này có sự cố tất cả các nhóm thư đề ngừng hoạt động.

Cần tạo ra một `mirror` của các nhóm thư. Việc chuyển đổi qua lại giữa các nhóm thư sẽ được thực hiện bằng tay.

[2013-11-02 11:27] icy commented on #95
Tìm không thấy thư viện nào chuyên để xử lý, lọc các phần khác nhau của `email`. Thật là rắc rối

[2013-11-02 11:30] icy commented on #13
Sẽ không hỗ trợ kịp trong dòng G1 sắp tới.

[2013-11-02 11:37] icy commented on #84
Máy `phant6m` tạm thời không được sử dụng làm môi trường biên dịch cuối cùng, mà để dành cho việc biên dịch thử nghiệm, và cung cấp môi trường làm việc cho các thành viên của dự án. Xem thêm phần lịch sử ở trang riêng của máy `phant6m`.

[2013-11-02 12:54] icy commented on #30
Các quy tắc thẩm mỹ được thể hiện trong kiểu gõ truyền thống. Không cần phải thêm các quy tắc mới.

[2013-11-02 12:54] #30 closed, assigned to icy

[2013-11-02 13:05] icy commented on #78
=> Đóng

[2013-11-02 13:05] #78 closed, assigned to icy

[2013-11-02 13:06] icy commented on #101
=> Đóng
(Còn phải điều chỉnh các `hook`, nhưng không cần thiết)

[2013-11-02 13:06] #101 closed, assigned to nobody

[2013-11-02 13:49] icy commented on #95
Phiên bản đầu tiên của `lọc` xóa phần HTML của thư. Chữ ký sẽ bị nhân đôi.

[2013-11-02 13:52] icy commented on #95
Đây là thư thử nghiệm. Nếu bạn nhìn thấy thư này, vui lòng bỏ qua.

[2013-11-02 13:56] icy commented on #95
Mặc dầu chữ ký "bị nhân đôi" (xem mã dưới đây), nhưng do Ecartis chèn "vội vã" phần chữ ký vào các email nhiều phần, phần chữ ký do Ecartis xem vào chỉ thấy được khi xem mã nguồn gốc của thư. Một lỗi thú vị :D

[code]

[2013-11-02 13:59] icy commented on #95
Tạm thời đóng chủ đề này lại.

Lưu ý là tất cả các phần HTML của thư sẽ bị bỏ đi. Điều này đúng với mọi nhóm thư!

[2013-11-02 14:01] NgoHuy commented on #95
Nên đưa vào quy tắc chung cho nhóm thư sau anh ah

[2013-11-02 14:04] icy commented on #95
Một lưu là với các thư được "ký số"

[code]

thì không thể can thiệp để thêm bớt `footer`.

[2013-11-02 14:04] icy commented on #95
=> Đóng.

[2013-11-02 14:04] #95 closed, assigned to icy

[2013-11-02 14:14] icy commented on #94
Hiện tại chỉ có một chiều từ Github đến nhóm thư `bugs`. Nếu trả lời trên nhóm thư thì bà con sẽ không cập nhật được thông tin trên Github :) Để "gửi" thông tin lên Github thì dùng một email với địa chỉ ngẫu nhiên do Github tạo ra, hoặc phải dùng Api ở trên. Việc này phức tạp quá thể :D

[2013-11-02 14:20] icy commented on #95
Thư này "thoát" http://www.mail-archive.com/bugs@lists.theslinux.org/msg00067.html . Lý do là phần `base64` đầu tiên được nhận biết còn phần sau bị bỏ qua.

[2013-11-02 14:30] icy commented on #96
Đây là điều đáng buồn. Nhưng tính năng `digest` của Ecartis rất xấu xí, chưa kể có vấn đề với encoding.

Giải pháp: Tắt hẳn tính năng `digest`. :(

[2013-11-02 14:30] #96 closed, assigned to icy

[2013-11-05 06:56] icy commented on #20
=> rejected.

[2013-11-05 06:56] #20 closed, assigned to NgoHuy

[2013-11-06 04:26] icy opened #106 "Chuẩn bị tài liệu tiếng Việt cho zulucrypt"
- Tìm hiểu phần mềm zulucrypt
- Các vấn đề cơ bản của phần mềm, phạm vi sử dụng
- Các phần mềm tương tự
- Tài liệu tiếng Việt  (mức độ cơ bản)

Xem thêm #55

[2013-11-06 04:27] icy commented on #55
@sokomo  Phối hợp với @NgoHuy  để đóng gói theo định dạng của #theslinux.  Việc đóng gói ở ưu tiên thấp.

[2013-11-18 01:10] icy opened #107 "Lỗi chính tả trong commit"
Xem ví dụ https://github.com/TheSLinux/buildsystem/pull/19.patch .
- Sai: Origin Maitainer. Cần chỉnh lại: Original Maintainer
- Origin cũng cần được chỉnh lại Original ở các vị trí khác.

[2013-11-18 06:06] NgoHuy commented on #107
chết thật hôm nọ xem commit của anh em đã sửa chỗ đó xong chưa merge với cái bản cũ, em sẽ sửa lại tòan bộ, Cảm ơn anh đã review

[2013-11-18 06:20] icy commented on #107
note: Có 4 gói a đã merge vào trong repo chính

[2013-11-21 01:31] #107 closed, assigned to NgoHuy

[2013-12-24 07:12] tdan commented on #102
Xin chào dự án, mình đã chỉnh sửa lại giao diện website để thân thiện hơn với mobile. Giao diện mới đã được test trên Nexus 4, 7 và iPhone 5.
Link bản vá http://pastebin.com/hwmMcny2.

[2013-12-24 14:56] thuandt commented on #102
01 - Vote ban vì khoe smartphone và tablet trá hình
02 - Pull Request trên github đi, ai đời luser gạo cội lại hem dùng git được :-1:

[2013-12-24 18:39] tdan commented on #102
Toàn hàng đi mượn cả. Với lại tôi cũng chỉnh sửa 1 chút thôi, ko có gì nhiều nhặn để làm pull request

[2013-12-24 21:53] icy commented on #102
Cảm ơn @tdan mình sẽ trộn vào nhánh chính sớm!

[2013-12-25 07:30] thuandt commented on #102
@tdan ít nhiều cũng pull request được hết mà :)

[2013-12-25 17:21] icy commented on #102
Không thể `patch` được, @tdan xem tại sao !?

[code]

[2013-12-25 17:50] icy commented on #102
@tdan: Em điều chỉnh trên nhánh `master` là nhánh chỉ dùng để điều chỉnh nội dung. Các điều chỉnh về giao diện và mã Ruby cần thực hiện trên nhánh `core`. Anh đã thử trộn và đảo lại như cũ do không phù hợp. Anh cũng đã điều chỉnh lại tài liệu để tránh vấn đề tương tự trong tương lai.
- Miếng vá của em https://github.com/TheSLinux/homepage/commit/86211ffb0762775d9312e2e58a497e9f9fdb4b08
- Và đảo lạ

[2013-12-28 02:41] tdan commented on #102
Vâng ạ, em sẽ rút kinh nghiệm

[2013-12-31 23:40] icy opened #108 "Chuyển (đổi) l00s5r -> l00s7r"
Do các vấn đề network của l00s5r xảy ra khá thường xuyên làm ảnh hưởng đến hệ thống nhóm thư và vài thứ khác, dự án phải chuyển các chức năng cơ bản của máy l00s5r qua máy l00s7r (phải mua thêm).

[2014-01-07 00:09] icy commented on #108
Chờ cuối tháng này DigitalOcean có DC mới ở châu Á sẽ đăng ký một máy ;)

[2014-01-20 03:30] NgoHuy opened #109 "Nhóm thư hackers bị lỗi chữ kí cuối thư"
Hiện tại, nhóm thư hackers bị một lỗi khá khó hiểu là sau dòng "Ending PGP Signature" có một dòng không thể đọc được do không phải kí tự unicode.

Ví dụ:
N�����r��y���^�+-��$z�%��l���)�Ɗ�W����֧zf���q���b��-��%�{���0��l���rۛ���r��z����N������(�f�v�h�Ǆq���2�צ�Ǭ���r�^lp==

Mail Client ảnh hưởng: Thunderbird.

[2014-01-20 03:35] icy commented on #109
Đây là lỗi đã biết của hệ thống _ecartis_, khi nó luôn cố gắng chèn chữ ký của nhóm thư vào cuối thư bất kể điều kiện. Dòng rồng rắn ở trên là do trình duyệt email cố giải mã phần nội dung (chữ ký nhóm thư) chưa mã hóa.

Để giải quyết vấn đề, cần thêm vào một `header` để `ecartis` nhận diện điều kiện thêm chữ ký, ngoài ra cũng phải hiệu chỉnh phần thêm chữ ký (đoạn này viết bằng C nên mình hơi nản

[2014-01-20 09:10] icy opened #110 "Thỏa thuận giữa các thành viên đội phát triển (HA)"
Nội dung thỏa thuận: http://theslinux.org/hackers/HA/
Trao đổi trên nhóm thư http://www.mail-archive.com/hackers@lists.theslinux.org/msg00073.html
## Đặt vấn đề

Trong dự án `TheSLinux` sẽ có phần cơ sở hạ tầng do các nhà tài trợ cung cấp,
do chính dự án mua sắm để phục vụ công việc. Một số bạn sẽ tham gia với tư
cách `sysadmin`, một số bạn khác thì sử dụng các máy để biên dịch, thử nghiệm.
Khi dự

[2014-01-20 11:34] NgoHuy commented on #110
Severus đã kí

[2014-01-22 08:31] icy commented on #102
@tdan : Bạn có thời gian chỉnh trên nhánh _core_ và tạo pull request nhé. Khi mình dùng mã của bạn trên nhánh _master_ thì phát sinh nhiều lỗi. Mình cũng thay đổi cỡ chữ của thanh menu để xem vừa trên Iphone (menu không bị tách thành hai dòng.)

Cảm ơn bạn nhiều.

[2014-01-23 18:42] tdan commented on #102
vâng, em sẽ thu xếp thời gian cuối tuần này để sửa

[2014-01-25 04:10] icy commented on #110
Xác nhận!

[2014-01-25 08:58] trung-ng commented on #110
Xác Nhận

[2014-01-26 14:05] sokomo commented on #110
Kitarousa / Sokomo đã kí.

[2014-01-28 23:04] tdan commented on #102
@icy: Em đã chỉnh lại code, test = Responsive Design View trên FF thì thấy ok. Anh clone về, test lại rồi báo lỗi cho em nhé.
Code em commit ở trong này: https://github.com/tdan/homepage

[2014-01-29 06:24] icy commented on #109
Đã fix, nhờ sử dụng bộ điều chỉnh "footer" riêng.

[2014-01-29 06:24] #109 closed, assigned to icy

[2014-01-29 06:26] icy commented on #110
Đổi tiêu đề
- Cũ: Non-disclosure agreement (NDA)
- Mới: Thỏa thuận giữa các thành viên đội phát triển (HA)

[2014-01-29 06:27] icy commented on #105
Liên quan: #108

[2014-01-29 06:29] icy commented on #102
Cảm ơn @tdan mình sẽ xem và trộn nếu không có vấn đề gì!

[2014-02-07 08:02] icy opened #111 "Môi trường staging cho trang web dự án"
cc: @tdan

Môi trường Staging cho phép xem trước các thay đổi (giao diện, bố cục) của trang web, trước khi các thay đổi được dùng chính thức cho trang web của dự án.

Cần tạo ra một nhánh riêng (staging, gồm có `contents-staging` hoặc `core-staging`), một số thành viên có thể push trực tiếp vào các nhánh này. Thông qua `pull request` các thay đổi sẽ được trộn vào nhánh chính (`core` và `master`).

[2014-02-07 08:03] icy commented on #111
Liên quan: #102 và https://github.com/TheSLinux/homepage/pull/1

[2014-02-08 04:50] tdan commented on #111
@icy: Em đã tạo 1 nhánh mới là core-staging trong repo; phần code chỉnh sửa web cũng được cho vào đấy (đã xóa đi trong nhánh master).
https://github.com/tdan/homepage

[2014-02-08 14:43] icy commented on #108
DigitalOcean vẫn chưa có DC mới ở châu Á :)

Dù sao, máy mới l00s7r đã lên đàn và hoạt động chính thức. Xem thêm ở tin tức http://theslinux.org/news/2014

[2014-02-08 14:51] l00s5r commented on #108
Ghi chú ở trên sẽ không được gửi vào nhóm thư bugs :0 Lý do là ... quên đặt cấu hình chuyển tiếp thư cho tài  khoản này !^^

[2014-02-08 15:14] icy commented on #111
@tdan: Mình cần tạm thêm cái `hook` trên kho git chính thức của dự án, và gửi cho @tdan quyền để `commit` thẳng vào đó . Sau mỗi `commit`, hệ thống sẽ chạy `nanoc` để tạo ra trang `staging`.

Stay tuned!

[2014-02-08 15:23] icy commented on #108
Không rõ vì lý do gì, khi đổi email thì github bắt chờ hơi lâu :D Hoặc là hàng đợi sẽ thử lại do kết nối tới `l00s5r` tạm thời bị ... bay ra ngoài?

[2014-02-08 15:33] icy commented on #108
Đóng ticket này lại. Tập trung vấn đề "đồng bộ hai nhóm thư" ở #105.

[2014-02-08 15:33] #108 closed, assigned to icy

[2014-02-08 15:36] icy commented on #105
Bài toán khó là làm thế này để đồng bộ cấu hình (danh sách thành viên) giữa hai máy . :)

[2014-03-05 10:14] icy opened #112 "Chuyển l003r -> l00s9r"
Chuyển qua máy mới và tiết kiệm được một số tiền :)

[2014-03-05 11:49] icy commented on #112
Due date: 2014/03/23

[2014-03-14 05:00] icy commented on #112
Git migration

[code]

[2014-03-15 11:52] icy commented on #112
Git migration done.

[2014-03-17 09:21] icy commented on #112
web server migration done.

[2014-03-19 09:13] icy commented on #112
Data migration complete. Ready to wipe out `l00s3r`.

[2014-03-19 12:47] #112 closed, assigned to icy

[2014-03-19 12:48] icy commented on #112
`l00s3r` destroyed!

[2014-04-12 20:25] icy commented on #111
Chưa thể cung cấp môi trường `staging` một cách an toàn được.

[2014-05-06 11:55] icy commented on #103
@lokiheero Đặt giúp anh hai IP trong whitelist của e, là l00s7r.theslinux.org và l00s9r.theslinux.org nhé. Bỏ đi các IP khác nếu có.

[2014-05-06 11:57] icy commented on #103
@lokiheero Một server mới đổi IP nên mới nhờ e chỉnh lại. Nếu dùng hostname luôn thì để hai hostname như trên cho tiện. Còn dùng IP thì dùng 162.243.136.90 và 128.199.218.137

[2014-05-13 03:42] icy commented on #103
Done. Thanks @lokiheero loki

[2014-05-21 05:59] #103 closed, assigned to lokiheero

[2014-05-21 05:59] #65 closed, assigned to icy

[2014-05-21 06:00] icy commented on #65
Xem ở https://github.com/TheSLinux-forks/uim/releases/tag/uim-vi-1.8.6

[2014-05-21 06:01] icy commented on #29
Đổi chủ đề e17 => e18

[2014-05-21 06:01] icy commented on #8
Next major task: Auto-build system.

[2014-08-02 03:29] luk4hn commented on #110
Xác nhận !

[2014-08-02 03:37] icy commented on #110
Welcome onboard, @xngqhy :)

[2014-08-02 03:56] icy opened #113 "Tạo package mirror cho ArchLinux (và TheSLinux)"
## Mục đích

Tạo mirror của các gói cho ArchLinux, TheSLinux (future)
## Các bước thực hiện
1. Cài một máy ảo VirtualBox Debian 7 (squeeze), 64 bit, với thông tin sau
   - tên máy: phant6m8.theslinux.org
   - kích thước đĩa: 100GB (.vdi, dynamic size)
   - khi cài đặt, sử dụng cách phân vùng riêng (/usr/, /var, /tmp, /home/, ...) theo đề nghị của trình cài đặt Debian;
   - ip tĩnh: 10.6.8.15 (lớp

[2014-08-03 14:26] icy commented on #113
Cách đăng nhập vào server mới: Thêm vào `~/.ssh/config` các dòng sau

[code]

Sau đó dùng lệnh `ssh phant6m8` là xong.

[2014-08-03 14:34] icy commented on #113
@xngqhy Tạm thời đã ổn, cái `nginx` để a coi sẽ làm tiếp thế nào. Do bộ cấu hình a đã vứt tùm lum chưa lấy lại được :D Có gì trong tuần tới làm tiếp. Cảm ơn em nhiều!

[2014-08-04 12:27] icy commented on #113
Chuẩn bị có IP cho máy ảo :)

[2014-08-05 13:31] icy commented on #113
Tình trạng hiện tại:
1. Đã có được ip tĩnh, và đã thiết lập mirror http://f.theslinux.org/
2. Đang chạy thử kịch bản tạo mirror (https://github.com/archlinuxvn/mirror-scripts)

@xngqhy : Khi nào kịch bản thử chạy xong, a sẽ điều chỉnh các thông tin cần thiết để e có thể làm việc. A thêm em vào nhóm ghi vào https://github.com/archlinuxvn/mirror-scripts, em có thể check-out về kiểm tra thế nào (có h

[2014-08-05 16:44] luk4hn commented on #113
@icy: ok anh, em coi qua một vòng rồi, script mirror anh dự tính sẽ set cronjob hourly hay thế nào :)

P.S: cuối tuần t5-cn em đi teambuilding với cty nên sẽ offline nhé :smiley:

[2014-08-06 01:51] icy commented on #113
@xngqhy Mình sẽ chạy khoảng 6 giờ một lần, lấy gói từ các tier-1 mirror của ArchLinux.

Về thời gian thì cứ từ từ không vội đâu. :) Có nhiều vấn đề với kịch bản đó (locking, logging, bla bla). Có thời gian thì làm thêm phần theo dõi băng thông, số lượng người sử dụng, thêm phần mã nguồn, bla bla. Làm cũng sẽ biết được nhiều thứ hay :)

[2014-08-06 01:58] icy commented on #113
Đã thêm CNAME record http://f.archlinuxvn.org/

[2014-08-06 02:11] icy commented on #113
Tất cả các vấn đề :)
1. Backup cho cấu hình của phant6m8
2. Theo dõi băng thông, lượng người sử dụng
3. Cronjob cập nhật mirror từ tier-1, chuyển đổi qua lại giữa các tier-1 mirror
4. Tham khảo điều kiện sử dụng của các tierr-1 mirror
5. Locking cho kịch bản `sync.sh`
6. Tạo tài khoản riêng `mirror`
7. Điều chỉnh cache trên nginx, để xem liệt kê (index page) nhanh hơn
8. Mirror cho một số mã nguồn

[2014-08-06 04:18] icy commented on #113
9 . Tạo trang index page cho đẹp, hướng dẫn cách sử dụng mirror và vài dòng lịch sử.

[2014-08-08 03:40] icy commented on #113
10 . Tải về các tập tin iso :)

[2014-08-08 04:53] icy commented on #113
Xong: 3; 5; 6

[2014-08-09 07:08] icy commented on #113
11 . Tìm hiểu khả năng bổ sung thêm cho ArchARM, ManjaroLinux

[2014-08-15 15:08] icy commented on #113
Mirror dành cho ArchLinuxArm gần hoàn thiện http://vn.mirror.archlinuxarm.org/status.json .

Còn nhiều việc phải làm quá

12 . Kiểm tra xem cách cấu hình và điều chỉnh cấu hình mirror
13 . Tăng cường hệ thống backup và mirror backup (!?)
14 . Viết tài liệu hướng dẫn cơ bản (trang index.html) cho ArchLinuxARM
15 . Các vấn đề bảo mật, thông báo trạng thái, bla bla.

[2014-09-28 11:38] icy opened #114 "Thay thế pacman bởi trình quản lý gói s"

[2014-09-28 11:45] icy commented on #113
16 .  Tạo mirror của kho git/svn của ArchLinux

[2014-09-28 12:02] icy commented on #114
Những vấn đề của pacman
1. Không hỗ trợ rollback/downgrade
2. Xu hướng cập nhật tất cả các gói không quan tâm đến những vấn đề có thể xảy ra ở phía người dùng
3. Đồng nhất việc cài đặt (extract/update) và xử lý cấu hình (kém xa so với Debian.)
4. Cơ chế kiểm tra checksum không thật sự có hiệu quả
5. Rất chậm do cần rất nhiều tiến trình đọc / ghi vào ổ cứng
6. makepkg quá phức tạp và đầy lỗi
7. (đa

[2014-10-02 08:36] icy opened #115 "uim-vi: không gõ được AAsn (Ấn)"
Do kịch bản `upcase` chỉ sinh ra bạn cơ bản là
- toàn chữ thường
- toàn chữ hoa
- chỉ viết hoa cái đầu tiên

Nên trong bảng sinh cuối cùng không gõ tổ hợp dạng (HOA HOA thường), rốt cuộc gõ chữ Ấ không thể gõ được bằng tổ hợp `A A sn`.

Tham khảo: https://github.com/TheSLinux-forks/myquartz-scim2uim/blob/4b7b26039b9f14c9a74f8cf0982cc69c0be52cc1/bin/upcase.awk

[2014-10-20 08:47] icy opened #116 "hỗ trợ qt5 cho uim-vi"
Phiên bản hiện tại uim-vi chỉ hỗ trợ qt4. Để dùng qt5 cần trộn hoặc chọn ra thay đổi trên nhánh uim-vi để đặt vào nhánh `uim/master`. Lưu ý là `uim` chưa công bố phiên bản chính thức hỗ trợ `qt5`.

[2014-10-23 15:55] icy opened #117 "kiểm tra uim-vi trên ArchLinux 23/10/2014"
Ngày hôm nay cả hệ thống mình bị lỗi. Cuối cùng quy về hai lỗi và phải cài lại + downgrade toàn bộ hệ thống.

Lỗi 1: con chuột không hoạt động sau một vài thao tác, mặc dù bàn phím vẫn ăn bình thường. Ví dụ, khởi động máy, vào chế độ đồ họa, gõ các phím , di chuyển chuột, một lát sau thì đột nhiên con chuột không hoạt động như ý nữa, mà giống như bị kèm với phím ảo (ma) nào đó;

Lỗi 2: bộ gõ uim-v

[2014-10-23 16:05] icy commented on #117
Theo a thấy thì hình như `mouse event`, và nhiều lúc là `keyboard event` bị dồn hết vào một queue nào đó, không rõ tại sao, và sau một thời gian ngẫu nhiên tất cả các `event` đó được xả hàng ra, khiến mọi thứ rối tung lên. Điều này tương tự khi đĩa bị hỏng hoặc hệ thống phải chờ (IO wait) quá nhiều. Nhưng điều đáng ngạc nhiên, là trong khi gõ phím bình thường thì chỉ chuột là không chạy...

Kiểm t

[2014-10-23 16:06] icy commented on #117
Ví dụ, lúc này, scroll chuột bình thường. Click chuột phải bình thường. Nhưng chuột trái thì chịu chết :D

[2014-10-24 05:25] icy commented on #117
Đã giải quyết xong. Lỗi do phần cứng. Lỗi 2 có thể do cấu hình sai khi cài lại máy.

[2014-10-24 05:25] #117 closed, assigned to NgoHuy

[2014-10-25 13:51] icy opened #118 "Sử dụng nhân grsec cho máy biên dịch phant6m"
Due date => 4/11/2014

[2014-10-25 13:52] icy opened #119 "Điều chỉnh lại phân vùng cho máy biên dịch phant6m"
Due date => 4/11/2014

[2014-10-29 10:35] icy commented on #24
https://gist.github.com/unbracketed/3380407

[2014-11-05 08:43] pirackr commented on #110
Xác nhận.

[2014-11-05 08:50] dynamotn commented on #110
Xác nhận

[2014-11-07 00:57] icy opened #120 "bot: thêm hỗ trợ duyệt log (last log)"
https://github.com/archlinuxvn/gs/issues/1

Thêm lệnh `log last` hoặc `log grep` cho phép lọc ra các nội dung cuối cùng từ log của con bot

[2014-11-07 00:59] icy opened #121 "mirror-script: thêm hỗ trợ monitoring từ bot (cron plugin) và email support"
https://github.com/archlinuxvn/gs/issues/2

Bot sẽ đều đặn kiểm tra mirror (cache output trong 1 giờ) và nếu mirror không được cập nhật trong khoảng 90 phút thì sẽ cảnh báo cho các thành viên trong kênh irc, và gửi email thông báo tới các thành viên (email plugin)

Xem thử nghiệm https://github.com/archlinuxvn/irclog/commit/8bd4d9083d2483f557ee24a0091e0f83116ca49c

[2014-11-07 01:00] icy opened #122 "Thêm Huy vào nhóm quản lý mirror"
https://github.com/archlinuxvn/gs/issues/3
- shel access
- email support
- notification support

shell access => done

[2014-11-07 01:10] #119 closed, assigned to icy

[2014-11-07 02:48] icy commented on #116
Cảm ơn @NgoHuy đã qua được bước đầu tiên ngon lành. Tiếp theo nè
1. Viết tóm lại những thứ đã làm để khỏi quên. Public hay không cũng được nhưng không nên bỏ lên Facebook =)) Phần đầu tiên cần viết là mục tiêu của `uim-vi`
2. Nhánh stable hiện tại của `uim-vi` là `uim-vi-1.8` https://github.com/TheSLinux-forks/uim/commits/uim-vi-1.8 (ứng với các phiên bản `uim-vi-1.8.5`, `uim-vi-1.8.6`, ...) . A s

[2014-11-07 03:05] icy commented on #116
`uim-vi-1.9` https://github.com/TheSLinux-forks/uim/tree/uim-vi-1.9 . Nhánh này giờ giống hệ `master` của `uim`

[2014-11-07 03:37] icy opened #123 "Viết tài liệu mô tả các vấn đề về bảo mật của mirror"
Ví dụ trả lời cho các vấn đề
1. Liệu mã độc có thể phát tán qua mirror?
2. Cốt lõi của vấn đề bảo mật khi sử dụng mirror là gì?
3. Cách cấu hình chế độ bảo mật cho `pacman`

[2014-11-07 03:39] icy commented on #123
CC @NgoHuy @xngqhy @pirackr

[2014-11-07 23:21] icy opened #124 "Thêm DKIM cho hệ thống email"

[2014-11-07 23:21] icy commented on #122
Việc đang làm là tách các mirror ra từng account để tiện quản lý, không ảnh hưởng qua lại lẫn nhau.

[2014-11-07 23:29] icy opened #125 "Offline trao đổi, giới thiệu và tìm hỗ trợ cho hạ tầng của dự án"
Nội dung
- Giới thiệu hạ tầng của dự án
- Khả năng sử dụng và phát triển
- Những vấn đề cần cải thiện và nguy cơ tiềm tàng
- Những công việc cần hỗ trợ

[2014-11-07 23:30] icy opened #126 "Bổ sung storage cho phant6m"
- Mua ổ cứng => xong
- Mua thêm tray ổ cứng
- Gắn ổ cứng vào hệ thống (DSP)
- Điều chỉnh backup routine

[2014-11-08 04:51] icy commented on #118
Dời qua năm sau :)

[2014-11-08 05:23] icy opened #127 "Chuyển hệ thống email #archlinuxvn từ Zoho => l00s3r."
Có vài vấn đề khó chịu với hệ thống email của Zoho, ví dụ
- Email forwarding (cơ chế xác nhận bằng password dở hơi khi click vào link confirmation)
- Giao diện rất lung tung khó tìm kiếm
- Khó thiết lập nhóm thư (invitation bắt buộc người trong nhóm đăng ký tài khoản)

[2014-11-08 05:24] icy opened #128 "Điều chỉnh spf.theslinux.org"
Hiện tại, chỉ có hai entry là l00s5r và l00s7r. Cần bổ sung thêm l00s9r để tiện việc gửi email :D

[2014-11-08 07:22] #127 closed, assigned to icy

[2014-11-08 07:23] #128 closed, assigned to icy

[2014-11-09 03:19] icy opened #129 "puppet.ng rewrite in puppet-3.0"
1. Remaster all classes
2. Use puppet-3.0 instead of puppet-2.7
3. Clean up the name spaces

[2014-11-09 04:28] icy commented on #129
refactor =))

[2014-11-09 09:10] icy commented on #129
1. Puppet agent runs as a daemon

[2014-11-10 00:29] icy commented on #116
@NgoHuy A thấy pull request rồi. Hơi bờm cái để  #1701a12a thì không có link ,  1701a12a thì sẽ có :) Thôi không sao hôm nay a sẽ coi và merge vào nhánh chính.

[2014-11-10 00:50] NgoHuy commented on #116
há, giờ em mới biết có vụ này =))

[2014-11-10 14:54] icy commented on #122
- archlinux: account `archlinux`
- archlinuxarm: account `archlinuxarm`

[2014-11-10 15:02] icy commented on #122
@NgoHuy đã có account đăng nhập vào `phant6m8`, sử dụng port forwarding như trước đây e đã biết, nhưng với port `2268`.

@NgoHuy và @xngqhy : giờ hai bạn có quyền quản lý mirror như nhau. Sau khi đăng nhập thì sử dụng `sudo` để chuyển đến từng account riêng. Tuy cùng kịch bản nhưng do locking mà mỗi account chỉ có thể cập nhật đúng một kho thôi. Xem commit https://github.com/archlinuxvn/mirror-scr

[2014-11-10 15:03] icy commented on #122
@xngqhy Với mirror dành cho ArchLinux, a đã tắt bớt một số tier-1 server vì nó quá chậm.

[2014-11-10 15:08] icy opened #130 "uim-vi-1.9: review, kiểm tra và đóng gói"
- Review các thay đổi @NgoHuy thực hiện trên https://github.com/TheSLinux-forks/uim/pull/1
- Kiểm tra các tính năng cơ bản
- Kiểm tra nếu có vấn đề với ứng dụng cũ (chuẩn bị tài liệu)
- Kiểm tra cho các ứng dụng qt5
- Đóng gói để sử dụng lâu dài

[2014-11-10 15:10] #77 closed, assigned to icy

[2014-11-10 15:15] icy commented on #116
Xem thêm #130

[2014-11-10 15:18] icy opened #131 "linux zine!"
cc: @dynamotn

Các ý tưởng để tạo một chỗ chung tóm tắt các tin vắn liên quan tới Linux trong tuần (tháng).

[2014-11-10 15:19] #105 closed, assigned to icy

[2014-11-11 00:18] NgoHuy commented on #122
`Không làm bất cứ thứ gì rồ dại`, ="= em sẽ làm việc trên #123

[2014-11-11 08:31] icy opened #132 "uim-vi-unikey bridge"
I don't need to type more. The subject tells you everything ;)

[2014-11-12 07:58] #113 closed, assigned to luk4hn

[2014-11-18 03:21] icy opened #133 "uim lỗi với firefox vào oxygen-gtk2"
Duy Hùng (Skype group) xác nhận là khi điều chỉnh tập tin `/etc/gtk-2.0/gtkrc or ~/.gtkrc-2.0` để hỗ trợ `uim/gtk` (thêm vào tập tin đó dòng `im_module_file "/etc/gtk-2.0/gtk.immodules"`) thì giao diện `oxygen-gtk2` sẽ bị ảnh hưởng, khiến giao diện kde chung không đồng nhất.

[2014-11-19 01:03] icy opened #134 "phant6m: kiểm tra độc lập storage mới gắn thêm"
Storage mới gắn thêm có tốc độ ghi rất chậm, khoảng 10MB/s đến 19MB/s. Mặc dù là ổ SATA3 nhưng máy chỉ nhận ra 3Gbps (do hạn chế của controller), nhưng tốc độ ghi thực tế cho thấy có điều gì đó chưa đúng . Không thấy thông tin đặc biệt gì trong kernel log do module `hpsa` sinh ra. Đó là module điều khiển `HP smart array P410i`

[2014-11-19 01:05] #122 closed, assigned to icy

[2014-11-19 01:07] icy commented on #126
Xem thêm vấn đề ở #134 .

Storage đã gắn thêm, nhưng có vấn đề với tốc độ đọc ghi.

Tổng chi phí cứng: ổ cứng (1.2 triệu) + tray (600 ngàn)

[2014-11-19 01:07] #126 closed, assigned to nobody

[2014-11-19 01:08] icy commented on #115
Cái này xem như một `feature` đúng thiết kế của `upbase.awk` chứ không phải một `bug`. Nếu thật sự cần (!?) thì sẽ thêm vào.

[2014-11-19 01:08] #115 closed, assigned to icy

[2014-11-19 04:43] icy commented on #133
set => invalid.

Duy Hùng đã chỉnh được theme.

[2014-11-19 04:43] #133 closed, assigned to NgoHuy

[2014-11-19 05:47] icy opened #135 "migrate l00s7r -> l00s11r"
Giảm chi phí, thêm tiện ích :)

[2014-11-19 06:13] icy opened #136 "upgrade phant4m :)"
we need more CPUs for compiling.

[2014-11-23 04:21] icy opened #137 "upgrade nginx (-> the latest stable version 1.6.2)"
l00s5r l00s7r l00s9r phant6m8 phant6m10

[2014-11-23 04:30] icy commented on #137
còn phant6m10 lười làm quá =))

[2014-11-23 14:04] icy commented on #137
xong. Mỏi cả tay. Kịch bản cài đặt `nginx` có lỗi nên cài xong phải reboot máy vì `ssh` bị tèo.

[2014-11-23 14:04] #137 closed, assigned to icy

[2014-11-24 12:49] icy opened #138 "uim(-vi) bị lỗi với skype"
Trích từ skype chat log. Kiểu gõ `m17n-telex` hoặc `xtelex` đều bị. Tổ hợp phím để đổi bộ gõ là `^ Shift Space`.

[2014-11-25 09:57] icy opened #139 "Tạo repository các gói của TheSLinux cho người dùng ArchLinux"
- Kho http://f.theslinux.org/theslinux/

[2014-11-25 11:44] icy opened #140 "uim-vi/xim không hoạt động với Skype 4.3.0.37-3"
`uim-vi/xim` không hoạt động với `skype`, trong khi vẫn hoạt động bình thường với các ứng dụng `qt4` khác.

[2014-11-25 14:39] icy commented on #130
Khi biên dịch thì gặp lỗi, đúng chỗ mà @NgoHuy đã vá. Câu hỏi
1. Thư mục `/usr/plugins`/ lạ quá, có đúng cho `qt5` không?
2. Miếng vá của @NgoHuy (https://github.com/TheSLinux-forks/uim/pull/2) không hỗ trợ `prefix` được chỉ ra lúc chạy `sh configure` và / hoặc hỗ trợ `fakeroot`?

[code]

[2014-11-25 14:55] NgoHuy commented on #130
@icy anh đã patch đâu, anh có thể xem PKGBUILD của em
https://github.com/NgoHuy/uim/blob/uim-vi-1.9-PKGBUILD/pkgbuild/PKGBUILD

[2014-11-25 16:06] icy commented on #139
Hiện tại, repo có thể dùng như sau đây.

[code]

Hỗ trợ chữ ký có sẵn, nhưng cần phải thêm gói `theslinux-keyring` thì mới có thể dùng chữ ký được.

[2014-11-25 16:06] icy commented on #139
Lưu ý là hiện chỉ có hỗ trợ `$arch = x86_64`.

[2014-11-26 01:33] icy commented on #139
Các bước thực hiện
1. Cài đặt `theslinux-keyring`: https://github.com/TheSLinux/security-keyring
2. Cấu hình cho `pacman` (tập tin `/etc/pacman.conf`)

[code]
1. Cập nhật `pacman -Syy`

[2014-11-26 01:33] icy commented on #139
TODO: viết tài liệu hướng dẫn trên trang chủ

[2014-11-26 08:00] icy commented on #139
Note: Các bạn có thể dùng thêm `DatabaseRequired` nhé. Ví dụ,

[code]

Trong lần chạy `pacman -Sy` đầu tiên có thể thấy lỗi. Nếu chạy lần thứ hai sẽ ổn.

[2014-11-26 08:02] icy commented on #139
Có câu hỏi: khi thay đổi db, thì file `.sig` thay đổi, vậy có phát sinh vấn đề nào không ?

[2014-11-26 08:06] icy commented on #134
Đã kiểm tra trong môi trường Windows. Tốc độ ghi trung bình khoảng 100MB/s

[2014-11-26 08:44] icy commented on #139
Trả lời: không vấn đề gì :)

[2014-11-26 12:47] #139 closed, assigned to icy

[2014-11-27 15:07] icy commented on #130
https://github.com/uim/uim/pull/49
https://github.com/uim/uim/pull/50

Khi build với bản qt5, quá nhiều debug/ message do `qDebug()` in ra làm chậm hệ thống.

[2014-11-28 06:19] icy commented on #130
Xem https://github.com/TheSLinux/buildsystem/commit/0d677155d54e0d37060dd26e59b56fa690bf5ae3

[2014-11-28 06:19] #130 closed, assigned to icy

[2014-11-28 06:59] icy opened #141 "uim-vi: mô tả uim-systray kỳ lạ :)"
Hệ thống có
1. Firefox và `uim-systray` chạy ở tài khoản A
2. `skype` chạy ở tài khoản B
3. `skype` chạy ở tài khoản C
4. Ứng dụng `texmaker` (qt5) chạy ở tài khoản B

Khi đó, ở tài khoản A có thể thấy trạng thái bộ gõ của `skype` ở B và C. Hơn nữa, cài đặt danh sách kiểu gõ của A có tác dụng cho cả B và C.

Nhưng `uim-systray` của A không thể thấy trạng thái của `texmaker` trong B. Khi bật `uim-s

[2014-11-29 04:39] icy opened #142 "uim-vi@qt5-debug-git-cfd6013ebc: spawn liên tục uim-candwin-qt5 -t"
uim-candwin-qt5 -t tự nhân bản liên tục không rõ vì lý do gì. Lúc bị lúc không.

[2014-11-29 04:49] icy opened #143 "bug: pacman không dùng escape_uri nên một số gói không tải được"
`pacman` mặc định dùng `libcurl` để tải về tập tin xa. Tuy nhiên, `pacman` (`libalpm`) không sử dụng chuyển hóa `uri` của người dùng thành chuỗi `uri` hợp lệ. Ví dụ khi tải về gói này

http://f.theslinux.org/theslinux/z/x86_64/pacman%makepkg-4.1.4-1-x86_64.pkg.tar.xz

thì thông tin mà `pacman` gửi đi thật sự là `pacman%makepkg`, trong khi đúng là `pacman%25makepkg`. Server sẽ trả về lỗi `400 bad r

[2014-11-29 04:51] icy commented on #143
Trong `pacman` dành cho `ArchLinux` thì lỗi trên không thành vấn đề, do các gói của `ArchLinux` được đặt tên khá sạch sẽ. Trong `TheSLinux` thì các gói có thể chứa ký tự đặc biệt chỉ các feature. Ví dụ, `pacman%makepkg` để chỉ gói `pacman` được build với feature đặc biệt `%makepkg` (và gói này chỉ chứa mỗi tập tin `makepkg`)

[2014-11-29 05:48] icy commented on #143
Xem http://curl.haxx.se/libcurl/c/CURLOPT_URL.html

[code]

[2014-11-29 08:57] icy commented on #143
fixed in https://github.com/TheSLinux-forks/pacman/commit/b68d9dc9ab2bd56ccc2aa7933e5b7bd7650477da

[2014-11-29 08:57] #143 closed, assigned to icy

[2014-11-29 09:21] icy commented on #142
Xem thêm lỗi đã report https://github.com/uim/uim/issues/30

[2014-11-29 09:49] icy commented on #142
Tạm thời xài các gói với `candwin` bị tắt

[code]

[2014-11-29 13:51] icy commented on #139
Tài liệu http://theslinux.org/doc/buildsystem/repo_arch/

[2014-12-02 08:15] icy opened #144 "phant6m8: fix mimetype cho nginx (.tar.gz, .tar.xz, .tar.xz.sig)"
Như tiêu đề.

[2014-12-03 01:57] icy commented on #140
=> Cần mô tả điều này trong tài liệu như một `feature`

[2014-12-03 02:00] icy commented on #141
Việc bật `uim-systray` vào các thời điểm khác nhau cũng gây ra sự lộn xộn này. Nguyên nhân là do `helper` của `uim` hoạt động như một nguồn `udp broadcast`, không quan tâm tới phía nhận đạt kết quả thế nào. Nguồn `broadcast` chỉ phát ra thông tin và cho rằng mọi nơi _nó biết_ nhận được thông tin.

[2014-12-03 02:31] icy commented on #138
- "fix" trong uim-vi-1.8: https://github.com/TheSLinux-forks/uim/commit/512a3c879de680e2a628b817418a7b94c4ccc25e
- "fix" trong uim-vi-1.9: https://github.com/TheSLinux-forks/uim/commit/03e788afa5f32cada7f64f0d1d6fa3383d9bf561

[2014-12-03 02:44] #140 closed, assigned to NgoHuy

[2014-12-03 02:45] icy commented on #138
Các gói sẵn sàng trong kho riêng http://theslinux.org/doc/buildsystem/repo_arch/
- `theslinux/uim-vi-1.8.7`
- `theslinux/uim-vi@qt5-nocandwin-git-03e788afa5`

[2014-12-03 02:45] #138 closed, assigned to NgoHuy

[2014-12-03 06:29] icy opened #145 "uim-vi với skype không gõ tiếp được khi focus-out-in"
Lỗi này khi skype mất và có lại focus
- Gõ chữ bất kỳ trong Skype , đang ở `pre-edit`
- Di chuyển chuột ra ngoài làm cho `skype` mất focus
- Di chuyển chuột vào lại để `skype` có focus
- Khi đó tiếp tục gõ nhưng không hiện ra chữ nào trong skype cả
- Chờ một tí thì phun ra tùm lum.

[2014-12-03 11:10] icy commented on #145
note, skype chạy nhờ `lib32-qt`

[2014-12-05 15:01] icy commented on #145
xác nhận: vấn đề sẽ được giải quyết triệt khi sử dụng thư viện `32-bit` trên máy `64-bit`

[2014-12-05 15:02] icy opened #146 "buildsystem: tạo môi trường build với docker"

[2014-12-05 15:05] icy opened #147 "buildsystem: cách tải về một `commit` bất kỳ từ github"
`Github` cho phép tải về `archive` ứng với một `commit` bất kỳ. Vấn đề là trong `archive` thu được thì tên thư mục sử dụng `hash string (full)` của `commit`, trong khi liên kết dùng để tải về lại dùng bản ngắn (`short`) của `commit hash`.

Ví dụ:
- Link tải về https://github.com/icy/google-group-crawler/commit/bb74726e58
- Thư mục thu được: `google-group-crawler-bb74726e58d3f04a45ae205f33fd6973d10

[2014-12-05 15:11] icy opened #148 "uim-vi: thêm PACKAGE_FEATURE+=lib32"
Để tạo các thư viện cần thiết cho ứng dụng 32 bit dùng trên máy 64 bit.

[2014-12-05 15:15] icy commented on #145
note: khi `focus-out` thì trên ứng dụng `skype`, chữ đang gõ bị mất. trên ứng dụng `gtk` như `pidgin` thì chữ đang gõ sẽ được ... `commit`. Đúng là rối như canh hẹ =))

[2014-12-05 15:36] icy opened #149 "uim-vi: kiểm tra với .... Wayland"
@NgoHuy xem có vấn đề gì hông nhé :^^

[2014-12-06 05:26] icy opened #150 "empty strings $provides and $conflicts makes #makepkg stupid"
Scope:
- `pacman=4.1.6`
- `_utils=2.2.0`

Wrong thing:

[code]

If `${provides[@]}` is currently empty, we will see in `pkg/.PKGINFO`

[code]

and the final package knows nothing about its dependencies.

Right thing:

[code]

Within this fix, we will have in the `pkg/.PKGINFO`

[code]

and the final package has correct dependency information.

This should be a bug in `makepkg` that doesn't check f

[2014-12-07 13:26] icy commented on #148
Xong trong gói `_utils` mới nhất (phiên bản `>2.3.0`; tốt nhất dùng `2.3.1`)

[2014-12-07 13:26] #148 closed, assigned to icy

[2014-12-07 13:27] icy commented on #145
Fix trong `uim-vi%lib32-git-512a3c879d 1.9-1` và trong https://github.com/TheSLinux/buildsystem/commit/81b47ea1f10c06628806ee42f792c0ac6723ffb6

[2014-12-07 13:27] #145 closed, assigned to NgoHuy

[2014-12-07 13:30] icy commented on #141
Sau #145 (http://theslinux.org/bugs/145) thì tài khoản `B` hay `C` phải chạy riêng `uim-systray` để dùng với `skype`. Các ứng dụng khác cũng vậy. Trước khi chỉnh #145, thì `qt4` sử dụng cơ chế chéo (`cross`) để dùng thư viện `input` từ tài khoản `A`, nên mới nhấn nhá thông tin qua `uim-systray` của `A` được.

[2014-12-07 13:30] #141 closed, assigned to nobody

[2014-12-07 13:33] icy commented on #145
Tài liệu liên quan http://doc.qt.digia.com/4.2/plugins-howto.html#the-build-key

[2014-12-07 14:29] icy commented on #144
Gợi ý: xem kết quả của lệnh `file` trên hệ thống.

[2014-12-09 09:27] icy commented on #134
Đĩa mới: http://icy.theslinux.org/s/phant6m-disk-performance.txt

[2014-12-09 09:27] #134 closed, assigned to icy

[2014-12-11 17:34] icy commented on #142
Xem thêm trong
- https://github.com/TheSLinux-forks/uim/commit/c18f5eb3821abb1342bc117975b5978f8751f40a
- https://github.com/TheSLinux-forks/uim/commit/c4ac13795083200a05fc39c340642f1fc7731bb2

[2014-12-12 02:22] icy commented on #142
Các gói hoạt động tốt trên máy `64-bit`

[code]

[2015-01-06 09:00] dynamotn commented on #131
Có lẽ đầu tiền phải lên list rss/news để qua đó dịch trước anh ạ

[2015-01-06 09:24] icy commented on #131
Vài gợi ý
1. http://lwn.net/ (có thể chung tiền mua tài khoản luôn; $10/tháng; nhưng phải coi chừng giấy phép.)
2. Weekly topics trên Hacker News (có liên quan Linux và oss). Cái này nhiều. Nên bạn nào đọc thấy cái nào hay thì note chung lại cho mọi người tham khảo / biết sau này có khi cần.
3. Một số chủ đề khác

[2015-03-16 03:41] icy opened #151 "uim-vi: critical problem with Firefox > 34"
The current `uim-vi` (1.9) can cause Firefox > 34 to crash.

Please take a look and find the cause. The first thing is to test if a similar problem occur with `uim-vi-1.8.7`

[2015-03-17 07:33] NgoHuy commented on #151
When I test uim-vi-1.8.7, problem occured again, but I found that it only occured when I use XTELEX, not m17n-vi-telex, the both uim-vi-1.8.7 and uim-vi@qt5 are affected

[2015-03-25 15:38] icy commented on #151
Trên Firefox 36: Khi vào nhóm Facebook của #archlinuxvn gửi bài thì bình thường. Tuy nhiên, khi bình luận thì treo (chỉ cần chuột di chuyển ngang khung bình luận cũng treo; `segmentation fault`).

Trên Github thì gửi bình luận bình thường đây.

Nhớ (!?) hồi xưa lên firefox 35 thì bị treo kịch liệt hơn nhiều!

[2015-03-25 15:42] icy commented on #151
Rồi thêm một cái comment trên Facebook ngon lành. Không hiểu sao. Trước đó thì crash.

Xem: https://www.facebook.com/groups/archlinuxvn/permalink/333382796855449/

[2015-03-25 15:51] icy commented on #151
Có thể tái hiện lỗi như sau đây: dùng kiểu gõ `xtelex`, đang ở khung bình luận của `facebook`, gõ vào `aa` (như vậy, sẽ đang ở chế độ chờ để hoàn tất), rồi di chuyển chuột (hoặc không cần!), thì trình duyệt sẽ bị treo ngay.

[2015-03-25 17:09] icy commented on #151
Fixed in https://github.com/TheSLinux-forks/uim/commit/ff2dbcdb40098338d55408dd96c0bf677eedfe8b .

I'm going to build new packages for new testing....

[2015-03-25 17:31] icy commented on #151
Gói mới sẵn sàng để Huy test nhé : uim-vi@qt5-nocandwin-git-ff2dbcd-1.9-2-x86_64 (đã có trên `repo` của `theslinux`.)

[2015-03-26 02:44] #151 closed, assigned to NgoHuy

[2015-03-26 03:35] icy commented on #151
@NgoHuy also tested with `midori-gtk3`, and the crash doesn't happen. However, I believe the same issue may happen in the future. We still keep this stable for now.

We don't cherry-pick the last commits to fix the similar issues on `uim-vi-1.8`. We will soon mark it _unsupported_.

[2015-03-26 03:36] #142 closed, assigned to nobody

[2015-03-26 03:46] icy commented on #135
We shut it down. https://twitter.com/TheSLinux/status/567991463708999680

[2015-03-26 03:46] #135 closed, assigned to icy

[2015-03-26 03:51] icy commented on #125
https://trello.com/c/VeeO9o31/1-offline-trinh-bay-chi-ti-t-v-infrastructure

[2015-03-26 03:51] #125 closed, assigned to nobody

[2015-03-26 03:51] #121 closed, assigned to icy

[2015-03-26 03:52] #116 closed, assigned to NgoHuy

[2015-04-03 13:06] icy opened #152 "uim-vi: lỗi khi dùng với autocompletion trong pidgin"
Cách lặp lại lỗi:
1. Vào kênh `#archlinuxvn`
2. Mời `redlotus` tham gia. Anh chàng là người duy nhất có nick bắt đầu bằng `re`
3. Gõ `re` rồi tab
3. Pidgin điền đầy đủ nick `redlotus: [e]`. Với chữ `[e]` đang preedit ở cuối cùng.

Rất khó để fix chỗ này!

[2015-04-03 13:09] icy commented on #152
Sau khi `pidgin` complete xong nếu gõ thêm bất kỳ thứ gì thì chữ `e` sẽ xuất hiện, dư ra :) Lỗi này xưa nay vẫn không thấy, chưa rõ vì sao bây giờ lại có!?

[2015-04-03 13:09] icy commented on #152
Tạm thời, sau khi `auto completion` xong, gõ `backspace` để xóa. Vừa gõ vừa kiểm soát =))

[2015-04-08 13:27] icy opened #153 "pacman: gửi lên upstream miếng vá hỗ trợ ký tự bất kỳ trong gói"
Phiên bản `pacman` (upstream) không thể nhận dạng các gói có ký tự đặc biệt (ví dụ `%`). Lý do là trên `web server`, những ký tự này được `encoded` (cụ thể, `%` trở thành `%25`), vì thế `pacman` khi chưa được vá sẽ `mù`, vì tập tin tải về có tên khác với tên mà `pacman` mong đợi (không encoded).

Xem thêm #143 và https://github.com/TheSLinux-forks/pacman/commit/b68d9dc9ab2bd56ccc2aa7933e5b7bd76504

[2015-04-08 13:29] icy opened #154 "uim-vi: gửi lên upstream yêu cầu / miếng vá về cách xử lý sự kiện focus-out"

[2015-04-08 13:30] #118 closed, assigned to icy

[2015-09-08 13:31] #124 closed, assigned to nobody

[2020-12-22 19:17] #63 closed, assigned to icy

[2020-12-22 19:17] #75 closed, assigned to icy

[2020-12-22 19:17] #76 closed, assigned to icy

[2020-12-22 19:17] #82 closed, assigned to NgoHuy

[2020-12-22 19:17] #84 closed, assigned to icy

[2020-12-22 19:17] #94 closed, assigned to icy

[2020-12-22 19:17] #102 closed, assigned to icy

[2020-12-22 19:17] #106 closed, assigned to icy

[2020-12-22 19:17] #110 closed, assigned to icy

[2020-12-22 19:17] #111 closed, assigned to icy

[2020-12-22 19:17] #114 closed, assigned to icy

[2020-12-22 19:17] #120 closed, assigned to nobody

[2020-12-22 19:17] #123 closed, assigned to NgoHuy

[2020-12-22 19:17] #129 closed, assigned to nobody

[2020-12-22 19:17] #131 closed, assigned to nobody

[2020-12-22 19:17] #132 closed, assigned to NgoHuy

[2020-12-22 19:17] #136 closed, assigned to icy

[2020-12-22 19:17] #144 closed, assigned to nobody

[2020-12-22 19:17] #146 closed, assigned to icy

[2020-12-22 19:17] #147 closed, assigned to nobody

[2020-12-22 19:17] #149 closed, assigned to NgoHuy

[2020-12-22 19:17] #150 closed, assigned to icy

[2020-12-22 19:17] #152 closed, assigned to icy

[2020-12-22 19:17] #153 closed, assigned to icy

[2020-12-22 19:17] #154 closed, assigned to icy

[2020-12-22 19:17] #5 closed, assigned to NgoHuy

[2020-12-22 19:17] #8 closed, assigned to icy

[2020-12-22 19:17] #13 closed, assigned to nobody

[2020-12-22 19:17] #15 closed, assigned to NgoHuy

[2020-12-22 19:17] #24 closed, assigned to icy

[2020-12-22 19:17] #29 closed, assigned to icy

[2020-12-22 19:17] #31 closed, assigned to NgoHuy

[2020-12-22 19:17] #36 closed, assigned to icy

[2020-12-22 19:17] #38 closed, assigned to icy

[2020-12-22 19:17] #39 closed, assigned to icy

[2020-12-22 19:17] #40 closed, assigned to nobody

[2020-12-22 19:17] #41 closed, assigned to NgoHuy

[2020-12-22 19:17] #49 closed, assigned to icy

[2020-12-22 19:17] #55 closed, assigned to icy

[2020-12-22 19:17] #61 closed, assigned to icy